<div class="t-project">
  <div class="t-project__row _head">
    <div class="t-project__cell _name">Project name</div>
    <div class="t-project__cell _bids">Bids</div>
    <div class="t-project__cell _average-bids">Average bids</div>
    <div class="t-project__cell _bid-end">Bid end date</div>
    <div class="t-project__cell _action">Action</div>
  </div>
  <div *ngFor="let project of projects"
       class="t-project__row">

    <div class="t-project__cell _name">
      <a class="t-project__link"
         [routerLink]="['/project', project.id]">{{project.name}}</a>
    </div>
    <div class="t-project__cell _bids">{{ project.bidCount }}</div>
    <div class="t-project__cell _average-bids">{{ project.bidCount === 0 ? '' : project.averageBid | number:'1.2' }}</div>
    <div class="t-project__cell _bid-end">{{ project.bidEndDate | date:'M/d/yy' }}</div>
    <div class="t-project__cell _action">
      <div class="t-project__actions">
        <button type="button"
                (click)="onNavigate(project)"
                [disabled]="project.status !== 'NEW'"
                class="t-project__action">
          <svg-use name="note" title="Edit" class="t-project__action-icon"></svg-use>
        </button>
        <span class="t-project__action-separator"></span>
        <button type="button"
                (click)="onCancel(project)"
                [disabled]="project.status !== 'NEW'"
                class="t-project__action">
          <svg-use name="cancel" title="Cancel" class="t-project__action-icon"></svg-use>
        </button>
      </div>
    </div>
  </div>
</div>
