@import '../../../styles/settings/mixin.styl'
.t-project
  display: table
  width: 100%
  padding-bottom: 50px
  &__row
    display table-row
    &._head
      .t-project
        &__cell
          border: 0
          font-size: 1.6rem
          letter-spacing: 1px
          osans(400)
          height: 75px
          vertical-align: middle
          color #fff
          &._name
            background: #1f2532
          &._bids
          &._bid-end
            background: #3fb6c0
          &._average-bids
          &._action
            background: #159aa5

  &__cell
    display table-cell
    text-align: center
    padding: 20px 0
    vertical-align: middle
    font-size 1.6rem
    osans(400)
    text-transform: uppercase
    border-bottom 1px solid #b7b7b7
    letter-spacing: 2px
    color: #454545
    &._name
      width: 33%
    &._bids
    &._average-bids
    &._bid-end
    &._action
      width: 16%

  &__actions
    display: flex
    justify-content: center
  &__action
    display: block
    cursor: pointer
    width: 20px
    height: 20px
    padding: 0 15px
    box-sizing: content-box
    svg
      width: 100%
      height: 100%
      fill: #1f2532
    &._line
      border-right: 1px solid #1f2532
  &__link
    color: #32afff
    osans(600)
