@import '../../../styles/settings/mixin.styl'

.l-project-pagination
  display: flex
  &__item
    border: 1px solid #ccc
    border-left-width: 0
    &:first-child
      border-left-width: 1px
  &__link
    display: block
    padding: 7px 15px
    color: #00bcd4
    font-size: 1.6rem
    transition: all .2s ease-in-out
    osans()
    position: relative

    &._next
    &._prev
      height: 100%
      &:after
        hv()
        width: 8px
        height: 8px
        color: #00bcd4
        border-left: 2px solid
        border-bottom: 2px solid
        trc()
    &._next
      &:after
        left: -4px
        transform: rotate(-135deg)
    &._prev
      &:after
        right: -4px
        transform: rotate(45deg)

    &._start
    &._end
      height: 100%
      &:before
      &:after
        hv()
        width: 8px
        height: 8px
        color: #00bcd4
        border-left: 2px solid
        border-bottom: 2px solid
        trc()
    &._end
      &:after
      &:before
        transform: rotate(-135deg)
      &:after
        left: 3px
      &:before
        left: -7px
    &._start
      &:after
      &:before
        transform: rotate(45deg)
      &:after
        right: -10px
      &:before
        right: 0

    &._active
    &:hover
      color: #fff
      background: #00bcd4
      &:after
      &:before
        border-color: #fff
