<div class="b-photos">
  <div class="b-photos__title">Photos</div>
  <div class="b-photos__wrapper">
    <div class="b-photos__row">
      <div class="b-photos__col">
        <div class="b-photos__img-wrapper">
          <img class="b-photos__img" src="http://placehold.it/170x170"/>
        </div>
      </div>
      <div class="b-photos__col _short">
        <div class="b-photos__img-wrapper">
          <img class="b-photos__img" src="http://placehold.it/170x170"/>
        </div>
        <div class="b-photos__img-wrapper">
          <img class="b-photos__img" src="http://placehold.it/170x170"/>
        </div>
      </div>
    </div>
    <div class="b-photos__row">
      <div class="b-photos__col _short">
        <div class="b-photos__img-wrapper">
          <img class="b-photos__img" src="http://placehold.it/170x170"/>
        </div>
      </div>
      <div class="b-photos__col _long">
        <div class="b-photos__img-wrapper">
          <img class="b-photos__img" src="http://placehold.it/170x170"/>
        </div>
      </div>
    </div>
    <div class="b-photos__row">
      <div class="b-photos__col _tall _short">
        <div class="b-photos__img-wrapper">
          <img class="b-photos__img" src="http://placehold.it/170x170"/>
        </div>
      </div>
      <div class="b-photos__col">
        <div class="b-photos__img-wrapper">
          <img class="b-photos__img" src="http://placehold.it/170x170"/>
        </div>
      </div>
    </div>
    <div class="b-photos__row">
      <div class="b-photos__col">
        <div class="b-photos__img-wrapper">
          <img class="b-photos__img" src="http://placehold.it/170x170"/>
        </div>
      </div>
      <div class="b-photos__col">
        <div class="b-photos__img-wrapper">
          <img class="b-photos__img" src="http://placehold.it/170x170"/>
        </div>
      </div>
      <div class="b-photos__col">
        <div class="b-photos__img-wrapper">
          <img class="b-photos__img" src="http://placehold.it/170x170"/>
        </div>
      </div>
    </div>
  </div>
</div>
