@import "../settings/variables.styl"
@import "../settings/mixin.styl"

.daterangepicker.ltr
  display: none
.daterangepicker.show-calendar.ltr
  font-size: 1.4rem
  display: none
  padding: 10px 15px !important
  border: 1px solid #e1e1e1
  .ranges
    text-align: right
    float: none

  select
    height: 30px
    padding: 0 10px
    border-radius: 4px
    width: auto
    border: 1px solid #e1e1e1
    cursor: pointer
    font-size: 1.4rem
  .calendar
    td
      height: 28px
      width: 40px
      vertical-align: middle
  .daterangepicker-cancel
    display: none
  .applyBtn
    margin: 5px 0 0
  .daterangepicker_input
    input
      padding: 0 10px
      height: 38px
      font-size: 1.4rem

  th
    vertical-align middle

  .prev
  .next
    &.available
      .glyphicon
        display flex
        align-items center
        justify-content center
        &:before
          ps()
          position relative
          border-left: .5rem solid $gray1f
          border-top: .5rem solid transparent
          border-bottom: .5rem solid transparent
  .prev
    &.available
      .glyphicon
        &:before
          transform: rotate(180deg)

@media screen and (max-width: 720px)
  .daterangepicker.show-calendar.ltr
    width: auto
