.wrapper
  position: relative
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow hidden
  min-height 100vh
  &__content
    flex-grow 1

.container
  max-width 1410px
  min-width: 320px
  padding 0 20px
  margin: 0 auto
