<form class="f-authorization f-default"
      novalidate
      #authForm="ngForm"
      (ngSubmit)="sendAuthorizationRequest($event, authForm)">
  <div class="f-authorization__row _col-wrap _top">
    <div class="f-authorization__col">
      <a href="#" class="f-authorization__link _facebook">
        <span class="first">
          <svg class="svg-fb" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="4.9px" height="9.9px"
               viewBox="0 0 4.9 9.9">
            <path d="M4.9 3.2H3.2v-1c0-.4.3-.5.5-.5h1.2V0H3.2C1.4 0 1 1.3 1 2.1v1.1H0v1.7h1v4.9h2.2V4.9h1.5l.2-1.7z"/>
          </svg>
        </span>
        <span>Sign up with Facebook</span>
      </a>
    </div>
    <div class="f-authorization__col">
      <a href="#" class="f-authorization__link _google">
        <span class="first">
          <svg class="svg-g" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="11.3px" height="9.9px"
               viewBox="0 0 11.3 9.9">
            <path
              d="M11.3 2.5H9.4v1.9h-.6V2.5H6.9v-.6h1.9V0h.6v1.9h1.9v.6zM6 .2c-.3.2-.8.1-1.1.3.2.1.4.2.5.4.3.4.3.9.3 1.3 0 .5-.2 1-.6 1.4-.2.3-.6.5-.8.8-.1.3 0 .5.2.6.5.4 1 .8 1.3 1.3.4.6.4 1.3.1 2-.2.6-.8 1-1.3 1.2-.7.4-1.6.4-2.4.3C1.5 9.7.9 9.5.4 9 0 8.6-.1 7.9.1 7.4c.1-.5.5-.9 1-1.1.7-.4 1.5-.4 2.3-.5 0-.1-.1-.3-.2-.4 0-.1-.2-.1-.2-.3v-.6c-.6 0-1.2-.1-1.7-.4-.4-.3-.6-.8-.7-1.3-.1-.6.1-1.4.5-1.9C1.7.3 2.6.1 3.4 0h2.8c-.1.1-.1.2-.2.2zm-2.9 6c-.5 0-1 .2-1.3.5-.4.2-.6.5-.7.8-.1.4.1.7.3 1 .3.3.7.5 1.1.6.7.1 1.4 0 2-.4.4-.2.7-.6.7-1.1 0-.4-.2-.8-.5-1.1-.4-.2-1-.4-1.6-.3zM4.4 2C4.3 1.4 4 .9 3.4.6 3.2.5 2.9.5 2.6.5c-.4.1-.6.5-.7.9-.2.6 0 1.4.4 1.9.2.4.5.7.9.7s.8-.2 1-.5c.2-.4.3-1 .2-1.5z"/>
          </svg>
        </span>
        <span>Sign up with Google+</span>
      </a>
    </div>
  </div>
  <h3 class="f-authorization__title">
    <span>Or</span>
  </h3>
  <div class="f-authorization__row _col-wrap" *ngIf="isSignUpForm">
    <div class="f-authorization__col">
      <div class="f-authorization__name">First Name</div>
      <input class="f-authorization__field"
             type="text"
             [(ngModel)]="formData.firstName"
             name="firstName"
             required
             #firstNameRef="ngModel"
             [ngClass]="{'_error': submitted && firstNameRef.errors?.required}"/>
    </div>
    <div class="f-authorization__col">
      <div class="f-authorization__name">Last Name</div>
      <input type="text"
             [(ngModel)]="formData.lastName"
             name="lastName"
             class="f-authorization__field"
             required
             #lastNameRef="ngModel"
             [ngClass]="{'_error': submitted && lastNameRef.errors?.required}"/>
    </div>
  </div>
  <div class="f-authorization__row">
    <div class="f-authorization__col">
      <div class="f-authorization__name">Email</div>
      <input class="f-authorization__field"
             type="email"
             required
             [(ngModel)]="formData.email"
             name="email"
             [email]="true"
             #emailRef="ngModel"
             [ngClass]="{'_error': submitted && (emailRef.errors?.required || emailRef.errors?.email)}"/>
    </div>
  </div>
  <div class="f-authorization__row">
    <div class="f-authorization__col">
      <div class="f-authorization__name">Password</div>
      <input class="f-authorization__field"
             type="password"
             required
             [(ngModel)]="formData.password"
             name="password"
             #passwordRef="ngModel"
             [ngClass]="{'_error': submitted && passwordRef.errors?.required}"/>
    </div>
  </div>
  <div class="f-authorization__row" *ngIf="isSignUpForm">
    <div class="f-authorization__col">
      <div class="f-authorization__name">Confirm Password</div>
      <input class="f-authorization__field"
             type="password"
             [(ngModel)]="formData.confirmPassword"
             name="confirmPassword"
             required
             #confirmPasswordRef="ngModel"
             [ngClass]="{'_error': submitted && confirmPasswordRef.errors?.required}"/>
    </div>
  </div>
  <div class="f-authorization__row" *ngIf="isSignUpForm">
    <div class="f-authorization__col">
      <div class="f-authorization__name">User Name</div>
      <input class="f-authorization__field _username"
             type="text"
             [(ngModel)]="formData.username"
             name="userName"
             required
             #userNameRef="ngModel"
             [ngClass]="{'_error': submitted && userNameRef.errors?.required}"/>
    </div>
  </div>
  <div class="f-authorization__row" *ngIf="isSignUpForm">
    <div class="f-authorization__col">
      <div class="f-authorization__name">Sign up As</div>

      <div class="f-default__labels">
        <label class="f-default__radio">
          <input class="f-default__radio-input"
                 type="radio"
                 [(ngModel)]="formData.role"
                 value="ROLE_PILOT"
                 name="role"
                 required
                 #roleRef="ngModel"
                 [ngClass]="{'_error': submitted && roleRef.errors?.required}"/>
          <span class="f-default__radio-text">Drone Pilot</span>
        </label>

        <label class="f-default__radio">
          <input class="f-default__radio-input"
                 type="radio"
                 [(ngModel)]="formData.role"
                 value="ROLE_CLIENT"
                 name="role"
                 required
                 #roleRef="ngModel"
                 [ngClass]="{'_error': submitted && roleRef.errors?.required}"/>
          <span class="f-default__radio-text">Client</span>
        </label>
      </div>
    </div>
  </div>
  <div class="f-authorization__row" *ngIf="isSignUpForm">
    <div class="f-authorization__col">
      <label class="f-authorization__chk">
        <input class="f-authorization__chk-input"
          type="checkbox"
               [(ngModel)]="isTermOfUseChecked"
               name="terms"
               required
               #termsRef="ngModel"
               [ngClass]="{'_error': submitted && termsRef.errors?.required}"/>
        <span class="f-authorization__chk-text">I agree to the <a href="/">Terms of Service</a> and <a href="/">Privacy Policy</a></span>
      </label>
    </div>
  </div>

  <button class="f-authorization__button"
          [disabled]="submitted && !authForm.form.valid">{{ getButtonTitle() }}
  </button>

  <div class="f-authorization__row">
    <!--<span class="f-authorization__text">Forgot Password?<a href="/">click here</a></span>-->
    <span class="f-authorization__text"  *ngIf="isSignUpForm">
      Already have an account? <a href="#" [routerLink]="['/login']">Login</a>
    </span>
  </div>
</form>
