@import "../../../styles/settings/variables.styl"
@import "../../../styles/settings/mixin.styl"

.f-authorization
  display: block
  border-radius 3px
  max-width 575px
  margin 0 auto
  box-shadow 0 3px 7px 0 rgba(0, 0, 0, 0.35);

  &__header
    color #fff
    background-color $gray1f
    border-radius 3px 3px 0 0
    font-size 5rem
    font-weight 400
    line-height 5rem
    padding 25px 40px

  &__content
    border-radius 0 0 3px 3px
    padding 35px 100px 25px
    background-color #fff

  a
    color #00aeff

  .f-default
    &__row
      + .f-default__row
        margin-top 20px
      &._bottom
        margin-top 50px
        color $gray1f
        font-size 1.5rem
        text-align center
      &._controls
        text-align center

    &__label
      &._checkbox
        font-size 1.4rem
        padding-left 25px
        position relative

    &__chk
      &-span
        position absolute
        left 2px
        top 2px
        width 1.6rem
        height 1.6rem

    &__text
      font-size 1.6rem
      color $gray1f
      text-align center
      &._error
        color red

  &__link
    display: block
    color: #ffffff;
    font-size: 14px;
    height: 44px;
    line-height: 40px;
    overflow: hidden;
    border-radius: 10px;
    white-space nowrap
    span
      height 44px
      vam()
    &._facebook
    &._google
      .first
        width: 45px;
        margin-right: 10px;
    &._facebook
      background-color: #4453A8;
      border: 2px solid #4453A8;
      .first
        border-right: 2px solid #4f44a8;
        background: #4f44a8;
    &._google
      background-color: #da3e2d;
      border: 2px solid #891b0f;
      .first
        border-right: 2px solid #6d1f16;
        background: #ad1100;
  svg
    fill #fff
    margin 0 auto
    position: relative
    top: 10px
  .svg-fb
    width: 10px
    height: 20px
    fill #fff
  .svg-g
    width: 22px
    height: 22px
    fill #fff
