@import "../../../styles/settings/mixin.styl"

.f-authorization
  display: block
  border-radius 4px
  padding 20px 40px
  background #262626
  &__row
    margin-bottom 16px
    &._col-wrap
      display: flex
      justify-content: space-between
      .f-authorization__col
        width: 48%
        max-width 48%
        flex-basis 48%
    &._top
      margin-bottom 20px
  &__field
    background-color: #fff;
    width: 100%;
    height: 34px;
    padding: 10px 10px 10px 17px;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    &._error
      color: rgb(252, 16, 16);
      background-color: rgb(250, 197, 197);
      border: 2px solid rgb(252, 16, 16);
    &._username
      text-transform: lowercase
  &__title
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin: 15px 0;
    position: relative
    text-align: center
    &:before
      h()
      top: 9px
      width: 80%
      height: 2px
      background rgba(#fff, 0.5)
    span
      vam()
      padding 0 10px
      background #262626
      position: relative
      z-index: 1
  &__link
    display: block
    color: #ffffff;
    font-size: 14px;
    height: 44px;
    line-height: 40px;
    overflow: hidden;
    border-radius: 10px;
    white-space nowrap
    span
      height 44px
      vam()
    &._facebook
    &._google
      .first
        width: 45px;
        margin-right: 10px;
    &._facebook
      background-color: #4453A8;
      border: 2px solid #4453A8;
      .first
        border-right: 2px solid #4f44a8;
        background: #4f44a8;
    &._google
      background-color: #da3e2d;
      border: 2px solid #891b0f;
      .first
        border-right: 2px solid #6d1f16;
        background: #ad1100;
  svg
    fill #fff
    margin 0 auto
    position: relative
    top: 10px
  .svg-fb
    width: 10px
    height: 20px
    fill #fff
  .svg-g
    width: 22px
    height: 22px
    fill #ff
  &__name
  &__text
    font-size: 14px;
    line-height: 1.2
    color: #fff;
    font-weight: 700
    margin-bottom: 16px
  &__text
    font-weight: 400
    a
      color #337ab7
      margin-left 10px
      &:hover
        color #23527c
        text-decoration: underline
  &__chk
    &-text
      font-size: 14px;
      font-weight: 400
      line-height: 16px
      color: #fff;
      padding-left 25px
      position: relative
      &:before
        ps()
        width: 16px
        height: 16px
        left: 0
        top: 0
        border 1px solid #fff
      &:after
        ps()
        display none
        top: 2px
        left: 5px
        width: 6px
        height: 10px
        border-bottom 2px solid #fff
        border-right 2px solid #fff
        transform rotate(50deg) skew(15deg)
      a
        font-size 14px
        font-weight: 700
        color #fff
        &:hover
          text-decoration: underline
    &-input
      display none
      &._error
        & + .f-authorization
          &__chk-text
            &:before
              border: 2px solid rgb(252, 16, 16);
              background-color: rgb(250, 197, 197);
      &:checked
        & + .f-authorization
          &__chk-text
            &:after
              display: block
  &__button
    background-color: #0fa9ea;
    border-radius: 6px;
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    margin: 20px auto 0;
    padding: 2px 31px;
    & + .f-authorization__row
      margin-top 16px
      margin-bottom: 0
