.b-description
  text-align: center
  &__title
    font-size 1.8rem
    color #2f2f2f
    text-transform: uppercase
    line-height: 35px
    margin-bottom: 60px
  &__subtitle
    font-size 1.6rem
    text-transform: uppercase
    color #acacac
    margin-bottom: 25px;
  &__text
    max-width: 80%
    margin: 0 auto 70px
    font-size 1.6rem
    color #535353
    line-height: 24px;
  &__rating
    &-title
      font-size 1.6rem
      text-transform: uppercase
      color #acacac
      margin-bottom: 15px;
    .svg-star
    .svg-halfstar
    .svg-emptystar
      width: 30px
      height: 29px
