@import '../../../styles/settings/mixin.styl'

.f-projects-search
  font-size 1.4rem
  letter-spacing .5px
  margin-bottom: 22px
  &__wrapper
    display flex
    justify-content: space-between
  &__input-wrapper
    width 100%
    max-width: 930px
    display flex
    position relative
    border 1px solid #1f2532
  &__input
    width 100%
    padding 8px
    font-size: 1.8rem
    background-color: #ffffff
  &__btn-search
    padding 0 33px
    background: #00bcd4
    color: #fff
    osans(400)
    font-size: 1.8rem
    letter-spacing: 3px
  &__select
    padding 0 15px
    min-width 316px
    margin-left 20px
    border 1px solid #1f2532
    border-radius 2px
    letter-spacing 3px
    background-color transparent
    appearance: none
    osans(400)
    font-size: 18px
    height: 58px

  &__select-wrapper
    position relative
    &:after
      v()
      width 0
      height 0
      top 5px
      right: 10px
      bottom: 0
      pointer-events none
      border: 5px solid
      border-color: #1f2532 transparent transparent transparent
  &__btn-refresh
    margin-left 10px
    padding 10px
    background-color #3ebcc7
    border-radius 4px

.svg-search
  width 15px
  height 15px
.svg-refresh
  width 20px
  height 20px
  margin 0 auto
