<form action="" class="f-projects-search" novalidate (submit)="onSearch()">
  <div class="f-projects-search__wrapper">
    <div class="f-projects-search__input-wrapper">
      <input name="title"
             type="text"
             class="f-projects-search__input"
             placeholder="Enter the project name"
             [(ngModel)]="_title">
      <button type="button"
              class="f-projects-search__btn-search"
              (click)="onSearch()">
        Search
      </button>
    </div>
    <div class="f-projects-search__select-wrapper">
      <select [(ngModel)]="_countPerPage"
              name="filterByCount"
              (change)="onSearch()"
              class="f-projects-search__select">
        <option [value]="value" *ngFor="let value of countOfItemsSelection"
                class="f-projects-search__option">
          Show {{value}}</option>
      </select>
    </div>
  </div>
</form>
