.m-my-projects
  &__tabs
    display flex
    border-bottom 1px solid
    margin-bottom 20px
  &__tab
    font-size 1.6rem
    padding 20px
    display flex
    cursor pointer
    &._active
      border-bottom 1px solid #3d3d3d

.svg-openforbidding
  width 16px
  height 16px
  display inline-block
  margin-right 10px
.svg-workinprocess
  width 16px
  height 16px
  display inline-block
  margin-right 10px
.svg-pastprojects
  width 16px
  height 16px
  display inline-block
  margin-right 10px
