<div class="m-my-projects">
  <div class="m-my-projects__tabs">
    <div class="m-my-projects__tab" (click)="chooseTab('openForBidding')"
         [ngClass]="{ '_active': _projectService.chooseTabFilter === 'openForBidding' }">
      <svg-use name="openforbidding"></svg-use>
      Open for bidding
    </div>
    <div class="m-my-projects__tab" (click)="chooseTab('inProcess')"
         [ngClass]="{ '_active': _projectService.chooseTabFilter === 'inProcess' }">
      <svg-use name="workinprocess"></svg-use>
      Work in progress
    </div>
    <div class="m-my-projects__tab" (click)="chooseTab('pastProjects')"
         [ngClass]="{ '_active': _projectService.chooseTabFilter === 'pastProjects' }">
      <svg-use name="pastprojects"></svg-use>
      Past projects
    </div>
  </div>
</div>
