/*
p -- page
s -- section
b -- block
pr -- block preview (pr-xxs, pr-xs, pr-s, pr-m, pr) if different sizes on site
f -- form
m -- menu
l -- list
svg -- svg grafix
i -- etc grafix
a -- img links, lone links, logos
t -- tables
title -- default titles
btn -- buttons
msg -- message - not content
modal -- modal windows
_error-*
_success-*
*/

@import 'app/styles/settings/variables'
@import 'app/styles/settings/mixin'
@import 'app/styles/settings/optimize'
@import 'app/styles/settings/fonts'
@import 'app/styles/settings/default'

@import 'app/styles/etc/helpers'
@import 'app/styles/etc/animation.styl'
@import 'app/styles/etc/buttons'
@import 'app/styles/etc/daterangepicker'
@import 'app/styles/etc/toastr'

@import 'app/styles/settings/b-default.styl'
@import 'app/styles/settings/f-default.styl'

// vendors
