.b-review
  //display: flex
  margin: 8.5rem 0;
  &__left
    flex-basis: 35%
    max-width: 35%
  &__right
    flex-basis: 65%
    max-width: 65%
  &__title
    font-size 3.6rem
    text-transform: uppercase
    color #414141
    margin-bottom: 25px;
  &__item
    font-size 1.6rem
    color #2f2f2f
    margin-bottom: 15px
  &__block
    margin-bottom: 30px
  &__text
    font-size 1.8rem
