.b-tabs
  display: flex
  border-bottom 1px solid #999
  margin-bottom: 30px
  &__item
    flex-basis: 240px
    max-width 240px
    width: 240px
  &__link
    display: flex
    align-items center
    padding 15px 8px
    font-size 2rem
    font-weight: 700
    color #4d4d4f
    &._disabled
      opacity .4
      pointer-events none
    &._active
      color: #3ebcc7
      border-bottom 2px solid #4d4d4f

  &._small &__link
    font-size: 1.6rem
    font-weight: 400
    padding: 20px
  &._small &__item
    width: auto
    flex-basis: auto
  &__svg
    margin-right: 10px
    svg
      width: 26px
      height: 26px

