@import '../../../styles/settings/variables.styl'
@import '../../../styles/settings/mixin.styl'

.b-tabs
  display: flex
  border-bottom 1px solid #999
  margin-bottom: 30px

  &__item
    flex initial
    display flex
    align-items center
    margin-right 28px
    border-bottom 6px solid transparent
    &._active
      border-color $gray1f

  &__link
    display: flex
    align-items center
    padding: 19px 5px 9px
    font-size 2.4rem
    color: $gray1f
    &._disabled
      opacity .4
      pointer-events none

  &__svg
    margin-right: 10px
    svg
      width: 28px
      height: 28px

@media screen and (max-width: 1024px)
  .b-tabs
    &__item
      border-bottom-width 4px

    &__link
      font-size: 2rem

    &__svg
      margin-right 7px
      svg
        width: 24px
        height: 24px
