<form class="f-default f-portfolio-upload"
      novalidate
      #portfolioForm="ngForm"
      (submit)="addFile($event, portfolioForm)">
  <div class="f-portfolio-upload__row">
    <div class="f-portfolio-upload__col">
      <label class="f-default__label">
        <input type="text"
               placeholder="Title*"
               required
               [(ngModel)]="title"
               #titleRef="ngModel"
               [ngClass]="{'_error': submitted && titleRef.errors?.required}"
               name="title"
               class="f-default__field">
      </label>
    </div>
    <div class="f-portfolio-upload__col">
      <div class="f-default__filedrop"
           ng2FileDrop
           [ngClass]="{'_file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader">
        <div class="f-default__filedrop-dropzone">
          <div class="f-default__filedrop-dropzone-text">Upload your Photo (10MB max)</div>
          <div class="f-default__filedrop-dropzone-text">Drag & Drop file here</div>
        </div>
        <div class="f-default__filedrop-or">or</div>
        <button type="button"
                (click)="triggerFileClick()"
                class="f-default__filedrop-button">Choose a file to upload</button>
        <input type="file"
               accept="image/*"
               name="photo"
               ng2FileSelect
               #file
               [uploader]="uploader"
               class="f-default__field _file">
      </div>
      <div class="f-portfolio-upload__messages">
        <div class="f-portfolio-upload__message _error" *ngIf="isLimitReached">
          You can't attach more than {{ attachmentsLimit }} files
        </div>
        <div class="f-portfolio-upload__message _error" *ngIf="isNotAcceptedFormat">
          Invalid file format, you may upload: <strong>.jpg</strong>, <strong>.jpeg</strong>, <strong>.png</strong> files.
        </div>
        <div class="f-portfolio-upload__message _error" *ngIf="fileNameLengthLimitError">
          Name of the file is too long
        </div>
        <div class="f-portfolio-upload__message _error" *ngIf="submitted && (fileName === '')">
          No file chosen
        </div>
        <div class="f-portfolio-upload__message" *ngIf="(fileName !== '') && fileURL">
          Chosen file: {{ fileName }}
        </div>
        <div class="f-portfolio-upload__message _error" *ngIf="fileSizeLimitError">
          Attachment size limit is exceeded
        </div>
      </div>
    </div>
  </div>
  <div class="f-portfolio-upload__controls">
    <button class="f-default__button">Save file</button>
  </div>
</form>
