<form class="f-bid">
  <div class="f-bid__title">Bid</div>
  <div class="f-bid__row">
    <div class="f-bid__text">Bid Proposal:</div>
    <textarea class="f-bid__textarea"></textarea>
  </div>
  <div class="f-bid__row">
    <div class="f-bid__text">Bid Amount:</div>
    <div class="f-bid__wrapper">
      <div class="f-bid__col _amount">
        <input class="f-bid__field" type="text"/>
        <span class="f-bid__field-span">$</span>
      </div>
      <div class="f-bid__col">
        <label class="f-bid__label _bottom">
          <input class="f-bid__chk-input" type="checkbox"/>
          <span class="f-bid__chk-span"></span>
          <span class="f-bid__span">Mark as favorite</span>
        </label>
      </div>
    </div>
  </div>
  <button class="f-bid__button">enter bid</button>
</form>
