<ul role="list" class="m-site">
  <li class="m-site__item" *ngFor="let item of menu">
    <a href="#" class="m-site__link"
       (click)="item.action && item.action(item)"
       [routerLink]="item.link ? [item.link] : []"
       [ngClass]="item.classes">
      {{ item.title }}
    </a>

    <ul class="m-site__sub"
        *ngIf="item.children">
      <li class="m-site__sub-item"
          *ngFor="let subitem of item.children"
          (click)="subitem.action && subitem.action(subitem)">
        <a href="#"
           class="m-site__sub-link"
           [routerLink]="subitem.link ? [subitem.link] : []">{{ subitem.title }}</a>
      </li>
    </ul>
  </li>
</ul>
