.f-transactions-search
  font-size 1.4rem
  letter-spacing .5px
  padding-bottom 30px
  &__wrapper
    display flex
  &__input-wrapper
    width 100%
    display flex
    position relative
  &__select
    padding 11px 5px
    min-width 200px
    margin-left 20px
    border 1px solid #8a8a8a
    border-radius 5px
    letter-spacing 1px
    background-color transparent
    &-label
      display inline-block
  &__select-wrapper
    position relative
    &:after
      content '\25bc'
      font-size .9rem
      display block
      position absolute
      width 5px
      height 5px
      top 35%
      left 90%
      pointer-events none
