/sources/dronesapp-batch-services/.settings
/sources/dronesapp-batch-services/target
/sources/dronesapp-batch-services/.project
/sources/dronesapp-batch-services/.classpath
/sources/dronesapp-conf/.settings
/sources/dronesapp-conf/target
/sources/dronesapp-conf/.project
/sources/dronesapp-conf/.classpath
/sources/dronesapp-dbaccess/.settings
/sources/dronesapp-dbaccess/target
/sources/dronesapp-dbaccess/.project
/sources/dronesapp-dbaccess/.classpath
/sources/dronesapp-models/.settings
/sources/dronesapp-models/target
/sources/dronesapp-models/.project
/sources/dronesapp-models/.classpath
/sources/dronesapp-services/.settings
/sources/dronesapp-services/target
/sources/dronesapp-services/.project
/sources/dronesapp-services/.classpath
/sources/dronesapp-ws/.settings
/sources/dronesapp-ws/target
/sources/dronesapp-ws/.project
/sources/dronesapp-ws/.classpath
/sources/.project
/sources/.settings/org.eclipse.core.resources.prefs
/sources/.settings/org.eclipse.m2e.core.prefs
.idea
*.iml
db-schema.mwb.bak
sources/dronesapp-dbaccess/test-output

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db


npm-debug.log.*

