<div class="modal-header">
    <i class="fa fa-times cancel-button" aria-hidden="true" data-ng-click="cancel()"></i>
    <h3>Policy

    </h3>
</div>
<div class="modal-body">
    <form name="policyForm">
        <div class="form-group">
            <label>Text</label>
            <text-angular data-ng-model="policyItem.text" ta-text-editor-class="form-control large-form" ta-html-editor-class="form-control large-form" required></text-angular>
        </div>
        <div class="form-group">
            <label>Locale</label>
            <select class="form-control" data-ng-model="policyItem.locale" data-ng-init="policyItem.locale = 'en_US'" required>
                <option value="en_US">en (US)</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button data-ng-if="!policyItem.id" class="btn btn-success" data-ng-click="createPolicy(policyItem)"  data-ng-disabled="policyForm.$invalid">
        Create
    </button>
    <button data-ng-if="policyItem.id" class="btn btn-success" data-ng-click="updatePolicy(policyItem)"  data-ng-disabled="policyForm.$invalid">
        Update
    </button>
</div>