<div class="modal-header">
    <i class="fa fa-times cancel-button" aria-hidden="true" data-ng-click="cancel()"></i>
    <h3>Project

    </h3>
</div>
<div class="modal-body">
    <form name="projectForm">
        <div class="form-group required-label">
            <label>Name</label>
            <input type="text" class="form-control" name="title" data-ng-model="project.title" required/>
            <p class="help-block error" data-ng-show="projectForm.title.$invalid && !projectForm.title.$pristine">Project name is required</p>
        </div>
        <div class="form-group required-label">
            <label>Client ID</label>
            <p class="help-block left-help" data-ng-show="projectForm.clientId.$valid && !projectForm.clientId.$pristine && client.id"><a href="" data-ng-href="/admin/#/users/{{ client.id }}/view" target="_blank">{{ client.username }}</a> / {{ client.email}}</p>
            <input type="number" name="clientId" class="form-control" min="1" data-ng-model="project.clientId" data-ng-change="getClientById()" required/>
            <p class="help-block error" data-ng-show="projectForm.clientId.$invalid && !projectForm.clientId.$pristine">Valid client ID is required</p>
            <p class="help-block error" data-ng-show="client && client.groups[0].role != 'ROLE_CLIENT'">Current user isn't client</p>
        </div>
        <div class="form-group">
            <label>Pilot ID</label>
            <p class="help-block left-help" data-ng-show="projectForm.pilotId.$valid && !projectForm.clientId.$pristine && pilot.id"><a href="" data-ng-href="/admin/#/users/{{ pilot.id }}/view" target="_blank">{{ pilot.username }}</a> / {{ pilot.email}}</p>
            <input type="number" name="pilotId" class="form-control" min="1" data-ng-model="project.pilotId" data-ng-change="getPilotById()"/>
            <p class="help-block error" data-ng-show="projectForm.pilotId.$invalid && !projectForm.pilotId.$pristine">Valid pilot ID is required</p>
            <p class="help-block error" data-ng-show="pilot && pilot.groups[0].role != 'ROLE_PILOT'">Current user isn't pilot</p>
        </div>
        <div class="form-group required-label" data-ng-if="project.pilotId">
            <label>Pilot bid amount ($)</label>
            <input type="number" name="bid" class="form-control" step="0.01" min="0" data-ng-model="project.bidAmount" required/>
            <p class="help-block error" data-ng-show="!projectForm.pilotId.$pristine && projectForm.bid.$error.min">Bid amount should positive</p>
        </div>
        <div class="form-group required-label">
            <label>Category</label>
            <select name="category" class="form-control validation" data-ng-model="project.categoryId" data-ng-change="loadServices()" required>
                <option data-ng-value="category.id" data-ng-repeat="category in categories">{{category.name}}</option>
            </select>
            <p class="help-block error" data-ng-show="projectForm.category.$invalid && !projectForm.category.$pristine">Category is required</p>
        </div>
        <div class="form-group required-label" data-ng-if="services.length">
            <label>Service</label>
            <select name="service" class="form-control validation" data-ng-model="project.service.id" required>
                <option data-ng-value="service.id" data-ng-repeat="service in services">{{service.name}}</option>
            </select>
            <p class="help-block error" data-ng-show="projectForm.service.$invalid && !projectForm.service.$pristine">Service is required</p>
        </div>
        <div class="form-group">
            <label>Summary</label>
            <textarea name="summary" rows="8" class="form-control" data-ng-model="project.summary"/>
        </div>
        <div class="form-group required-label">
            <label>Budget</label>
            <select name="budget" class="form-control validation" data-ng-model="project.budget.id" required>
                <option data-ng-value="budget.id" data-ng-repeat="budget in budgets">{{ budget.title }}</option>
            </select>
            <p class="help-block error" data-ng-show="projectForm.budget.$invalid && !projectForm.budget.$pristine">Budget is required</p>
        </div>
        <div class="form-group required-label">
            <label>City</label>
            <input name="city" type="text" class="form-control" data-ng-model="project.location.city" required/>
            <p class="help-block error" data-ng-show="projectForm.city.$invalid && !projectForm.city.$pristine">City is required</p>
        </div>
        <div class="form-group required-label">
            <label>Country</label>
            <select name="country" class="form-control validation" data-ng-model="project.location.country.id" data-ng-change="loadStates()" required>
                <option data-ng-value="country.id" data-ng-repeat="country in countries">{{country.name}}</option>
            </select>
            <p class="help-block error" data-ng-show="projectForm.country.$invalid && !projectForm.country.$pristine">Country is required</p>
        </div>
        <div class="form-group" data-ng-if="states.length">
            <label>State</label>
            <select name="state" class="form-control validation" data-ng-model="project.location.state.id">
                <option data-ng-value="state.id" data-ng-repeat="state in states">{{state.name}}</option>
            </select>
        </div>
        <div>
        <div class="form-group required-label">
            <label class="control-label" for="startDate">Start date</label>
            <input type="text" class="form-control" id="startDate" name="picker1" data-ng-model="project.startDate" required/>
            <p class="help-block error" data-ng-show="projectForm.picker1.$invalid && !projectForm.picker1.$pristine">Start date is required</p>
        </div>
        <div class="form-group">
            <label class="control-label" for="finishDate">Finish date</label>
            <input type="text" class="form-control" id="finishDate" name="picker2"/>
        </div>
        <div class="form-group required-label">
            <label>Expected duration of flight</label>
            <select name="duration" class="form-control validation" data-ng-model="project.duration.id" required>
                <option data-ng-value="duration.id" data-ng-repeat="duration in durations">{{duration.min}} - {{duration.max}} hours</option>
            </select>
        </div>
        <div class="form-group">
            <label>Post production</label>
            <input name="postProduction" type="checkbox" data-ng-model="project.postProductionRequired">
        </div>
        <div class="form-group">
            <label>Attachments <span data-ng-if="attachs.length">({{attachs.length}})</span></label>
            <div data-ng-repeat="attachment in attachs track by $index">
                <div>
                    {{$index + 1}}. {{attachment.title}} <i class="fa fa-times error" aria-hidden="true" data-ng-click="removeAttachment($index)"></i>
                </div>
            </div>
        </div>
        <div>
            <div class="form-group">
                <input class="btn btn-default btn-block" type="file" data-file-model="fileToUpload" data-ng-model="file"/>
            </div>
            <input type="button" data-ng-if="fileToUpload" class="btn btn-default" data-ng-click="uploadAttachment(fileToUpload)" value="Upload"/>
            {{fileToUpload.name}}
        </div>
        <!--<div class="form-group">
            <label>Commission free</label>
            <input type="checkbox" data-ng-model="commissionFree">
        </div>-->
        <div class="form-group">
            <label>Paid options</label>
            <div data-ng-repeat="option in paidOptions">
                <input type="checkbox" data-ng-model="option.isChecked"> {{option.price}} {{option.currency}} {{option.title}}
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" data-ng-click="createProject()"  data-ng-disabled="projectForm.$invalid">
        Post project
    </button>
</div>