<div class="modal-header">
    <i class="fa fa-times cancel-button" aria-hidden="true" data-ng-click="cancel()"></i>
    <h3>Term

    </h3>
</div>
<div class="modal-body">
    <form name="termForm">
        <div class="form-group required-label">
            <label>Text</label>
            <text-angular data-ng-model="term.text" ta-text-editor-class="form-control large-form" ta-html-editor-class="form-control large-form" required></text-angular>
        </div>
        <div class="form-group required-label">
            <label>Locale</label>
            <select class="form-control" data-ng-model="term.locale" data-ng-init="term.locale = 'en_US'" required>
                <option value="en_US">en (US)</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button data-ng-if="!term.id" class="btn btn-success" data-ng-click="createTerm(term)"  data-ng-disabled="termForm.$invalid">
        Create
    </button>
    <button data-ng-if="term.id" class="btn btn-success" data-ng-click="updateTerm(term)"  data-ng-disabled="termForm.$invalid">
        Update
    </button>
</div>