.s-header
  background #1f2532
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 3
  &__container
    height 90px
    display: flex
    align-items: center
  &__menu
    justify-content: flex-end
    display: flex
    flex-grow: 1
    align-self: stretch
  &__logo
    &-img
      object-fit cover
      display: block
      margin: 0 auto
