<div scroll class="s-header _small">
  <ng-progress [positionUsing]="'marginLeft'"
               [minimum]="0.1"
               [maximum]="1"
               [speed]="200"
               [showSpinner]="false"
               [trickleSpeed]="300"
               [thick]="false"
               [color]="'#fff'"
               [ease]="'linear'"></ng-progress>
  <div class="container">
    <div class="s-header__container">
      <a class="s-header__logo" [routerLink]="['/']">
        <img class="s-header__logo-img" src="./assets/img/beta-logo-top.png">
      </a>

      <div class="s-header__hamburger" (click)="isOpenMenu ? closeMenu() : openMenu()">
        <svg-use name="hamburger"></svg-use>
      </div>

      <div class="s-header__menu">
        <m-site [menu]="menu" (closeMenu)="closeMenu()" [isOpen]="isOpenMenu"></m-site>
      </div>
    </div>
  </div>
</div>




