<ul role="list" class="m-home">
  <li class="m-home__item _margin">
    <a *ngIf="isIndex" class="m-home__link _project" href="https://www.drones4hire.com/projects/create_project">Post A Project</a>
  </li>
  <li class="m-home__item">
    <a *ngIf="isIndex" class="m-home__link" href="http://drones4hire.wordpress.com">Blog</a>
  </li>
  <li class="m-home__item">
    <a *ngIf="isIndex" class="m-home__link" href="#">How it works</a>
  </li>
  <li class="m-home__item">
    <a *ngIf="isIndex" class="m-home__link" href="https://www.drones4hire.com/signup/pilot_signup">Sign up</a>
  </li>
  <li class="m-home__item">
    <a *ngIf="isIndex" class="m-home__link" href="https://www.drones4hire.com/login">Login</a>
  </li>
</ul>
