<form novalidate
      #companyForm="ngForm"
      (submit)="saveChanges($event, companyForm)"
      class="f-company f-default">

  <div class="f-default__row">
    <label class="f-default__label">
      <span class="f-default__text" [ngClass]="{'_req': accountService.isUserPilot()}">Company Display Name:</span>
      <input class="f-default__field"
             type="text"
             name="name"
             [ngModel]="accountService.company?.name"
             (ngModelChange)="accountService.company.name = $event"
             [required]="accountService.isUserPilot()"
             #nameRef="ngModel"
             [ngClass]="{'_error': submitted && nameRef.errors?.required}">
      <span class="f-default__error" *ngIf="accountService.isUserPilot() && submitted && nameRef.errors?.required">This field is required</span>
    </label>
  </div>

  <div class="f-default__row">
    <label class="f-default__label">
      <span class="f-default__text">Web Url:</span>
      <input class="f-default__field"
             type="text"
             name="url"
             [ngModel]="accountService.company?.webURL"
             (ngModelChange)="accountService.company.webURL = $event"/>
    </label>
  </div>

  <div class="f-default__row">
    <label class="f-default__label">
      <span class="f-default__text" [ngClass]="{'_req': accountService.isUserPilot()}">Contact Name:</span>
      <input class="f-default__field"
             type="text"
             name="contactName"
             [ngModel]="accountService.company?.contactName"
             (ngModelChange)="accountService.company.contactName = $event"
             [required]="accountService.isUserPilot()"
             #contactNameRef="ngModel"
             [ngClass]="{'_error': submitted && contactNameRef.errors?.required}">
      <span class="f-default__error"
            *ngIf="accountService.isUserPilot() && submitted && contactNameRef.errors?.required">This field is required</span>
    </label>
  </div>

  <div class="f-default__row">
    <label class="f-default__label">
      <span class="f-default__text" [ngClass]="{'_req': accountService.isUserPilot()}">Contact Email:</span>
      <input class="f-default__field"
             type="text"
             name="contactEmail"
             [ngModel]="accountService.company?.contactEmail"
             (ngModelChange)="accountService.company.contactEmail = $event"
             [required]="accountService.isUserPilot()"
             #contactEmailRef="ngModel"
             [ngClass]="{'_error': submitted && contactEmailRef.errors?.required}">
      <span class="f-default__error"
            *ngIf="accountService.isUserPilot() && submitted && contactEmailRef.errors?.required">This field is required</span>
    </label>
  </div>
  <div class="f-default__row">
    <label class="f-default__label">
      <span class="f-default__text" [ngClass]="{'_req': accountService.isUserPilot()}">Country:</span>

      <select class="f-default__field"
              name="country"
              [(ngModel)]="commonService.companyCountry"
              (ngModelChange)="selectCountry($event)"
              [required]="accountService.isUserPilot()"
              #countryRef="ngModel"
              [ngClass]="{'_error': submitted && countryRef.errors?.required}">

        <option *ngFor="let option of countries"
                [value]="option.name">
          {{option.name}}
        </option>
      </select>
      <span class="f-default__error"
            *ngIf="accountService.isUserPilot() && submitted && countryRef.errors?.required">This field is required</span>
    </label>
  </div>

  <div class="f-default__row" *ngIf="commonService.checkCountry('companyCountry')">
    <label class="f-default__label">
      <span class="f-default__text" [ngClass]="{'_req': accountService.isUserPilot()}">State:</span>
      <select class="f-default__field"
              name="state"
              [(ngModel)]="commonService.companyState"
              (ngModelChange)="selectState($event)"
              [required]="accountService.isUserPilot()"
              #stateRef="ngModel"
              [ngClass]="{'_error': submitted && stateRef.errors?.required}">

        <option *ngFor="let option of states"
                [value]="option.name">
          {{option.name}}
        </option>
      </select>
      <span class="f-default__error" *ngIf="accountService.isUserPilot() && submitted && stateRef.errors?.required">This field is required</span>
    </label>
  </div>

  <button class="f-default__button f-company__button">Save Changes</button>
</form>
