<form novalidate
      #companyForm="ngForm"
      (submit)="saveChanges($event, companyForm)"
      class="f-company f-default">
  <div class="f-default__inner _margin-small">
    <div class="f-default__col">
      <div class="f-default__row">
        <label class="f-default__label">
          <input class="f-default__field"
                 type="text"
                 name="name"
                 placeholder="Company name"
                 [ngModel]="accountService.company?.name"
                 (ngModelChange)="accountService.company.name = $event">
        </label>
      </div>

      <div class="f-default__row">
        <label class="f-default__label">
          <input class="f-default__field"
                 type="text"
                 placeholder="URL on company website"
                 name="url"
                 [ngModel]="accountService.company?.webURL"
                 (ngModelChange)="accountService.company.webURL = $event"/>
        </label>
        <p class="f-default__example">
          Example: www.drones4hire.com/
        </p>
      </div>

      <div class="f-default__row">
        <label class="f-default__label">
          <input class="f-default__field"
                 type="text"
                 placeholder="Contact name"
                 name="contactName"
                 [ngModel]="accountService.company?.contactName"
                 (ngModelChange)="accountService.company.contactName = $event">
        </label>
      </div>

      <div class="f-default__row">
        <label class="f-default__label">
          <input class="f-default__field"
                 type="text"
                 name="contactEmail"
                 placeholder="Contact Email"
                 [ngModel]="accountService.company?.contactEmail"
                 (ngModelChange)="accountService.company.contactEmail = $event">
        </label>
      </div>

      <div class="f-default__row">
        <label class="f-default__label _select" [ngClass]="{'_placeholder': !accountService.company?.country?.name}">
          <select class="f-default__field"
                  name="country"
                  [ngModel]="accountService.company?.country?.name"
                  (ngModelChange)="selectCountry($event)">
            <option [value]="null">Country</option>
            <option *ngFor="let option of countries"
                    [value]="option.name">
              {{option.name}}
            </option>
          </select>
        </label>
      </div>

      <div class="f-default__row" *ngIf="checkCountry()">
        <label class="f-default__label _select" [ngClass]="{'_placeholder': !accountService.company?.state?.name}">
          <select class="f-default__field"
                  name="state"
                  [ngModel]="accountService.company?.state?.name"
                  (ngModelChange)="selectState($event)"
                  required
                  #stateRef="ngModel"
                  [ngClass]="{'_error': submitted && stateRef.errors?.required}">
            <option [value]="null">State*</option>
            <option *ngFor="let option of states"
                    [value]="option.name">
              {{option.name}}
            </option>
          </select>
        </label>
      </div>
    </div>
  </div>
  <button class="f-default__button f-company__button _big">Save Changes</button>
</form>
