<form class="f-default f-location"
      novalidate>

  <div class="f-default__inner _margin-small">
    <div class="f-default__col">

      <div class="f-default__row">
        <label class="f-default__label">
          <input
            class="f-default__field"
            type="text"
            name="address"
            placeholder="Address"
          />
        </label>
      </div>

      <div class="f-default__row">
        <label class="f-default__label">
          <input
            class="f-default__field"
            type="text"
            name="question"
            placeholder="How far are you willing to travel for jobs?"
          />
        </label>
      </div>
    </div>
  </div>

  <button class="f-default__button f-license__button _big">Save changes
  </button>
</form>
