<div class="work-pilot">
  <div class="container work-pilot__container">
    <h1 class="work-pilot__title">
      Now Hiring Drone Pilots!
    </h1>
    <p class="work-pilot__text">
      If you’re a licensed and experienced drone pilot, Drones4Hire is here for you. We work hard to bring in clients in construction, real estate, inspections, solar energy, agriculture, and many other industries who are looking for your services. Drones4Hire is the most convenient way to find clients and get paid for your skills.
    </p>

    <h2 class="work-pilot__subtitle">
      How It Works
    </h2>
    <ul class="work-pilot__list _digits">
      <li class="work-pilot__list-item">
        Complete the drone pilot signup form, including your business information and a copy of your pilot/operator license and insurance information if you’re on an annual policy.
      </li>
      <li class="work-pilot__list-item">
        Shortly after we receive your completed registration, we’ll review your operating credentials and insurance for vetting purposes. If all your information passes our quality and legal checks, we’ll approve your account and grant you access to our platform.
      </li>
      <li class="work-pilot__list-item">
        Once you’re approved, you can specify your preferences for types of work, industries, budget range, and (if you like) distance from your location. We’ll notify you of new job postings that match what you’re looking for. You can browse client job listings in any area and place bid proposals on the ones that interest you.
      </li>
      <li class="work-pilot__list-item">
        Once you’re hired, the client submits payment upfront into our secured holdings account. This gives assurance that you will be paid for your work.
      </li>
      <li class="work-pilot__list-item">
        When the payment has been made, you will be notified and OK to Fly will show up on the job status bar on your dashboard. Thanks to our secure payment platform, prompt payment for your work is always guaranteed!
      </li>
    </ul>

    <h2 class="work-pilot__subtitle">
      Eight Great Reasons to Sign Up with Drones4Hire
    </h2>
    <ul class="work-pilot__list">
      <li class="work-pilot__list-item">
        <i>Excellent pay rates</i>. Unlike other companies that only pay you $19 - $25 per job, we pay a minimum of $100 per hour/job (pay based on job type). In other words, you will not get paid less than $100. Period.
      </li>
      <li class="work-pilot__list-item">
        <i>Guaranteed payment</i>. If you’re hired for a job, you are guaranteed payment for that job. We will never ask you to complete any jobs prior to receiving the client’s payment through our system.
      </li>
      <li class="work-pilot__list-item">
        <i>One-stop convenience</i>. Find all your drone jobs in one place and bid on the ones you like.
      </li>
      <li class="work-pilot__list-item">
        <i>Hassle-free job finding</i>. Get automatic notification of jobs that fit your preferences and search criteria.
      </li>
      <li class="work-pilot__list-item">
        <i>Searchable job database</i>. Search by location, preferred budgets, job types, and more.
      </li>
      <li class="work-pilot__list-item">
        <i>Expanded opportunities</i>. Our system brings clients to you, so you find more jobs faster and build your portfolio.
      </li>
      <li class="work-pilot__list-item">
        <i>Rates you choose</i>. You set your own rates according to your experience and skill level.
      </li>
      <li class="work-pilot__list-item">
        <i>No waiting for payment</i>. Prompt payment is always guaranteed through our secure system, with several payment methods available for you to choose from.
      </li>
    </ul>

    <p class="work-pilot__text">
      Drones4Hire takes care of the details and leaves you free to concentrate on flying. Sign up now to get a head start on high-quality jobs!
    </p>

    <figure class="work-pilot__figure">
      <img class="work-pilot__img" src="./assets/img/green.jpg" alt="Green" object-fit="cover">
    </figure>
  </div>
</div>
