<div class="work-pilot">
  <div class="container work-pilot__container">
    <h1 class="work-pilot__title">
      Now Hiring Drone Pilots!
    </h1>
    <p class="work-pilot__text">
      If you’re an experienced drone pilot, we work hard to bring clients in media, construction, real estate, and many more who are looking for your services. Drones4Hire is the most convenient way to find clients and get paid for your skills.
    </p>

    <figure class="work-pilot__figure">
      <img class="work-pilot__img" src="./../../../assets/img/green.jpg" alt="Green" object-fit="cover">
    </figure>

    <h2 class="work-pilot__subtitle">
      How It Works
    </h2>
    <p class="work-pilot__text">
      Simply complete our drone pilot registration form, including your business information and a copy of your pilot/operator license and insurance information if on a annual policy. Shortly after we receive your completed registration information, we will review your operating credentials and insurance for vetting purposes. If all your information passes our quality and legal checks, we will approve your account. Once you are approved, we will include the certified drone pilot and insurance badges so potential clients are assured of your elite skills. You may browse client job listings in any area and submit job bids on any job that you’re interested in. We’ll notify you of new job postings that match what you’re looking for.
      <br>
      <br>
      Once you’re hired all jobs details are coordinated and payment setup. Thanks to our secure payment platform, prompt payment for your work is always guaranteed!
    </p>

    <h2 class="work-pilot__subtitle">
      Benefits of Our System
    </h2>
    <ul class="work-pilot__list">
      <li class="work-pilot__list-item">
        Unlike other companies that only pay you $19 - $25 per job, we pay at minimun $105. <b>Our pilots are paid the highest in the industry!</b>
      </li>
      <li class="work-pilot__list-item">
        One-stop convenience: Find all the drone piloting jobs in one place
      </li>
      <li class="work-pilot__list-item">
        Find jobs without the hassle: Get automatic notification of jobs that fit your search criteria
      </li>
      <li class="work-pilot__list-item">
        Searchable database: search by location, preferred budgets, keyword and more
      </li>
      <li class="work-pilot__list-item">
        Increase your business opportunities: Our system brings clients to you, to greatly enhance your job opportunities
      </li>
      <li class="work-pilot__list-item">
        Get paid what you want: You set your rates based on your experience and skill level
      </li>
      <li class="work-pilot__list-item">
        Don’t wait to get paid: Prompt payment is always guaranteed through our secured system, with several payment methods available for you to choose from.
      </li>
    </ul>

    <p class="work-pilot__text">
      Drones4Hire takes care of the details and leaves you free to concentrate on flying. Sign up now to get a head start on high-quality jobs!
    </p>

    <figure class="work-pilot__figure">
      <img class="work-pilot__img" src="./../../../assets/img/dron-2.jpg" alt="Dron" object-fit="cover">
    </figure>
  </div>
</div>
