.l-pagination
  display flex
  padding 0
  &__item
    font-size 1.6rem
    &:hover,
    &._active
      &:not(._disabled)
        .l-pagination__link
          background-color #3ebcc7
          color #fff
          box-shadow 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
    &:hover
      &:not(._active),
      &:not(._disabled)
        .l-pagination__link
          cursor pointer
    &._disabled,
    &._disabled:hover
      .l-pagination__link
        opacity 0.3
  &__link
    transition all .1s linear
    position relative
    display block
    padding .5rem .75rem
    margin-left -1px
    line-height 1.25
    color #555
    background-color #fff
    border 1px solid #ddd
    cursor default
    &-sr
      position absolute
      width 1px
      height 1px
      padding 0
      margin -1px
      overflow hidden
      clip rect(0,0,0,0)
      border 0
