<div class="b-preferences b-default">
  <div class="b-default__item">
    <h3 class="b-default__subtitle">Service Details</h3>
    <f-services></f-services>
  </div>

  <div class="b-default__item">
    <h3 class="b-default__subtitle">Update your public profile</h3>
    <f-public></f-public>
  </div>

  <div class="b-default__item">
    <h3 class="b-default__subtitle">Update your Portfolio</h3>
    <b-tabs [tabs]="tabs"></b-tabs>

    <div class="b-default__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
