@import './../../../styles/settings/mixin.styl'

.b-similar
  &__wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    font-size 1.8rem
    letter-spacing: 0.02em

  &__title
    text-transform: uppercase
    color #464646
    font-size: 2.4rem
    letter-spacing: 0.02em
    osans(600)
    margin-bottom: 15px

  &__description
    margin-bottom: 15px

  &__subtitle
    margin-bottom: 10px
    color #acacac

  &__text
    color #2f2f2f

  @media screen and (max-width: 1024px)
    &__wrapper
      flex-direction row
      margin 0 -20px
      flex-wrap wrap

    &__description
      flex initial
      width 50%
