<div class="b-similar">
  <div class="b-similar__title">{{ item.title }}</div>
  <div class="b-similar__wrapper">
    <div class="b-similar__description" *ngIf="item.service?.category?.name">
      <div class="b-similar__subtitle">Type</div>
      <div class="b-similar__text">{{ projectService.formatType(item.service.category.name) }}</div>
    </div>
    <div class="b-similar__description" *ngIf="item.location">
      <div class="b-similar__subtitle">Location</div>
      <div class="b-similar__text">{{ projectService.formatLocation(item.location) }}</div>
    </div>
    <div class="b-similar__description" *ngIf="item.budget">
      <div class="b-similar__subtitle">Budget</div>
      <div class="b-similar__text">${{ item.budget.min }}-{{ item.budget.max }}</div>
    </div>
    <div class="b-similar__description" *ngIf="item.createdAt">
      <div class="b-similar__subtitle">Date Posted</div>
      <div class="b-similar__text">{{ item.createdAt | date: 'MM/dd/y'}}</div>
    </div>
  </div>
</div>
