.l-bids
  list-style-image none
  list-style-type none

  &__btn
    display block
    min-width 160px
    min-height 31px
    background #fff
    color #3ebcc7
    font-size 1.8rem
    margin-bottom 6px
    border:1px solid #3ebcc7
    &._fill
      background #3ebcc7
      color #fff
