@import '../../../styles/settings/variables.styl'

.l-bids
  list-style-image none
  list-style-type none

  &__btn
    display: block
    height: 42px
    width: 100%
    min-width 160px
    text-transform: uppercase
    min-height 31px
    background #fff
    color $blueC7
    font-size 1.8rem
    margin-bottom 6px
    letter-spacing: .2em
    border: 1px solid $blueC7
    &._fill
      background $blueC7
      color #fff
    &[disabled]
      cursor: default

  &__win-title
    font-size: 3.6rem
    text-transform: uppercase
    letter-spacing: .35em
    margin-top: 10px
    margin-bottom: 40px
