<ul class="l-bids" >
  <li *ngFor="let bid of bids" class="l-bids__item">
    <pr-bid [bid]="bid">
      <bid-head>
        <div class="l-bids__win-title" *ngIf="bid.id === activeId">Winning Bid</div>
      </bid-head>
      <bid-buttons>
        <button class="l-bids__btn _fill" *ngIf="bid.id !== activeId" [disabled]="disabled" (click)="onAward(bid)">Accept</button>
        <button class="l-bids__btn" *ngIf="bid.id === activeId" disabled>Accepted</button>
        <button class="l-bids__btn" *ngIf="bid.id === activeId" [disabled]="!canRelease" [ngClass]="{ _fill: canRelease }" (click)="onRelease(bid.projectId)">Release Payment</button>
      </bid-buttons>
    </pr-bid>
  </li>
</ul>



