.s-project
  padding-top 200px
  margin-bottom 100px

  &__title
    text-transform uppercase
    font-size 1.6rem
    margin-bottom: 160px
    color #504f4f
    text-align center
    position relative
    &:after
    &:before
      h()
      bottom -50px
      width: 26px
      height: 2px
      background #8a8a8a
      transform rotate(45deg)
    &:before
      transform rotate(-45deg)
