<section class="s-project-add">
  <div class="container">
    <h1 class="s-project-add__title">Post a project</h1>
    <div class="s-project-add__wrapper">
      <f-project-add class="s-project-add__form"></f-project-add>
      <div class="s-project-add__banner">
        <h3 class="s-project-add__banner-title">
          Five Reasons to Choose Drones4Hire
        </h3>
        <ul class="s-project-add__list">
          <li class="s-project-add__list-item">All pilots are vetted, licensed and insured</li>
          <li class="s-project-add__list-item">Recive bids from pilots within minutes</li>
          <li class="s-project-add__list-item">Single report to easily review and compare bids, ratings, and samples of work </li>
          <li class="s-project-add__list-item">Insurance coverage for $1M to $25M, based on your requirements</li>
          <li class="s-project-add__list-item">Frequent booking Reward Program </li>
        </ul>
      </div>
    </div>
  </div>
</section>
