<ul class="l-going">
  <li class="l-going__item">
    <div class="l-going__img-wrap">
      <img class="l-going__img" src="../assets/img/going-1.jpg">
    </div>
    <div class="l-going__info">
      <h4 class="l-going__title">September 2016</h4>
      <p>
        Our drone platform is now accepting pilot registrations.
      </p>
    </div>
  </li>
  <li class="l-going__item">
    <div class="l-going__img-wrap">
      <img class="l-going__img" src="../assets/img/going-2.jpg">
    </div>
    <div class="l-going__info">
      <h4 class="l-going__title">October 2016</h4>
      <p>
        Platform fully launched for Clients and Pilots to connect and complete drone related jobs!
      </p>
    </div>
  </li>
  <li class="l-going__item">
    <div class="l-going__img-wrap">
      <img class="l-going__img" src="../assets/img/going-3.jpg">
    </div>
    <div class="l-going__info">
      <p>
        Our mobile app for Android and iOS will be available in the first quarter of 2017.
      </p>
    </div>

</ul>
