<ul class="l-going">
  <li class="l-going__item">
    <div class="l-going__img-wrap">
      <img class="l-going__img" src="./assets/img/going-1.jpg">
    </div>
    <div class="l-going__info">
      <p class="l-going__text">
        New Platform release August 2017
      </p>
    </div>
  </li>
  <li class="l-going__item">
    <div class="l-going__img-wrap">
      <img class="l-going__img" src="./assets/img/going-2.jpg">
    </div>
    <div class="l-going__info">
      <h4 class="l-going__title">Want to fly for us?</h4>
      <p class="l-going__text">
        Sign Up as a Drone Pilot and start growing your business!
      </p>
    </div>
  </li>
  <li class="l-going__item">
    <div class="l-going__img-wrap">
      <img class="l-going__img" src="./assets/img/going-3.jpg">
    </div>
    <div class="l-going__info">
      <p class="l-going__text">
        Android and iOS mobile platforms launching in Q4
      </p>
    </div>

</ul>
