.s-footer
  padding 70px 0 70px
  background #4d4d4f
  &__top
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: 60px
  &__public
    text-align: center
    margin-right: 50px
  &__logo
    display: inline-block
    margin-bottom: 30px
  &__item
    padding: 0 10px
  &__bottom
    text-align: center
  &__copy
    font-size 1.2rem
    font-weight: 400
    color #8f8f8f
    text-transform: uppercase
