@import '../../../styles/settings/mixin.styl'

.s-footer
  padding 95px 0 95px
  background #1f2532
  &__top
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: 100px
  &__public
    text-align: center
    margin-right: 50px
  &__logo
    display: inline-block
    margin-bottom: 30px
  &__item
    padding: 0 10px
  &__bottom
    font-size: 1.2rem
    text-align: center
  &__copy
    font-size 1.2rem
    font-weight: 400
    color #8f8f8f
    text-transform: uppercase
    osans(400)
    letter-spacing: 1px
