.s-footer
  padding 50px 0 70px
  background #4d4d4f
  .container
    max-width 955px
  &__logo
    display: block
    width: 105px
    height: 105px
    margin: 0 auto 40px
  &__nav
    display: flex
    justify-content: space-between
    margin-bottom: 10px
  &__item
    padding: 0 10px
    text-align: center
    &._min-width
      min-width 135px
  &__title
    font-size 1.8rem
    font-weight: 400
    color #3ebcc7;
    margin-bottom: 15px
  &__bottom
    text-align: center
  &__copy
    font-size 1.2rem
    font-weight: 400
    color #fff
