@import "../../../styles/settings/variables.styl"

.b-transactions
  &__wrapper
    margin-bottom 80px
  &__title
    font-size 5rem
    color: $gray1f
    letter-spacing .2em

  &__pagination
    margin-top 5rem
