@import "../../../styles/settings/variables.styl"

.b-transactions
  &__wrapper
    margin-bottom 80px
  &__title
    font-size 5rem
    color: $gray1f
    letter-spacing .2em

  &__pagination
    display: flex
    justify-content: center
    padding 5rem 0
