.b-projects-search
  &__head
    display flex
    color: #ffffff
    font-size 1.4rem
    text-transform uppercase
    background-color #666666
    border-radius 5px 5px 0 0
  &__item
    min-height 60px
    width 20%
    display flex
    align-items center
    padding-left 20px
