@import "../../styles/settings/variables.styl"

.withdrawal-request
  padding 170px 0 100px

  &__wrapper
    display flex
    flex-direction column
    align-items center
    margin-bottom 50px

  &__title
    font-size 5.9rem
    font-weight 400
    margin-bottom 10px

  &__balance
    border-radius 3px
    font-size 2.4rem
    line-height 3rem
    padding 10px 30px
    color #fff
    background-color $gray1f

  &__success-text
    max-width 550px
    font-size: 2rem
    text-align: center
    margin 0 auto 6rem
