<form class="f-forgot-password f-default"
      novalidate
      #passwordForm="ngForm"
      (ngSubmit)="forgotPassword($event, passwordForm)">

  <h2 class="f-forgot-password__header">
    Forgot Password
  </h2>

  <div class="f-forgot-password__content">
    <div class="f-default__row" *ngIf="formSent">
      <div class="f-default__text _center">Your request was sent successfully! Please check your inbox in order to reset your password.</div>
    </div>

    <div class="f-default__row">
      <label class="f-default__label">
        <input class="f-default__field"
               type="email"
               required
               [(ngModel)]="email"
               name="email"
               [email]="emailRef.value ? true : false"
               #emailRef="ngModel"
               placeholder="Email"
               [ngClass]="{'_error': submitted && (emailRef.errors?.required || emailRef.errors?.email)}"/>
      </label>
    </div>

    <div class="f-default__row _controls">
      <button class="f-default__button"
              [disabled]="submitted && !passwordForm.form.valid">Reset Password
      </button>
    </div>
  </div>
</form>
