@import "./../../styles/settings/mixin.styl";

.policy
  &__container
    max-width 100rem
    padding-top: 15rem
    padding-bottom: 5rem
  &__title,
  &__text
    font-family: inherit;
  &__title
    font-size: 3.6rem;
    font-weight: 400;
    text-transform: uppercase
    margin-bottom: 3rem
  &__important,
  &__text
    line-height: 4rem
    font-size: 2rem
    margin-bottom: 3rem
  &__important
    text-transform: uppercase
  &__link
    cursor: pointer
    color: #337ab7;
    text-decoration: underline
