<div class="b-select-services">
  <div class="b-select-services__content">
    <ul class="b-select-services__list">
      <li class="b-select-services__item"
          *ngFor="let category of services"
          [ngClass]="{'_show': category.active}">
        <div class="b-select-services__text"
             (click)="toggleItem(category)"
             [ngClass]="{'_active': true}">
          {{ category.name }} <span class="b-select-services__text-info">({{ checkSelectedCount(category.services) }} of {{ category.services.length }} selected)</span>
        </div>

        <div class="b-select-services__panel-outer"
             *ngIf="category.active"
             [@slideToggle]>
          <ul class="b-select-services__panel">
            <li class="b-select-services__panel-item"
                *ngFor="let service of category.services">
              <label class="b-select-services__checkbox">
                <input type="checkbox"
                       class="b-select-services__checkbox-input"
                       (click)="toggleCheckbox(service)">
                <span class="b-select-services__checkbox-btn"
                      [ngClass]="{'_checked': checkCheckboxState(service.id)}"></span>
                <span class="b-select-services__checkbox-text">{{service.name}}</span>
              </label>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
