@import "../../../styles/settings/mixin.styl"
@import "../../../styles/settings/variables.styl"

.b-select-services
  &__content
    padding: 0 2rem
  &__list
    padding-bottom: 2.5rem
  &__item
    &._show
      .b-select-services
        &__text
          &:before
            transform: rotate(90deg)
  &__text
    color: $gray1f
    font-size: 1.8rem
    line-height: 3.2rem
    font-weight: 500
    padding-left: 3.7rem
    position: relative
    cursor: pointer
    text-align: left
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    &-info
      color $gray46
      font-weight 300
      font-size 1.6rem
    &:before
      ps()
      left: 23px
      bottom: 11px
      border-left: 6px solid $gray1f
      border-top: 4px solid transparent
      border-bottom: 4px solid transparent
      transition: transform .4s ease-out
  &__panel-item
    display: flex
    padding: 6px 23px 6px 0;
  &__panel-outer
    overflow: hidden
  &__panel
    display: flex
    align-items: center
    flex-wrap: wrap
    padding-left: 15px
    padding-top: 8px
    padding-bottom: 8px
    border-top: 1px solid #ecedf0
  &__checkbox
    display: flex
    &-input
      display: none
    &-text
      display: block
      margin-left: 5px
      font-size: 1.6rem
      line-height: 1.8rem
      color: $gray1f
    &-btn
      display: block
      width: 16px
      height: 16px
      border: 1px solid #ecedf0
      border-radius: 2px
      background: #fafbfc
      position: relative
      transition: background .2s ease-out, border-color .2s ease-out
      &._checked
        border-color: $blueC7
        background: $blueC7
        &:before
          display: block
      &:before
        display: none
        content ""
        position absolute
        left: 4px
        top: 1px
        border-right: 2px solid #fff
        border-bottom: 2px solid #fff
        transform: rotate(45deg)
        width: 5px
        height: 10px

@media (max-width: 740px)
  .b-select-services
    &__panel
      &-item
        width: 100%
    &__checkbox
      width: 100%
