<div class="b-transaction-search">
  <div class="b-transaction-search__row">
    <div class="b-transaction-search__column _down">{{transaction.date | date:'M/d/yy'}}</div>
    <div class="b-transaction-search__column">{{transaction.username}}</div>
    <div class="b-transaction-search__column"><span>{{transaction.purpose}}</span></div>
    <div class="b-transaction-search__column">{{transaction.type}}</div>
    <div class="b-transaction-search__column"><span>$</span>{{transaction.amount}}</div>
  </div>
</div>
