.b-transaction-search
  font-size 1.6rem
  &__row
    display flex
  &__column
    width 20%
    min-height 90px
    display flex
    align-items center
    padding-left 15px
  a
    color: deepskyblue
