@import '../../../styles/settings/variables.styl'

.s-index
  min-height 670px
  padding 110px 0 60px
  display: flex
  align-items: center
  justify-content: center
  background-size cover
  background-position center
  text-align: center
  .container
    max-width 690px
  &__title
    font-size 4rem
    line-height 6rem
    font-weight: 600
    letter-spacing .2em
    text-transform: uppercase
    margin-bottom: 35px
  &__item
    margin 0 20px
    min-width 255px
    flex none
    &-outer
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      margin 0 -20px
  &__link
    display: block
    width: 100%
    font-size 1.6rem
    line-height: 2rem
    letter-spacing .15em
    text-transform: uppercase
    padding 1.2rem
    color #fff
    border 1px solid #000
    background-color $gray1f
    transition border-color 0.25s, background 0.25s, box-shadow 0.25s
    white-space nowrap
    &:hover
      border-color: $blueD4;
      background-color: $blueD4;
      box-shadow 0 3px 7px rgba(0,0,0,0.35);

