<div class="s-index" style="background-image: url('../assets/img/bg-index1.jpg')">
  <div class="container">
    <h2 class="s-index__title">A new view on drone video services</h2>
    <div class="s-index__item-outer">
      <div class="s-index__item" *ngIf="_authorizationService.isUserLogin && !_accountService.isUserPilot()">
        <a class="s-index__link" [routerLink]="['/project/add']">Hire a drone pilot</a>
      </div>
      <div class="s-index__item" *ngIf="!_authorizationService.isUserLogin">
        <a class="s-index__link" [routerLink]="['sign-up']">Hire a drone pilot</a>
      </div>
      <div class="s-index__item" *ngIf="_authorizationService.isUserLogin && !_accountService.isUserClient()">
        <a class="s-index__link" [routerLink]="['/search']">I'm a drone pilot</a>
      </div>
      <div class="s-index__item" *ngIf="!_authorizationService.isUserLogin">
        <a class="s-index__link" [routerLink]="['sign-up']">I'm a drone pilot</a>
      </div>
    </div>
  </div>
</div>
