<div class="t-transactions">
  <div class="t-transactions__row _head">
    <div class="t-transactions__cell _date">Date</div>
    <div class="t-transactions__cell _type">Type</div>
    <div class="t-transactions__cell _description">Description</div>
    <div class="t-transactions__cell _amount">Amount</div>
  </div>
  <div *ngFor="let transaction of transactions"
       class="t-transactions__row">
    <div class="t-transactions__cell _date">{{ transaction.createdAt | date: 'M/d/y' }}</div>
    <div class="t-transactions__cell _type">{{ transaction.type === 'WITHDRAW' ? 'WITHDRAWAL' : 'PAYMENT' }}</div>
    <div class="t-transactions__cell _description">
      {{ formatDescription(transaction) }}
    </div>
    <div class="t-transactions__cell _amount"
         [ngClass]="amountClass(transaction)"
    >${{ transaction.amount }}</div>
  </div>
</div>
<div class="t-transactions__empty" *ngIf="!transactions && !transactions.length">No results</div>
