@import '../../../styles/settings/variables.styl'
@import '../../../styles/settings/mixin.styl'

.t-transactions
  display: table
  width: 100%
  &__row
    display table-row
    &._head
      .t-transactions
        &__cell
          border: 0
          font-size: 1.6rem
          letter-spacing: 1px
          height: 7.5rem
          vertical-align: middle
          color #fff
          &:first-child
            background $gray1f
          &:nth-child(2n+3)
            background #3fb6c0
          &:nth-child(2n)
            background #159aa5

  &__cell
    display table-cell
    text-align: center
    padding: 20px 10px
    vertical-align: middle
    font-size 1.6rem
    text-transform: uppercase
    border-bottom 1px solid #b7b7b7
    letter-spacing: 2px
    color: #1f2532

    &:nth-child(2n)
      background #f6f6f6

    &._description
      width 45%
      text-transform none
    &._date
      width 20%
    &._amount
      width: 17%
      &._green
        color green
      &._red
        color red
    &._type
      width: 18%

  &__empty
    text-align center
    padding: 2rem 1rem
    font-size 1.6rem
    letter-spacing .2em
    color #1f2532;
    text-transform: uppercase
    border-bottom 1px solid #b7b7b7
    vertical-align: middle
