.f-project-add
  .f-default
    &__field
      max-width none
      flex-basis auto
      &._area
        height: 185px
    &__text
      font-size 16px
      margin-bottom: 20px
      &._center
        max-width 470px
        margin: 0 auto
  &__caption
    font-size 2rem
    margin-bottom 1rem
  &__item
    margin-bottom: 50px
  &__bottom
    padding-top 50px
    text-align: center
  &__link
    font-size 1.8rem
    color #1093cb
  &__datepicker
    display: flex
    align-items: center
    cursor: pointer
