@import '../../../styles/settings/variables.styl'
@import '../../../styles/settings/mixin.styl'

.f-project-add
  position: relative
  padding-left: 165px;
  padding-top: 58px;
  &__row
    display: flex
  &__col
    padding-left: 4px
    padding-right: 4px
    &._attachment
      max-width: 50%
      flex-basis: 50%
    &._area
      display: flex
      align-items: stretch
  .f-default
    &__row
      margin-top: 30px
      &._attachment
        margin-top: 0
    &__title
      osans(400)
      font-size: 2.7rem
      margin-bottom: 40px
      ._number
        top: 6px
        width: 50px
        height: 50px
        left: -60px
        display: flex
        align-items center
        justify-content center
        font-size: 3rem
    &__field
      max-width none
      flex-basis auto
    &__text
      font-size 16px
      margin-bottom: 20px
      &._center
        max-width 470px
        margin: 0 auto
    &__filedrop
      padding: 10px
      border: 1px solid #e4e4e4
      border-radius 5px;
      overflow hidden
      &-button
        font-size: 1.6rem
        padding: 2px 8px;
      &-or
        margin: 6px 0 8px 0
        font-size: 1.6rem
      &-dropzone
        max-width: 410px
        margin: 0 auto
        padding: 0 30px
        &-text
          font-size: 1.4rem
          osans(400)
          &._title
            font-size: 1.8rem
            letter-spacing: 1px
            margin-bottom: 2px
          &._description
            font-size: 1.6rem
    &__text.f-project-add__text
      font-size: 1.2rem
      osans(400)
      line-height: 21px
      margin-right: 0
      margin-bottom: 15px
    &__chk
      font-size: 2.2rem;
      osans()
      padding-left: 46px;
    &__chk-span
      width: 20px
      height: 20px
      background-color transparent
      margin-right: 10px
      &:after
        color: black;
        font-size: 15px;
    &__label._checkbox
      display: flex
  &__caption
    font-size 1.8rem
    margin-bottom 1rem
    osans()
    &._margin
      margin-bottom: 25px
  &__item
    margin-bottom: 50px
  &__bottom
    padding-top 40px
    text-align: center
    .f-default
      &__button
        width: 186px
        height: 44px
        font-size: 1.8rem
        osans()
      &__text
        font-size: 1.2rem
        osans()
        color: #383333
  &__link
    font-family: inherit
    font-size: inherit
    color #1093cb
  &__datepicker
    display: flex
    align-items: center
    cursor: pointer

  &__row._flex
    justify-content space-between
    margin-left: 0
    margin-right: 0
  &__paidoption
    max-width 30%
    flex-basis: 33%
    box-shadow: 0 1px 5px 0 #b8b8b8
    border-radius: 5px
    &-title
      white-space: nowrap
    &-wrapper
      display: flex
      flex-direction: column
      width: 100%
      height: 100%
      padding: 17px;
      border-radius: 5px
      background: #fcfcfc
      trbg()
      &._featured
        .f-default__chk
          color: #1440be
      &._urgent
        .f-default__chk
          color: #de3c3c
      &._sealed
        .f-default__chk
          color: #ff8a00
      &._private
        .f-default__chk
          color: #4cb741
    &._active &-wrapper
      background: #e9edf9
  &__price
    margin-top: auto

  &__message
    padding 5px 10px
    font-size 1.6rem
    &._error
      color red

  &__files
    &-list
      display flex
      flex-direction column
      max-width 100%
    &-item
      padding 8px 10px
      display flex
      align-items flex-end
      &:not(:last-child)
        border-bottom 1px solid $gray1f
    &-text
      font-size: 1.8rem
      color: #8a8a8a
      margin-right 10px
    &-button
      margin-left auto
      .svg-rubbish-bin
        width 24px
        height 24px
        fill $gray1f

  @media(max-width: 1600px)
    padding: 0 100px 0 140px
    &__col
      &:first-child
        padding-left: 0
        padding-right: 20px
      &:last-child
        padding-right: 0
        padding-left: 20px
  @media(max-width: 1300px)
    padding: 0 0 0 100px
  @media(max-width: 1024px)
    padding: 0 0 0 60px
    &__col
      &:first-child
        padding-right: 5px
      &:last-child
        padding-left: 5px
    &__paidoption
      max-width 31%
      text-align: center
      &__wrapper
        padding: 10px
      .f-default
        &__label
          padding-top: 45px
        &__chk
          padding-left: 0
          font-size: 2rem
          &:before,
          &:after
            left: 50%
            transform: translate(-50%)
          &:after
            transform: rotate(50deg) skew(15deg)
