<form novalidate
      (submit)="postProject($event, projectForm)"
      #projectForm="ngForm"
      class="f-project-add f-default">

  <div class="f-project-add__item">
    <h3 class="f-default__title">
      <span class="_number">1</span>
      <span> Name of project and Category</span>
    </h3>

    <div class="f-default__row _flex">
      <div class="f-default__col">
        <div class="f-project-add__caption">Name of project</div>
      </div>
      <div class="f-default__col">
        <label class="f-default__label">
          <input class="f-default__field"
                 type="text"
                 name="projectTitle"
                 [(ngModel)]="formData.title"
                 required
                 placeholder="Project Title i.e &quot;Commercial Inspection&quot;"
                 #projectTitleRef="ngModel"
                 [ngClass]="{'_error': isSubmitted && projectTitleRef.errors?.required}">
        </label>
      </div>
    </div>

    <div class="f-default__row _flex">
      <div class="f-default__col">
        <div class="f-project-add__caption">What type of work do you require?</div>
      </div>
      <div class="f-default__col">
        <label class="f-default__label _select" [ngClass]="{'_placeholder': !formData.service.category.name}">
          <select class="f-default__field"
                  name="service"
                  [(ngModel)]="formData.service.category.name"
                  (ngModelChange)="selectService($event)"
                  required
                  #serviceRef="ngModel"
                  [ngClass]="{'_error': isSubmitted && serviceRef.errors?.required}">
            <option [value]="null">Select Category</option>
            <option *ngFor="let service of services"
                    [value]="service.name">
              {{service.name}}
            </option>
          </select>
        </label>
      </div>
    </div>

    <div class="f-default__row _flex" *ngIf="formData.service.category.name">
      <div class="f-default__col">
        <div class="f-project-add__caption">What service do you require?</div>
      </div>
      <div class="f-default__col">
        <label class="f-default__label _select" [ngClass]="{'_placeholder': !formData.service.name}">
          <select class="f-default__field"
                  name="category"
                  [(ngModel)]="formData.service.name"
                  (ngModelChange)="selectCategory($event)"
                  required
                  #categoryRef="ngModel"
                  [ngClass]="{'_error': isSubmitted && categoryRef.errors?.required}">
            <option [value]="null">Select your service</option>
            <option *ngFor="let category of categories"
                    [value]="category.name">
              {{category.name}}
            </option>
          </select>
        </label>
      </div>
    </div>
  </div>

  <div class="f-project-add__item">
    <h3 class="f-default__title">
      <span class="_number">2</span>
      <span>Tell us more about your project</span>
    </h3>

    <div class="f-default__row">
      <div>
        <div class="f-project-add__caption _margin">Describe your project</div>
        <div class="f-default__row f-project-add__row _flex">
          <label class="f-default__label f-default__col f-project-add__col _area">
            <textarea class="f-default__field _area"
                      type="text"
                      name="projectSummary"
                      [(ngModel)]="formData.summary"
                      required
                      #projectSummaryRef="ngModel"
                      [ngClass]="{'_error': isSubmitted && projectSummaryRef.errors?.required}"></textarea>
          </label>
          <div class="f-default__col f-project-add__col">
            <div class="f-default__filedrop f-project-add__filedrop _vertical">
              <div ng2FileDrop
                   [ngClass]="{'_file-over': hasBaseDropZoneOver}"
                   (fileOver)="fileOverBase($event)"
                   [uploader]="uploader"
                   (click)="triggerFileClick()"
                   class="f-default__filedrop-dropzone">
                <div class="f-default__filedrop-dropzone-text _title">Upload your files here</div>
                <div class="f-default__filedrop-dropzone-text _small">Add images or documents that might help explain
                  your project (Optional)
                </div>
                <div class="f-default__filedrop-dropzone-text _description">Drag & Drop files here</div>
              </div>
              <div class="f-default__filedrop-or">or</div>
              <button type="button"
                      (click)="triggerFileClick()"
                      class="f-default__filedrop-button">Choose a file to upload
              </button>
              <input type="file"
                     name="photo"
                     ng2FileSelect
                     [uploader]="uploader"
                     class="f-default__field _file">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="f-default__row f-project-add__row _attachment">
      <div class="f-default__col f-project-add__col _attachment"></div>
      <div class="f-default__col f-project-add__col _attachment">
        <div class="f-project-add__messages">
          <div class="f-project-add__message _error" *ngIf="isNotAcceptedFormat">
            Incorrect file format. You can upload only .pdf, .doc(x), .xls(x), .png, .jpg files
          </div>
          <div class="f-project-add__message _error" *ngIf="isLimitReached">
            You can't attach more than {{ attachmentsLimit }} files
          </div>
        </div>
        <ul class="f-project-add__files-list" *ngIf="formData.attachments.length">
          <li class="f-project-add__files-item" *ngFor="let attach of formData.attachments">
            <span class="f-project-add__files-text">{{ attach.title }}</span>
            <button type="button"
                    (click)="deleteAttachment(attach.id)"
                    class="f-project-add__files-button">
              <svg-use name="rubbish-bin"></svg-use>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="f-project-add__item">
    <h3 class="f-default__title">
      <span class="_number">3</span>
      <span>Locaticon</span>
    </h3>
    <div class="f-default__row _flex">
      <div class="f-default__col">
        <div class="f-project-add__caption">Country</div>
      </div>
      <div class="f-default__col">
        <label class="f-default__label _select" [ngClass]="{'_placeholder': !formData.location?.country?.name}">
          <select class="f-default__field"
                  name="country"
                  [ngModel]="formData.location?.country?.name"
                  (ngModelChange)="selectCountry($event)"
                  required
                  #countryRef="ngModel"
                  [ngClass]="{'_error': isSubmitted && countryRef.errors?.required}">
            <option [value]="null">Select your country</option>
            <option *ngFor="let option of countries"
                    [value]="option.name">
              {{option.name}}
            </option>
          </select>
        </label>
      </div>
    </div>

    <div class="f-default__row _flex" *ngIf="checkCountry()">
      <div class="f-default__col">
        <div class="f-project-add__caption">State</div>
      </div>

      <div class="f-default__col">
        <label class="f-default__label _select" [ngClass]="{'_placeholder': !formData.location?.state?.name}">
          <select class="f-default__field"
                  name="state"
                  [ngModel]="formData.location?.state?.name"
                  (ngModelChange)="selectState($event)"
                  required
                  #stateRef="ngModel"
                  [ngClass]="{'_error': isSubmitted && stateRef.errors?.required}">
            <option [value]="null">Select your state</option>
            <option *ngFor="let option of states"
                    [value]="option.name">
              {{option.name}}
            </option>
          </select>
        </label>
      </div>
    </div>

    <div class="f-default__row _flex">
      <div class="f-default__col">
        <div class="f-project-add__caption">Address</div>
      </div>
      <div class="f-default__col" (keydown.enter)="$event.preventDefault()">
        <input class="f-default__field"
               type="text"
               [(ngModel)]="formData.location.address"
               name="projectAddress"
               required
               #projectAddressRef="ngModel"
               #location
               [ngClass]="{'_error': isSubmitted && projectAddressRef.errors?.required}"
               placeholder="Address"/>
        <div class="f-default__text _error" *ngIf="submitted && !formData.location?.coordinates?.latitude">Please select correct Google location</div>
      </div>
    </div>

    <div class="f-default__row">
      <div class="f-project-add__map-wrapper">
        <agm-map class="f-project-add__map"
                 (mapClick)="locationClicked($event)"
                 [latitude]="formData.location?.coordinates?.latitude || 39.8282"
                 [longitude]="formData.location?.coordinates?.longitude || -98.5795"
                 [scrollwheel]="false"
                 [zoom]="15">
          <agm-marker [markerDraggable]="true"
                      (dragEnd)="markerMoved($event)"
                      [latitude]="formData.location?.coordinates?.latitude || 39.8282"
                      [longitude]="formData.location?.coordinates?.longitude || -98.5795"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>

  <div class="f-project-add__item">
    <h3 class="f-default__title">
      <span class="_number">4</span>
      <span>Budget and other</span>
    </h3>
    <div class="f-default__row _flex">
      <div class="f-default__col">
        <div class="f-project-add__caption">What budget do you have in mind?</div>
      </div>
      <div class="f-default__col">
        <div class="f-default__col-inner">
          <label class="f-default__label _select" [ngClass]="{'_placeholder': !formData.budget.title}">
            <select class="f-default__field"
                    [(ngModel)]="formData.budget.title"
                    #budgetRef="ngModel"
                    (ngModelChange)="selectBudget($event)"
                    required
                    [ngClass]="{'_error': isSubmitted && budgetRef.errors?.required}"
                    name="budget">
              <option [value]="null">Select your budget</option>
              <option *ngFor="let budget of budgets"
                      [value]="budget.title">
                ${{budget.min}}-${{budget.max}}
              </option>
            </select>
          </label>
        </div>
      </div>
    </div>
    <div class="f-default__row _flex">
      <div class="f-default__col">
        <div class="f-project-add__caption">Date and time</div>
      </div>
      <div class="f-default__col">
        <div class="f-default__field f-project-add__datepicker"
             daterangepicker
             [options]="{cancelClass: 'daterangepicker-cancel', locale: { format: 'MM-DD-YYYY hh:mm' }, applyClass: 'f-default__button', minDate: now, linkedCalendars: true, autoApply: true, skipCss: true, opens: 'left', startDate:date.start, endDate:date.end, timePicker: true, ranges: false }"
             (selected)="selectedDate($event, date)">
          <span class="form-control uneditable-input" name="daterange">
              from {{ date.start | date:'MM/dd/yyyy' }} to {{ date.end| date:'MM/dd/yyyy' }}
          </span>
        </div>
      </div>
    </div>
    <div class="f-default__row _flex">
      <div class="f-default__col">
        <div class="f-project-add__caption">Expected duration of flight (hours)</div>
      </div>
      <div class="f-default__col">
        <label class="f-default__label _select" [ngClass]="{'_placeholder': !formData.duration.title}">
          <select class="f-default__field"
                  name="duration"
                  [(ngModel)]="formData.duration.title"
                  (ngModelChange)="selectDuration($event)">
            <option [value]="null">Select expected duration</option>
            <option *ngFor="let duration of durations"
                    [value]="duration.title">
              {{duration.title}}
            </option>
          </select>
        </label>
      </div>
    </div>
    <div class="f-default__row _flex">
      <div class="f-default__col">
        <div class="f-project-add__caption">Project Post Production (Editing)</div>
      </div>
      <div class="f-default__col">
        <label class="f-default__label _checkbox">
          <input class="f-default__chk"
                 type="checkbox"
                 [checked]="formData.postProductionRequired"
                 (change)="formData.postProductionRequired = !formData.postProductionRequired"/>
          <span class="f-default__chk-span"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="f-project-add__item">
    <h3 class="f-default__title">
      <span class="_number">5</span>
      <span>Get the most from your project!</span>
      <span class="_small">(optional)</span>
    </h3>
    <div class="f-default__row f-project-add__row _flex _wrap">
      <div *ngFor="let paidOption of paidOptions; let i = index;"
           [ngClass]="{ _active: paidOptionsChecked[i] }"
           class="f-project-add__paidoption">
        <div class="f-project-add__paidoption-wrapper"
             [ngClass]="paidOptionsClasses[i]">
          <label class="f-default__label _chk">
            <input class="f-default__chk-input"
                   type="checkbox"
                   name="projectFeatured"
                   [checked]="paidOptionsChecked[i]"
                   (click)="checkRemovement($event, isRemovablePaidOption(paidOption))"
                   (change)="selectPaidOption($event.target.checked, paidOption)"/>
            <span class="f-default__chk f-project-add__paidoption-title">{{ paidOption.title }}</span>
          </label>
          <p class="f-default__text f-project-add__text">{{ paidOption.description }}</p>
          <div class="f-default__price f-project-add__price">${{ paidOption.price }}.00</div>
        </div>
      </div>
    </div>
  </div>

  <div class="f-project-add__bottom">
    <button class="f-default__button _big">{{ isEditForm ? 'Update Project' : 'Post Project now' }}</button>
    <div class="f-default__text _center" *ngIf="!isEditForm">
      <div>By clicking 'Post Project Now', you are indicating that you have reed and agree to the
        <a href="#" class="f-project-add__link">Terms & Conditions</a>
      </div>
    </div>
  </div>
</form>
