<div class="about">
  <div class="container about__container">
    <h1 class="about__title">
      About Us
    </h1>

    <p class="about__text">
      Drones4Hire.com is a drone hiring platform that connects professional FAA-licensed drone pilots with businesses and individuals seeking their services.  With the drone industry rapidly growing, the need for a stress-free hiring service has grown too. Our platform was created to help clients locate the best drone pilots in their area while also helping those pilots find the right clients for their services.
    </p>
    <p class="about__text">
      Today, Drones4hire.com is the trusted brand in contract drone services across numerous industries—real estate, construction, event photography, agriculture, inspections, forest management, field research—you name it. For clients, we make it easy and quick to find and contact the nation’s top drone pilots. For drone pilots, we provide the best online tools not just to connect with clients, but to promote their business and grow their own client base as well.
      <a class="about__link" [routerLink]="['/sign-up']">Click here to register!</a>
    </p>

    <figure class="about__figure">
      <img class="about__img" src="./assets/img/dron-1.jpg" alt="Dron" object-fit="cover">
    </figure>
  </div>
</div>
