.b-my-projects
  margin-top 25px
  &__wrapper
    margin-bottom 20px
  &__title
    font-weight 600
    line-height 40px
    font-size 5rem
    color: black
    display inline-block
  &__btn
    color #ffffff
    font-size 1.4rem
    background-color: #3ebcc7
    padding 5px
    float right
    padding 8px 17px
    border-radius 4px
