@import '../../../styles/settings/variables.styl'

.s-going
  padding 100px 0
  &__title
    color $gray1f
    font-size 3.6rem
    font-weight: 400
    letter-spacing .35em
    margin-bottom 70px
    text-align: center
    text-transform: uppercase
    position: relative
