<div class="b-bid-info">
  <div class="b-bid-info__title">bid info</div>
  <div class="b-bid-info__wrapper">
    <div class="b-bid-info__item">
      <div class="b-bid-info__item-title"># Bids</div>
      <div class="b-bid-info__item-text">{{bidInfo.count}}</div>
    </div>
    <div class="b-bid-info__item">
      <div class="b-bid-info__item-title">Highest Bid</div>
      <div class="b-bid-info__item-text">{{bidInfo.max}}</div>
    </div>
    <div class="b-bid-info__item">
      <div class="b-bid-info__item-title">Days Left</div>
      <div class="b-bid-info__item-text">{{bidInfo.left}}</div>
    </div>
  </div>
</div>
