.b-bid-info
  margin-bottom: 70px
  &__title
    text-transform: uppercase
    font-size 3.6rem
    color #414141
    margin-bottom: 42px;
    letter-spacing: 15px
  &__wrapper
    display: flex
    flex-direction column
    max-width: 235px
    border 1px solid #414141
  &__item
    text-align: center
    padding: 23px 10px;
    &:not(:last-child)
      border-bottom 1px solid #414141
    &-title
      font-size 1.8rem
      margin-bottom: 5px
      letter-spacing: 4px
      color #acacac
    &-text
      font-size 1.8rem
      letter-spacing: 4px
      color #2f2f2f
