<div class="b-project-details">
  <div class="b-project-details__title">details</div>
  <div class="b-project-details__wrapper">
    <div class="b-project-details__item">
      <div class="b-project-details__subtitle">Posted By</div>
      <div class="b-project-details__text">{{ project.client?.firstName }} {{ project.client?.lastName }}</div>
    </div>
    <div class="b-project-details__item" *ngIf="false">
      <button class="f-default__button b-project-details__button">leave a review</button>
    </div>
    <div class="b-project-details__item" *ngIf="project.service?.category?.name">
      <div class="b-project-details__subtitle">Type</div>
      <div class="b-project-details__text">{{ projectService.formatType(project.service?.category?.name) }}</div>
    </div>
    <div class="b-project-details__item" *ngIf="project.location">
      <div class="b-project-details__subtitle">Location</div>
      <div class="b-project-details__text">
        <div *ngIf="project.location.address">
          {{ project.location.address }}
        </div>
        <div *ngIf="project.location.city || project.location.country?.name">
          {{ project.location.city }}{{ project.location.city && project.location?.country?.name ? ', ' : '' }} {{project.location?.state?.name ? project.location?.state?.name + ', ' : ''}}{{ project.location?.country?.name }}
        </div>
        <div *ngIf="project.location.postcode">
          {{ project.location.postcode }}
        </div>
      </div>
    </div>
    <div class="b-project-details__item" *ngIf="project.budget?.min || project.budget?.max">
      <div class="b-project-details__subtitle">Budget</div>
      <div class="b-project-details__text">{{'$' + project.budget?.min + '-$' + project.budget?.max }}</div>
    </div>
    <div class="b-project-details__item" *ngIf="project.startDate">
      <div class="b-project-details__subtitle">Date Posted</div>
      <div class="b-project-details__text">{{project.startDate | date:'MM/dd/y'}}</div>
    </div>
    <div class="b-project-details__item" *ngIf="project.finishDate || project.startDate">
      <div class="b-project-details__subtitle">Job Date</div>
      <div class="b-project-details__text" *ngIf="project.startDate === project.finishDate">
        {{project.startDate | date:'MM/dd/y'}}
      </div>
      <div class="b-project-details__text" *ngIf="project.startDate !== project.finishDate">
        {{project.startDate | date:'MM/dd/y'}}{{project.startDate && project.finishDate ? '-' : ''}} {{project.finishDate | date:'MM/dd/y'}}
      </div>
    </div>
  </div>
</div>
