<div class="b-project-details">
  <div class="b-project-details__title">details</div>
  <div class="b-project-details__wrapper">
    <div class="b-project-details__subtitle">Posted By</div>
    <div class="b-project-details__text">{{details.postedBy}}</div>
    <div class="b-project-details__subtitle">Type</div>
    <div class="b-project-details__text">{{details.type}}</div>
    <div class="b-project-details__subtitle">Location</div>
    <div class="b-project-details__text">{{details.location}}</div>
    <div class="b-project-details__subtitle">Budget</div>
    <div class="b-project-details__text">{{details.budget}}</div>
    <div class="b-project-details__subtitle">Date Posted</div>
    <div class="b-project-details__text">{{details.postDate | date:'MM/dd/y'}}</div>
    <div class="b-project-details__subtitle">Job Date</div>
    <div class="b-project-details__text">{{details.jobDate | date:'MM/dd/y'}}</div>
  </div>
</div>
