<div class="b-project-details">
  <div class="b-project-details__title">details</div>
  <div class="b-project-details__wrapper">
    <div class="b-project-details__subtitle">Posted By</div>
    <div class="b-project-details__text"></div>
    <div class="b-project-details__subtitle">Type</div>
    <div class="b-project-details__text"></div>
    <div class="b-project-details__subtitle">Location</div>
    <div class="b-project-details__text"></div>
    <div class="b-project-details__subtitle">Budget</div>
    <div class="b-project-details__text">{{project.budget?.title}}</div>
    <div class="b-project-details__subtitle">Date Posted</div>
    <div class="b-project-details__text">{{project.startDate | date:'MM/dd/y'}}</div>
    <div class="b-project-details__subtitle">Job Date</div>
    <div class="b-project-details__text">{{project.finishDate | date:'MM/dd/y'}}</div>
  </div>
</div>
