<ul role="list" class="m-footer">
  <li class="m-footer__item">
    <a class="m-footer__link" *ngIf="isNav" [routerLink]="['/']">Home</a>
    <a href="#" class="m-footer__link" *ngIf="isSupport">FAQ’s</a>
    <a href="#" class="m-footer__link" *ngIf="isTouch">877.577.1782</a>
  </li>
  <li class="m-footer__item">
    <a class="m-footer__link" *ngIf="isNav" [routerLink]="[getDashboardLink()]">Dashboard</a>
    <a class="m-footer__link" *ngIf="isSupport" [routerLink]="['contact']">Contact Us</a>
    <span class="m-footer__text" *ngIf="isTouch">923 NE Woods Chapel Rd.</span>
  </li>
  <li class="m-footer__item">
    <a class="m-footer__link" *ngIf="isNav && _authorizationService.isUserLogin && _accountService.isUserPilot()" [routerLink]="['search']">Browse Projects</a>
    <a href="#" class="m-footer__link" *ngIf="isSupport">Privacy Policy</a>
    <span class="m-footer__text" *ngIf="isTouch">Suite 358, Lee's Summit, MO 64064</span>
  </li>
  <li class="m-footer__item">
    <a class="m-footer__link" *ngIf="isNav" [routerLink]="['about']">About Us</a>
    <a href="#" class="m-footer__link" *ngIf="isSupport">Terms & Conditions</a>
  </li>
  <li class="m-footer__item">
    <a href="#" class="m-footer__link" *ngIf="isNav">Blog</a>
  </li>
</ul>
