.m-footer
  display: block
  &__item
    margin-bottom: 10px
  &__text
  &__link
    font-size 1.4rem
    font-weight: 400
    color #fff
  &__link
    transition 0.25s
    &:hover
      color #3ebcc7;
