<div class="search__map-wrapper">
  <agm-map class="search__map"
           [latitude]="pilotLocation.coordinates?.latitude || 39.8282"
           [longitude]="pilotLocation.coordinates?.longitude || -98.5795"
           [scrollwheel]="false"
           (boundsChange)="boundsChange($event)"
           (mapReady)="initEvent()"
           [zoom]="12">
      <agm-snazzy-info-window
        [isOpen]="true"
        [maxWidth]="175"
        *ngFor="let project of mapProjects"
        [latitude]="project.coordinates?.latitude"
        [longitude]="project.coordinates?.longitude"
        [closeOnMapClick]="false"
        [closeWhenOthersOpen]="false">
        <ng-template>
          <div class="search__iw-budget">${{project.budget.min}} - ${{project.budget.max}}</div>
          <div class="search__iw-title">
            <a  class="search__iw-link"
                [routerLink]="['/project', project.id, 'description']">{{project.title}}</a>
          </div>
        </ng-template>
      </agm-snazzy-info-window>

  </agm-map>
</div>
<div class="container search">
  <router-outlet></router-outlet>
</div>
