@import '../../styles/settings/variables.styl'

.my-projects
  padding-top 200px
  background-color: #fff
  &__wrapper
    display: flex
    margin-bottom 45px
  &__title
    line-height 40px
    font-size 5rem
    font-weight 400
    color: black
    display inline-block
  &__btn
    color #fff
    font-size 2.4rem
    background-color: #00bcd4
    padding 6px 30px 8px
    border-radius 2px
    box-shadow: 0 3px 7px rgba(#000, 0.35)
    margin-left: 30px
    &._red
      background-color #CE2336
  &__tabs
    position: relative
    svg-use
      display: inline-block
      width: 27px
      height: 29px
      vertical-align: middle
    .svg-box-search
    .svg-box-download
    .svg-box-settings
      width 27px
      height 29px
      display inline-block
      vertical-align: top
      margin-right 10px
      fill: $gray1f
