.my-projects
  padding-top 200px
  background-color rgba(138, 138, 138, .1)
  &__wrapper
    margin-bottom 20px
  &__title
    font-weight 600
    line-height 40px
    font-size 5rem
    color: black
    display inline-block
  &__btn
    color #ffffff
    font-size 1.4rem
    background-color: #3ebcc7
    float right
    padding 8px 17px
    border-radius 4px

  svg-use
    display: inline-block
  .svg-openforbidding
  .svg-workinprocess
  .svg-pastprojects
    width 16px
    height 16px
    display inline-block
    vertical-align: top
    margin-right 10px
