<form class="f-default f-license"
      novalidate
      #licenceForm="ngForm"
      (submit)="saveChanges($event, licenceForm)">

  <div class="f-default__row f-license__row">
    <label class="f-default__file">
      <span class="f-default__text">Pilot License:*</span>
      <input class="f-default__input"
             type="file"
             accept="image/jpeg,image/jpg,image/png"
             name="license"
             ng2FileSelect
             [uploader]="uploader"
             (change)="handlePhotoUpload('license')"
             [ngClass]="{'_error': submitted && !accountService.license?.licenseURL}">
      <span class="f-default__button f-license__button _center">Choose File</span>
      <span class="f-default__text">{{ licFileName ? 'Chosen file: ' + licFileName : 'No file chosen' }}</span>
    </label>
  </div>

  <div class="f-default__row f-license__row">
    <label class="f-default__file">
      <span class="f-default__text">Insurance Certificate:*</span>
      <input class="f-default__input"
             type="file"
             accept="image/jpeg,image/jpg,image/png"
             name="insurance"
             ng2FileSelect
             [uploader]="uploader"
             (change)="handlePhotoUpload('insurance')"
             [ngClass]="{'_error': submitted && !accountService.license?.insuranceURL}">
      <span class="f-default__button f-license__button _center">Choose File</span>
      <span class="f-default__text">{{ certFileName ? 'Chosen file: ' + certFileName : 'No file chosen' }}</span>
    </label>
  </div>

  <button class="f-default__button f-license__button _big"
          [disabled]="submitted && (!accountService.license?.licenseURL || !accountService.license?.insuranceURL)">Submit for Review
  </button>
</form>
