<form class="f-default f-license">
    <div class="f-default__row">
      <label class="f-default__label _top">
        <span class="f-default__text _req">Pilot License:</span>
        <input class="f-default__field _file" type="file"/>
      </label>
    </div>
    <div class="f-default__row">
      <label class="f-default__label _top">
        <span class="f-default__text _req">Insurance Certificate:</span>
        <input class="f-default__field _file" type="file"/>
      </label>
    </div>
    <button type="button" class="f-default__button f-license__button">Submit for Review</button>
</form>
