@import "../../../styles/settings/variables.styl"

.f-license
  &__row
    &._flex
      margin 0
      align-items center
    & + &
      margin-top 20px
    &._green
      ._error
        color green
  &__button
    margin-right: 12px
    &._big
      margin-top: 20px
  &__filename
    color $gray1f
