<div class="s-services">
  <div class="container">
    <h3 class="s-services__title">services we connect</h3>
    <p class="s-services__text">Telecom, Underwater, Mining , Insurance/Damage Claims, Media, Advertising and Marketing, Infrastructure, Emergency Services, Film and TV,
      Events and Wedding, Tourism, Conservation and Forestry, 3D Tours and Maps, Training Services, Drone Repair Services, Drone Fishing , Film Editing.</p>

    <div class="s-services__bottom">
      <l-services></l-services>
    </div>
    <a-project></a-project>
  </div>
</div>
