<div class="s-services">
  <div class="container">
    <h3 class="s-services__title">services we connect</h3>
    <p class="s-services__text">ilm & TV, Events, Real Estate, Advertising & Marketing, Tourism, Construction, Conservation & Forestry, Agriculture, Mining, Inspections, Infrastructure, Emergency Services, Media, Insurance/Damage Claims, Thermal Imaging, and 3D Mapping</p>

    <div class="s-services__bottom">
      <l-services></l-services>
    </div>
    <a class="s-services__link" href="https://www.drones4hire.com/projects/create_project">Post a Project</a>
  </div>
</div>
