<div class="work-client">
  <div class="container work-client__container">
    <h1 class="work-client__title">
      Hire the World’s Best Drone Pilots
    </h1>
    <p class="work-client__text">
      Welcome to Drones4Hire, our innovative system brings together professional drone pilots and clients in need of
      drone services.
    </p>

    <h2 class="work-client__subtitle">
      How It Works
    </h2>
    <p class="work-client__text">
      Need a drone pilot for an event, 3D mapping, asset inspection, or thermal imaging project? Drones4Hire makes it
      easy to find one. Create a job listing that tells us what you need done, and when and where it will take place.
      Our network of highly qualified professional drone pilots will browse the project listings and submit a bid for
      your project. Select a pilot with the rates, experience, and availability that work for you. Once they’re hired,
      our hassle-free system lets you send messages and submit secure payments all in one place.
    </p>

    <figure class="work-client__figure">
      <img class="work-client__img" src="./assets/img/coffe.jpeg" alt="Coffee" object-fit="cover">
    </figure>

    <h2 class="work-client__subtitle">
      Select from the Best
    </h2>
    <p class="work-client__text">
      We vet each pilot for proper operating requirements and insurance. Once approved, they will receive a certified
      badge and insurance badge to proudly display on their profile.
    </p>

    <h2 class="work-client__subtitle">
      No Time to Search?
    </h2>
    <p class="work-client__text">
      Coming soon: Find a pilot through our friction-free hiring option. Just submit your project details directly to
      us, and our in-house staff will take care of all coordinating and negotiations for you, saving you time and
      frustration.
    </p>

    <h2 class="work-client__subtitle">
      Benefits to Clients
    </h2>
    <ul class="work-client__list">
      <li class="work-client__list-item">
        Competitive pricing: pilots place bids on your project; you select the one that fits your requirements and budget
      </li>
      <li class="work-client__list-item">
        One-stop convenience: Hire, correspond, and pay the drone pilot you need all in one place
      </li>
      <li class="work-client__list-item">
        Safe payment: Pay through our secured system
      </li>
      <li class="work-client__list-item">
        Certified pilots: We check all pilot credentials and insurance status so you know exactly what you’re getting
      </li>
    </ul>

    <figure class="work-client__figure _small">
      <img class="work-client__img" src="./assets/img/river.jpeg" alt="River" object-fit="cover">
    </figure>
  </div>
</div>
