<div class="work-client">
  <div class="container work-client__container">
    <h1 class="work-client__title">
      Hire the World’s Best Drone Pilots
    </h1>
    <p class="work-client__text">
      Need a drone pilot for an inspection, a construction project, a real estate portfolio, a special event, or any other project? Welcome to Drones4Hire. Our innovative platform connects clients in need of drone services with professional drone pilots.
    </p>

    <h2 class="work-client__subtitle">
      How It Works
    </h2>
    <p class="work-client__text">
      Drones4Hire makes it quick and easy to find, hire, and pay the right pilot for your project’s needs — in just four simple steps.
    </p>

    <ul class="work-client__list _digits">
      <li class="work-client__list-item">
        Create a project listing that details the location, requirements, and completion date.
      </li>
      <li class="work-client__list-item">
        Licensed and insured drone pilots from our network submit all-inclusive bid proposals on your project. All bids are organized in a single report so you can quickly review rates, pilot ratings and reviews, pilot portfolios, drone and camera equipment, and more.
      </li>
      <li class="work-client__list-item">
        When you hire a pilot on our platform, our secure, hassle-free system protects your payment, while you finalize last-minute details using our platform’s collaboration system.
      </li>
      <li class="work-client__list-item">
        Once your project is completed, our platform makes it easy to view and download your images or data. After you’ve reviewed the work product, just release your payment and your pilot is paid immediately for their work.
      </li>
    </ul>

    <figure class="work-client__figure">
      <img class="work-client__img" src="./assets/img/coffe.jpeg" alt="Coffee" object-fit="cover">
    </figure>

    <h2 class="work-client__subtitle">
      Select from the Best
    </h2>
    <p class="work-client__text">
      We vet every pilot in our network for proper operating requirements and insurance. They are only granted access to our platform after they’re approved. Not only that, but our pilots have pre-selected the types of projects they’re interested in and equipped for so that our system automatically notifies them of jobs that suit them.
    </p>

    <h2 class="work-client__subtitle">
      No Time to Search? Try our full-service option!
    </h2>
    <p class="work-client__text">
      We’ll assign you a project manager who will handle your entire project for you. Your PM takes care of everything—locating the pilot, negotiating the price, ensuring that your project is completed according to specifications, and handling the payment process. You can get on with other important tasks while our pilot carries out your project, then receive your work product as soon as it’s uploaded to our platform. Just submit your project details to us and we do the rest, saving you time and frustration.
    </p>

    <h2 class="work-client__subtitle">
      Six Great Reasons to Choose Drones4Hire
    </h2>
    <ul class="work-client__list">
      <li class="work-client__list-item">
        <i>Competitive pricing</i>. Pilots submit bid proposals on your project; you select the one that best fits your requirements and budget.
      </li>
      <li class="work-client__list-item">
        <i>One-stop convenience</i>. Select, hire, negotiate, and pay the drone pilot all in one place.
      </li>
      <li class="work-client__list-item">
        <i>Safe, single-channel payment</i>. Pay through our secure payment system—no worries about lost checks, slow wire transfers, or other money messes.
      </li>
      <li class="work-client__list-item">
        <i>Licensed pilots</i>. We manually check all pilot license and insurance information prior to granting them access to our platform. You don’t have to stress or worry about who you’re hiring.
      </li>
      <li class="work-client__list-item">
        <i>Optimum selection</i>. Our pilots specify the types of jobs that suit them, so they self-select, eliminating scattershot bids you’d otherwise have to sort through.
      </li>
      <li class="work-client__list-item">
        <i>Client reviews and ratings</i>. You can check out ratings and reviews from previous clients to ensure that the pilot is the best fit for your project.
      </li>
    </ul>

    <figure class="work-client__figure _small">
      <img class="work-client__img" src="./assets/img/river.jpeg" alt="River" object-fit="cover">
    </figure>
  </div>
</div>
