<div class="contact-us">
  <div class="container contact-us__container">
    <h1 class="contact-us__title">
      Contact Us
    </h1>
    <div class="contact-us__row">
      <div class="contact-us__col">
        <f-contact-us></f-contact-us>
      </div>
      <div class="contact-us__col">
        <div class="contact-us__info-wrap">
          <div class="contact-us__info">
            <p class="contact-us__subtitle">Contact Us</p>
            <p class="contact-us__text">
              <span class="contact-us__key">Email:</span>
              <a href="mailto:support@drones4hire.com" class="contact-us__value">support@drones4hire.com</a>
            </p>
            <p class="contact-us__text">
              <span class="contact-us__key">Phone:</span>
              <a href="tel:18775771782" class="contact-us__value">1-877-577-1782</a>
            </p>
            <p class="contact-us__text">
              <span class="contact-us__key">Our Headquarters:</span>
              <br>
              <span class="contact-us__value _street">
                923 NE Woods Chapel Rd. Suite 358 Lees Summit, MO 64064 <br> United States
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
