<div class="contact-us">
  <div class="container contact-us__container">
    <h1 class="contact-us__title">
      Contact Us
    </h1>
    <div class="contact-us__row">
      <div class="contact-us__col">
        <div class="f-contact-us__form">
          <div class="f-contact-us__row">
            <div class="f-contact-us__col">
              <input
                class="f-default__field f-contact-us__field"
                type="text"
                name="firstName"
                placeholder="First name"
                required
              />
            </div>
            <div class="f-contact-us__col">
              <input
                class="f-default__field f-contact-us__field"
                type="text"
                name="lastName"
                placeholder="Last name"
                required
              />
            </div>
          </div>
          <div class="f-contact-us__row">
            <input
              class="f-default__field f-contact-us__field"
              type="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="f-contact-us__row">
            <input
              class="f-default__field f-contact-us__field"
              type="tel"
              name="phone"
              placeholder="Phone number"
              required
            />
          </div>
          <div class="f-contact-us__row">
            <label class="f-default__label _select">
              <select
                class="f-default__field"
                name="state"
                required
              >
                <option>Please select the reason</option>
              </select>
            </label>
          </div>
          <div class="f-contact-us__row">
            <label class="f-default__label _select">
              <select
                class="f-default__field"
                name="state"
                required
              >
                <option>Country</option>
              </select>
            </label>
          </div>
          <div class="f-contact-us__row">
            <textarea
              class="f-default__field f-contact-us__area _area"
              name="message"
              placeholder="Message text"
            ></textarea>
          </div>
          <button class="f-default__button f-contact-us__button _big">
            Submit
          </button>
        </div>
      </div>
      <div class="contact-us__col">
        <div class="contact-us__info-wrap">
          <div class="contact-us__info">
            <p class="contact-us__subtitle">Contact Us</p>
            <p class="contact-us__text">
              <span class="contact-us__key">Email:</span>
              <a href="mailto:support@drones4hire.com" class="contact-us__value">support@drones4hire.com</a>
            </p>
            <p class="contact-us__text">
              <span class="contact-us__key">Phone:</span>
              <a href="tel:18775771782" class="contact-us__value">1-877-577-1782</a>
            </p>
            <p class="contact-us__text">
              <span class="contact-us__key">Our Headquarters:</span>
              <br>
              <span class="contact-us__value _street">
                923 NE Woods Chapel Rd. Suite 358 Lees Summit, MO 64064 <br> United States
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
