<section class="s-signup-success">
  <div class="container">
    <h1 class="s-signup-success__title">Sign up Successful!</h1>
    <div class="s-signup-success__text">
      Please activate your account. We sent you a confirmation email to verify your account. If you don't see the email in your inbox then check the spam/junk folders. Sometimes it just takes a little bit more time. Tip: Add our email address
      <a href="mailto:.noreply@drones4hire.com" class="s-signup-success__link">noreply@drones4hire.com</a> to your address book to make sure you receive our emails.
    </div>
  </div>
</section>
