.s-account
  padding: 255px 0 100px
  &__title
    font-size 5rem
    margin-bottom: 70px
  &__subtitle
    font-size 2.4rem
    padding: 0 30px
    line-height: 5rem
    background #4d4d4f
    color #fff
    border-radius 3px
    margin-bottom: 30px
    opacity 1
  &__tabs
    display: flex
    border-bottom 1px solid #999
    margin-bottom: 30px
  &__tab
    padding 15px 8px
    flex-basis: 240px
    max-width 250px
    font-size 2rem
    font-weight: 700
    color #4d4d4f
    &._active
      color: #3ebcc7
      border-bottom 2px solid #4d4d4f
  &__content
    position: relative
    min-height 500px
    overflow hidden
  &__item
    position: absolute
    width: 100%
    top: 0
    left: 0
    opacity 0
    transition opacity 0.45s
    &._active
      position: relative
      opacity 1
      z-index: 1
  &__text
    font-size 1.8rem
    font-weight: 400
    max-width 1000px
    column-count 2
    column-gap 100px
    margin: 0 auto


