<form class="f-search">
  <div class="f-search__row">
    <div class="f-search__col">
      <select class="f-search__field _select">
        <option>Category</option>
        <option>Category1</option>
        <option>Category2</option>
      </select>
    </div>
    <div class="f-search__col">
      <select class="f-search__field _select">
        <option>Budget range</option>
        <option>< 1000</option>
        <option>> 1000</option>
      </select>
    </div>
    <div class="f-search__col">
      <span class="f-search__text">Location</span>
      <input class="f-search__field" type="text" name="location" placeholder="ex. 555555"/>
    </div>
    <div class="f-search__col">
      <span class="f-search__text">Within # miles</span>
      <input class="f-search__field" type="text" name="range" placeholder="ex. 150"/>
    </div>
  </div>
  <button class="f-search__button" type="button">Submit</button>
</form>
