.f-profile
  position: relative
  &__button
    font-family: inherit
  .f-default
    &__field
      font-family: inherit
      &._area
        height: 200px
    &__text
      &._light
        display block
        text-align right
        margin-right 0
