<form novalidate
      #profileForm="ngForm"
      (submit)="saveChanges($event, profileForm)"
      class="f-profile f-default">
  <div class="f-default__inner">
    <div class="f-default__col">
      <div class="f-default__row">
        <div class="f-default__label">
          <span class="f-default__text _req-l">Required</span>
        </div>
      </div>
      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">First Name:</span>
          <input class="f-default__field"
                 type="text"
                 name="firstName"
                 [ngModel]="accountService.account?.firstName"
                 (ngModelChange)="accountService.account.firstName = $event"
                 required
                 #firstNameRef="ngModel"
                 [ngClass]="{'_error': submitted && firstNameRef.errors?.required}"/>
          <span class="f-default__error" *ngIf="submitted && firstNameRef.errors?.required">This field is required</span>
        </label>
      </div>
      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">Last Name:</span>
          <input class="f-default__field"
                 type="text"
                 name="lastName"
                 [(ngModel)]="accountService.account.lastName"
                 required
                 #lastNameRef="ngModel"
                 [ngClass]="{'_error': submitted && lastNameRef.errors?.required}"/>
          <span class="f-default__error" *ngIf="submitted && lastNameRef.errors?.required">This field is required</span>
        </label>
      </div>
      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">Address:</span>
          <input class="f-default__field"
                 type="text"
                 name="address"
                 [(ngModel)]="accountService.account.location.address"
                 required
                 #addressRef="ngModel"
                 [ngClass]="{'_error': submitted && addressRef.errors?.required}"/>
          <span class="f-default__error" *ngIf="submitted && addressRef.errors?.required">This field is required</span>
        </label>
      </div>
      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">Country:</span>
          <select class="f-default__field"
                  name="country"
                  [(ngModel)]="commonService.accountCountry"
                  (ngModelChange)="selectCountry($event)"
                  required
                  #countryRef="ngModel"
                  [ngClass]="{'_error': submitted && countryRef.errors?.required}">

            <option *ngFor="let option of countries"
                    [value]="option.name">
              {{option.name}}
            </option>
          </select>

          <span class="f-default__error" *ngIf="submitted && countryRef.errors?.required">This field is required</span>
        </label>
      </div>

      <div class="f-default__row" *ngIf="commonService.checkCountry('accountCountry')">
        <label class="f-default__label">
          <span class="f-default__text _req">State:</span>
          <select class="f-default__field"
                  name="state"
                  [(ngModel)]="commonService.accountState"
                  (ngModelChange)="selectState($event)"
                  required
                  #stateRef="ngModel"
                  [ngClass]="{'_error': submitted && stateRef.errors?.required}">

            <option *ngFor="let option of states"
                    [value]="option.name">
              {{option.name}}
            </option>
          </select>
          <span class="f-default__error" *ngIf="submitted && stateRef.errors?.required">This field is required</span>
        </label>
      </div>

      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">City:</span>
          <input class="f-default__field"
                 type="text"
                 name="city"
                 [(ngModel)]="accountService.account.location && accountService.account.location.city"
                 required
                 #cityRef="ngModel"
                 [ngClass]="{'_error': submitted && cityRef.errors?.required}">
          <span class="f-default__error" *ngIf="submitted && cityRef.errors?.required">This field is required</span>
        </label>
      </div>
      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">Postal Code:</span>
          <input class="f-default__field"
                 type="text"
                 name="postalCode"
                 [(ngModel)]="accountService.account.location.postcode"
                 required
                 #postalCodeRef="ngModel"
                 [ngClass]="{'_error': submitted && postalCodeRef.errors?.required}">
          <span class="f-default__error" *ngIf="submitted && postalCodeRef.errors?.required">This field is required</span>
        </label>
      </div>
      <div class="f-default__row" *ngIf="false && authorizationService.isUserLogin && accountService.isUserPilot()">
        <label class="f-default__label">
          <span class="f-default__text">Flight Hours:</span>
          <input class="f-default__field" type="text" name="flightHours"/>
        </label>
      </div>
    </div>

    <div class="f-default__col">
      <div class="f-default__row">
        <label class="f-default__label _top">
          <span class="f-default__text _req">Upload Image:</span>
          <input class="f-default__field _file"
                 type="file"
                 accept="image/jpeg,image/jpg,image/png"
                 name="profileImage"
                 (change)="handlePhotoUpload($event)"
                 ng2FileSelect
                 [uploader]="uploader">
          <!--<span class="f-default__error" *ngIf="submitted && firstNameRef.errors?.required">This field is required</span>-->
        </label>
      </div>
      <div class="f-default__row" *ngIf="accountService.account.photoURL">
        <div class="f-default__avatar">
          <img src="{{accountService.account.photoURL}}" alt="avatar">
        </div>
      </div>
      <div class="f-default__row">
        <label class="f-default__label _top">
          <span class="f-default__text _lh">Introduction:</span>
          <textarea class="f-default__field _area"
                    name="introduction"
                    [(ngModel)]="accountService.account.summary"></textarea>
        </label>
      </div>
    </div>
  </div>
  <button class="f-default__button">Save Changes</button>
</form>
