<form novalidate
      #profileForm="ngForm"
      (submit)="saveChanges($event, profileForm)"
      class="f-profile f-default">
  <div class="f-default__inner _margin-small">
    <div class="f-default__col">
      <div class="f-default__row">
        <label class="f-default__label">
          <input class="f-default__field"
                 type="text"
                 name="firstName"
                 placeholder="First name*"
                 [ngModel]="accountService.account?.firstName"
                 (ngModelChange)="accountService.account.firstName = $event"
                 required
                 #firstNameRef="ngModel"
                 [ngClass]="{'_error': submitted && firstNameRef.errors?.required}"/>
        </label>
      </div>
      <div class="f-default__row">
        <label class="f-default__label">
          <input class="f-default__field"
                 type="text"
                 placeholder="Last name*"
                 name="lastName"
                 [ngModel]="accountService.account?.lastName"
                 (ngModelChange)="accountService.account.lastName = $event"
                 required
                 #lastNameRef="ngModel"
                 [ngClass]="{'_error': submitted && lastNameRef.errors?.required}"/>
        </label>
      </div>
      <div class="f-default__row">
        <label class="f-default__label _select" [ngClass]="{'_placeholder': !accountService.account?.location?.country?.name}">
          <select class="f-default__field"
                  name="country"
                  [ngModel]="accountService.account.location.country.name"
                  (ngModelChange)="selectCountry($event)"
                  required
                  #countryRef="ngModel"
                  [ngClass]="{'_error': submitted && countryRef.errors?.required}">
            <option [value]="null">Country*</option>
            <option *ngFor="let option of countries"
                    [value]="option.name">
              {{option.name}}
            </option>
          </select>
        </label>
      </div>

      <div class="f-default__row" *ngIf="checkCountry()">
        <label class="f-default__label _select" [ngClass]="{'_placeholder': !accountService.account?.location?.state?.name}">
          <select class="f-default__field"
                  name="state"
                  [ngModel]="accountService.account.location.state.name"
                  (ngModelChange)="selectState($event)"
                  required
                  #stateRef="ngModel"
                  [ngClass]="{'_error': submitted && stateRef.errors?.required}">
            <option [value]="null">State*</option>
            <option *ngFor="let option of states"
                    [value]="option.name">
              {{option.name}}
            </option>
          </select>
        </label>
      </div>
      <div class="f-default__row" (keydown.enter)="$event.preventDefault()">
        <label class="f-default__label">
          <input class="f-default__field"
                 type="text"
                 placeholder="Address*"
                 name="address"
                 [(ngModel)]="accountService.account.location.address"
                 required
                 #addressRef="ngModel"
                 #location
                 [ngClass]="{'_error': submitted && (addressRef.errors?.required || !accountService.account?.location?.coordinates?.latitude)}"/>
        </label>
        <div class="f-default__text _error" *ngIf="submitted && !accountService.account?.location?.coordinates?.latitude">Please select correct Google location</div>
      </div>

      <!--<div class="f-default__row">-->
        <!--<label class="f-default__label">-->
          <!--<input class="f-default__field"-->
                 <!--type="text"-->
                 <!--name="city"-->
                 <!--placeholder="City*"-->
                 <!--[ngModel]="accountService.account?.location?.city"-->
                 <!--(ngModelChange)="accountService.account.location.city = $event"-->
                 <!--required-->
                 <!--#cityRef="ngModel"-->
                 <!--[ngClass]="{'_error': submitted && cityRef.errors?.required}">-->
        <!--</label>-->
      <!--</div>-->
      <!--<div class="f-default__row">-->
        <!--<label class="f-default__label">-->
          <!--<input class="f-default__field"-->
                 <!--type="text"-->
                 <!--name="postalCode"-->
                 <!--placeholder="Post code*"-->
                 <!--[ngModel]="accountService.account?.location?.postcode"-->
                 <!--(ngModelChange)="accountService.account.location.postcode = $event"-->
                 <!--required-->
                 <!--#postalCodeRef="ngModel"-->
                 <!--[ngClass]="{'_error': submitted && postalCodeRef.errors?.required}">-->
        <!--</label>-->
      <!--</div>-->
      <div class="f-default__row" *ngIf="accountService.isUserPilot()">
        <label class="f-default__label">
          <input class="f-default__field"
                 type="text"
                 name="flightHours"
                 placeholder="Flight Hours"
                 [ngModel]="accountService.account?.flightHours"
                 (ngModelChange)="accountService.account.flightHours = $event"
                 #flightHoursRef="ngModel">
        </label>
      </div>
    </div>

    <div class="f-default__col">
      <div class="f-default__row">
        <figure class="f-default__upload">
          <div class="f-default__img">
              <img src="{{accountService.account.photoURL}}" *ngIf="accountService.account?.photoURL" alt="avatar">
          </div>
          <label class="f-default__label _top">
            <span class="f-default__text">Upload Photo</span>
            <input class="f-default__field _file f-default__input"
                   type="file"
                   accept="image/jpeg,image/jpg,image/png"
                   name="profileImage"
                   (change)="handlePhotoUpload($event)"
                   ng2FileSelect
                   [uploader]="uploader"
                   [ngClass]="{'_error': submitted && !accountService.account?.photoURL}">
            <span class="f-default__button _center">Choose File</span>
          </label>
        </figure>
      </div>

      <div class="f-default__row">
        <label class="f-default__label _top">
          <textarea class="f-default__field _area"
                    name="bio"
                    placeholder="Bio"
                    #bioRef="ngModel"
                    required
                    [ngModel]="accountService.account?.summary"
                    (ngModelChange)="accountService.account.summary = $event"
                    [ngClass]="{'_error': submitted && bioRef.errors?.required}"
          ></textarea>
        </label>
      </div>
    </div>
  </div>
  <button class="f-default__button f-profile__button _big">Save Changes</button>
</form>
