@import "./../../../styles/settings/mixin.styl";

.f-profile
  osans();
  position: relative
  &__button
    font-family: inherit
  .f-default__field
    font-family: inherit
    &._area
      height: 200px
