@import "../../styles/settings/mixin.styl"

.project
  padding-top: 200px;
  &__title
    text-transform: uppercase
    font-size 1.6rem
    margin-bottom: 160px
    color #504f4f
    text-align: center
    position: relative
    &:after
    &:before
      h()
      bottom -50px
      width: 26px
      height: 2px
      background #8a8a8a
      transform rotate(45deg)
    &:before
      transform rotate(-45deg)
  &__wrapper
    display: flex
    margin-bottom: 130px;
  &__left
    flex-basis: 25%
    max-width: 25%
    padding-right: 65px
  &__right
    padding-left: 110px;
    border-left: 1px solid #414141;
    flex-basis: 75%
    max-width: 75%
  &__similar
    text-align: center
    &-title
      font-size: 36px;
      margin-bottom: 65px;
      color: #414141;
      text-transform: uppercase;

  &__bid
    &-btn
      display block
      min-width 160px
      min-height 31px
      background #fff
      color #3ebcc7
      font-size 1.8rem
      margin-bottom 6px
      border:1px solid #3ebcc7
      &._fill
        background #3ebcc7
        color #fff





























