<div class="project-description">
  <div class="project-description__wrapper">
    <div class="project-description__left">
      <b-project-details [project]="project"></b-project-details>
      <b-bid-info [bidInfo]="bidsInfo"></b-bid-info>
    </div>
    <div class="project-description__right">
      <b-project-description [description]="project.summary"></b-project-description>
      <div class="project-description__files" *ngIf="attachments.length">
        <p class="project-description__files-title">
          Attached files:
        </p>
        <ul class="project-description__files-list">
          <li class="project-description__files-item" *ngFor="let attach of attachments">
            <a href="{{ attach.attachmentURL }}" class="project-description__files-link" download *ngIf="isPilot">
              <svg-use name="download"></svg-use>
            </a>
            <span class="project-description__files-text">{{ attach.title }}</span>
            <button type="button"
                    *ngIf="isClient"
                    (click)="deleteFile(attach.id)"
                    class="project-description__files-button">
              <svg-use name="rubbish-bin"></svg-use>
            </button>
          </li>
        </ul>
      </div>
      <l-bids *ngIf="isClient"
              [attachments]="pilotAttachments.length"
              [disabled]="!!project.bidId"
              [bids]="bids"
              [activeId]="activeBidId"
              (award)="award($event)"></l-bids>

      <pr-bid *ngIf="isPilot && pilotBid"
              [bid]="pilotBid">
        <bid-buttons>
          <button class="project-description__bid-btn _fill"
                  (click)="edit()"
                  *ngIf="!project.bidId && !isEdit">Edit</button>
          <button class="project-description__bid-btn"
                  (click)="acceptFromPilot(pilotBid.id, project.status === 'IN_PROGRESS')"
                  [ngClass]="{ _fill: project.status !== 'IN_PROGRESS', _disabled: project.status === 'IN_PROGRESS' }"
                  *ngIf="project.bidId === pilotBid.id">Accept</button>
          <button class="project-description__bid-btn"
                  (click)="rejectFromPilot(pilotBid.id, project.status === 'IN_PROGRESS')"
                  [ngClass]="{ _fill: project.status !== 'IN_PROGRESS', _disabled: project.status === 'IN_PROGRESS' }"
                  *ngIf="project.bidId === pilotBid.id">Reject</button>
        </bid-buttons>
      </pr-bid>

      <f-bid (send)="isEdit ? editBid($event) : submitBid($event)"
             [bid]="pilotBid"
             *ngIf="isPilot && !pilotBid || isEdit"></f-bid>
      <b-comments (send)="send($event)" [comments]="comments"></b-comments>
    </div>
  </div>
  <div class="project-description__similar" *ngIf="similarProjects.length">
    <div class="project-description__similar-title">similar projects</div>
    <l-similar [similarProjects]="similarProjects"></l-similar>
  </div>
</div>
