@import './../../styles/settings/variables.styl'
@import './../../styles/settings/mixin.styl'

.project-description
  &__wrapper
    display flex
    margin-bottom 130px

  &__left
    flex-basis 25%
    max-width 25%
    padding-right 35px

  &__right
    padding-left: 110px
    border-left 1px solid #414141
    flex-basis 75%
    max-width 75%

  &__similar
    text-align center
    &-title
      font-size 36px
      margin-bottom 65px
      letter-spacing: 15px
      color #414141
      text-transform uppercase;

  &__bid
    &-btn
      display: block
      height: 42px
      width: 100%
      min-width 160px
      text-transform: uppercase
      min-height 31px
      background #fff
      color #3ebcc7
      font-size 1.8rem
      margin-bottom 6px
      letter-spacing: 2px
      border:1px solid $blueC7
      &._fill
        background $blueC7
        color #fff
      &._disabled
        cursor: default


  &__files
    margin-bottom: 50px
    &-title
      font-size: 2rem
      text-transform: uppercase
      letter-spacing: 3px
      margin-bottom: 5px
    &-list
      display flex
      flex-direction column
      max-width 350px
    &-item
      padding 8px 0
      border-top 1px solid $gray1f
      display flex
      align-items flex-end
    &-link
      margin-right 10px
    &-text
      font-size: 1.8rem
      color: #8a8a8a
      margin-right 10px
    &-button
      margin-left auto
    .svg-rubbish-bin
    .svg-download
      width 24px
      height 24px
      fill $gray1f

  @media screen and (max-width: 1024px)
    &__wrapper
      display block

    &__left
    &__right
      margin-bottom 25px
      max-width none
      padding 0
    &__right
      margin-bottom 0
      border 0
