@import "./../../styles/settings/mixin.styl";

.terms
  padding-top: 150px
  osans();
  &__container
    max-width 1000px
    padding-left: 50px
    padding-right: 50px
  &__title,
  &__text
    font-family: inherit;
  &__title
    font-size: 3.6rem;
    font-weight: 400;
    text-transform: uppercase
    margin-bottom: 3rem
  &__important,
  &__text
    line-height: 4rem
    font-size: 2rem
    margin-bottom: 3rem
  &__important
    text-transform: uppercase
  &__link
    cursor: pointer
    color: #337ab7;
    text-decoration: underline
