<div class="terms">
  <div class="container terms__container">
    <h1 class="terms__title">
      TERMS AND CONDITIONS
    </h1>

    <p class="terms__important">
      THIS DOCUMENT CONTAINS VERY IMPORTANT INFORMATION REGARDING YOUR RIGHTS AND OBLIGATIONS, AS WELL AS CONDITIONS,
      LIMITATIONS AND EXCLUSIONS THAT MIGHT APPLY TO YOU. PLEASE READ IT CAREFULLY. THESE TERMS REQUIRE THE USE OF
      ARBITRATION ON AN INDIVIDUAL BASIS TO RESOLVE DISPUTES, RATHER THAN JURY TRIALS OR CLASS ACTIONS. BY USING THIS
      WEBSITE OR CONTRACTING FOR SERVICES WITH A THIRD PARTY(“PROVIDER”) FROM THIS WEBSITE, YOU ACCEPT AND ARE BOUND BY
      THESE TERMS AND CONDITIONS.
      <br>
      <br>
      YOU MAY NOT ORDER OR OBTAIN SERVICES FROM THIS WEBSITE IF YOU (A) DO NOT AGREE TO THESE TERMS, (B) ARE NOT THE
      OLDER OF (i) AT LEAST 18 YEARS OF AGE OR (ii) LEGAL AGE TO FORM A BINDING CONTRACT OR (C) ARE PROHIBITED FROM
      ACCESSING OR USING THIS WEBSITE OR ANY OF THIS WEBSITE’S CONTENTS OR SERVICES BY APPLICABLE LAW.
    </p>

    <p class="terms__text">
      These terms and conditions (these “Terms”) apply to the purchase of any services through (the “Site”). These Terms
      are subject to change by Drones 4 Hire, LLC (referred to as “drones 4 hire”,“us”, “we”, or “our” as the context
      may require) without prior written notice at any time, in our sole discretion. The latest version of these Terms
      will be posted on this Site, and you should review these Terms prior to use of any services on this Site. Your
      continued use of this Site after a posted change in these Terms will constitute your acceptance of and agreement
      to such changes.
      <br>
      <br>
      These Terms are an integral part of the Website Terms of Use that apply generally to the use of our Site. You
      should also carefully review our Privacy Policy before placing an order for services through this Site.
      <br>
      <br>
      Description of Service. Drones 4 Hire, LLC provides User with a website that is an online venue for buyers
      (referred to hereinafter as “Buyer” or “Buyers” as the context may require) and service providers (referred to as
      “Provider”, “Providers” or “Operator” as the context may require)to connect and contract with one another for
      various services using an unmanned aerial vehicle (UAV) or “drone”. Buyers and Providers must register for an
      Account in order to bid, post projects, and buy or sell services and products. Drones 4 Hire, LLC is not a party
      to any contract or agreement entered into by Buyers and Providers. Drones 4 Hire, LLC does not warrant the quality
      of any services provided by Providers nor that the services will be suitable for Buyer’s needs. Drones 4 Hire, LLC
      depends upon the Buyers and Providers to warrant that they will follow the terms of any agreement or contract made
      between the two parties.
      <br>
      <br>
      <b>Definitions:</b>
      <br>
      <b>"Account"</b> means the account you open when you register on the Website.
      <br>
      <b>"Buyer means"</b> a User that investigates and purchases Provider Services or items from Provider or identifies
      a Provider through the Website.
      <br>
      <b>"Inactive Account"</b> means a User Account that has not been logged into for a continuous 6 month period.
      <br>
      <b>"Payment"</b> means a prepayment made to Drones 4 Hire, LLC by the Buyer for the provision of Provider Services
      under a User Contract and which will be released in accordance with the section "Create Payments" below.
      <br>
      <b>"Project"</b> or "Job" means a job offered or awarded by a Buyer via the Website, which may include a Project
      by a Buyer, a project awarded by a Buyer (for example through “Award” project), a service bought by a Buyer from a
      Provider, and service awarded by a Buyer to a Provider as a result of competitive bidding hosted via the Website.
      <br>
      <b>"User"</b>, "you" or "your" means an individual who visits or uses the website
      <br>
      <b>"Website"</b> collectively means the websites operated by Drones 4 Hire, LLC and available at <a
      class="terms__link">www.drones4hire.com</a> and any related Drones 4 Hire, LLC’s service, tool or application.
      <br>
      <br>
      <b>Prices and Payment Terms.</b>
      <br>
      <b>(a) Fees</b> : Submitting/posting a listing to Drones 4 Hire Service is free. If a Provider is subsequently
      hired to perform a Service then a fee (hereinafter “Commission” or “Commissions” as the context may require) of
      20% of the total service price is charged. This is charged when the service is ordered by way of a deduction from
      the payment to Provider. When Buyers and Providers enter into a contract for services, Drones 4 Hire, LLC collects
      a commission (“Commission Rates”) on the purchase price for its services as the parties’ agent for payment.
      Commissions are only charged to Providers, at the time the funds for a service are released by the Buyer and to
      the Provider. All Commission rates posted on this Site are subject to change without notice. The Commission rate
      charged for services contracted with the third party Provider, will be the price in effect at the time the project
      is/was awarded and will be set out in the Provider’s invoice/receipt confirmation e-mail. Commission rate
      increases will only apply to orders placed after such changes.
      <br>
      <b>(b) Making a Payment</b> : Terms of payment for Commission rates are within our sole discretion and unless
      otherwise agreed by us in writing, payment must be received by us before the Provider may perform the services. We
      accept PayPal, Visa, MasterCard, AMEX and Discover for all purchases. You represent and warrant that (i) the
      credit card or payment information you supply to us is true, correct and complete, (ii) you are duly authorized to
      use such method for the purchase, (iii) charges incurred by you will be honored by your credit card company or
      financial institution, and (iv) you will pay charges incurred by you at the posted prices, including all
      applicable taxes, if any.
      <br>
      <b>(c) Releasing Payment</b> : When a Provider has provided the goods or services or completed the task requested
      by a Buyer seeking service , the Buyer must log on to the Website and click the "Release " button for that
      service/project/job. Failure to complete the service or task will constitute a breach of this User Agreement.
      <br>
      <b>(d) Insufficient funds</b> : If any payment made by User fails or User’s account balance becomes negative for
      any reason, Drones 4 Hire, LLC reserves the right to take all actions permitted under the law to recover payment,
      including but not limited to set-off and payment reversal.
      <br>
      <b>(e) Account Balances</b> : User may have a positive account balance from prepaid funds or released payments.
      Drones 4 Hire, LLC maintains all funds at reputable U.S. financial institutions. Drones 4 Hire does not provide
      any banking or escrow services. User’s funds will be commingled with those of other Users. User is not entitled to
      interest for any funds maintained in the account.
      <br>
      <b>(f) Withdrawing Payment</b> : Funds will be made available for withdrawal from User’s account in accordance
      with Drones 4 Hire, LLC’s fraud prevention policy. The first withdrawal from a User’s account will be delayed by
      up to 15 days for verification purposes. Subsequent withdrawals may be subject to delay if necessary to comply
      with our fraud prevention policy. Drones 4 Hire, LLC reserves the right to delay any withdrawal when fraud is
      suspected.
      <br>
      <b>(g) Identity Verification</b> : User agrees to submit all information and evidence requested by Drones 4 Hire,
      LLC to establish and verify identity. However, Drones 4 Hire, LLC does not guarantee the identity of any User or
      ensure that a Provider will complete a transaction.
      <br>
      <b>(h) Chargebacks</b> : In the event of a chargeback, Drones 4 Hire, LLC is entitled to recover all losses and
      fees incurred and will use all legal means necessary to recover such funds. Any dispute involving a chargeback is
      strictly between the Buyer and Provider.
      <br>
      Limitation of Liability. Any services you purchase through the website are contracted with a third party Provider
      you select. Drones 4 Hire, LLC is not a party to your contract with the third party Provider. Drones 4 Hire, LLC
      only acts as an independent agent authorized only to collect payment from the Buyer on behalf of the Provider.
      Drones 4 Hire, LLC makes no claims or promises with respect to any third party, including Providers listed on the
      site. Accordingly, your purchase and use of products or services offered by Providers through the site is at your
      own discretion and risk. Any dispute between the Buyer and Provider must be resolved by those parties, Drone 4
      Hire, LLC will not act as an arbiter or mediator.
      <br>
      <br>
      DRONES 4 HIRE, LLC’S LIABILITY WILL UNDER NO CIRCUMSTANCES EXCEED THE ACTUAL COMMISISON RATE PAID BY BUYER FOR THE
      SERVICE THAT BUYER HAS PURCHASED THROUGH THE SITE, NOR WILL WE UNDER ANY CIRCUMSTANCES BE LIABLE FOR ANY LOSS OF
      PRODUCTION, WORK, DATA, USE, BUSINESS, GOODWILL, REPUTATION, REVENUE OR PROFIT, ANY DIMINUTION IN VALUE, COSTS OF
      REPLACEMENT GOODS OR SERVICES, OR ANY CONSEQUENTIAL, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES OR LOSSES, WHETHER
      DIRECT OR INDIRECT.
      <br>
      <br>
      <a class="terms__link">WWW.DRONES4HIRE.COM</a> AND DRONES 4 HIRE, LLC WILL NOT BE LIABLE FOR ANY DAMAGES
      WHATSOEVER, AND IN PARTICULAR WWW.DRONES4HRE.COM AND DRONES 4 HIRE, LLC WILL NOT BE LIABLE FOR ANY SPECIAL,
      INDIRECT, CONSEQUENTIAL, OR INCIDENTAL DAMAGES, OR DAMAGES FOR LOST PROFITS, LOSS OF REVENUE, OR LOSS OF USE,
      ARISING OUT OF OR RELATED TO THIS WEB SITE OR THE INFORMATION CONTAINED IN IT, WHETHER SUCH DAMAGES ARISE IN
      CONTRACT, NEGLIGENCE, TORT, UNDER STATUTE, IN EQUITY, AT LAW, OR OTHERWISE. DRONES 4 HIRE, LLC MAKES NO
      REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, ABOUT THE COMPLETENESS, ACCURACY, RELIABILITY,
      SUITABILITY OR AVAILABILITY WITH RESPECT TO THE WEBSITE OR THE INFORMATION, SERVICES, OR RELATED GRAPHICS, OR
      VIDEOS CONTAINED ON THE WEBSITE FOR ANY PURPOSE. ANY RELIANCE USER PLACES ON SUCH INFORMATION IS THEREFORE
      STRICTLY AT USER’S OWN RISK.
      <br>
      <br>
      IN NO EVENT WILL <a class="terms__link">WWW.DRONES4HIRE.COM</a> OR DRONES 4 HIRE, LLC BE LIABLE FOR ANY LOSS OR
      DAMAGE INCLUDING WITHOUT LIMITATION, INDIRECT OR CONSEQUENTIAL LOSS OR DAMAGE, OR ANY LOSS OR DAMAGE WHATSOEVER
      ARISING FROM LOSS OF DATA OR PROFITS ARISING OUT OF OR IN CONNECTION WITH THE USE OF THIS WEBSITE.
      <br>
      <br>
      USER ACKNOWLEDGES THAT <a class="terms__link">WWW.DRONES4HIRE.COM</a> MAY CONTAIN LINKS TO OTHER WEBSITES WHICH
      ARE NOT UNDER THE CONTROL OF DRONES 4 HIRE, LLC AND DRONES 4 HIRE, LLC HAS NO CONTROL OVER THE NATURE AND CONTENT
      OF THOSE SITES. THE INCLUSION OF ANY LINKS DOES NOT IMPLY A RECOMMENDATION OR ENDORSEMENT OF ANY VIEWS EXPRESSED
      WITHIN THEM.
      <br>
      <br>
      SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE
      LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.
      <br>
      <br>
      Personal Information. Listings for projects/jobs will provide the location where the services will be performed.
      For safety and liability reasons, a Buyer must never disclose in any project description or any other public
      communication on the Drones 4 Hire website, personal information such as the Buyer's name, street number, phone
      number or the email address. <a class="terms__link">www.drones4hire.com</a> has the right but not the
      responsibility to remove any listings containing such information. Drones 4 Hire, LLC bears no liability for any
      information Buyer shares in violation of this policy.
      <br>
      <br>
      Completion of Work. Once a Provider’s bid has been accepted/awarded/hire/hired by a Buyer seeking projects/jobs,
      then the Provider providing the service or task is obliged to complete the transaction, unless the service or
      task, goods or transaction is prohibited by law, by this Agreement or by any of Drones 4 Hire, LLC’s policies.
      Likewise, once the Provider has fully completed the project/job, the Buyer is obliged to release payment to the
      Provider.
      <br>
      <br>
      Revision of Project Post. If a Buyer updates a project after it has been published on the Website, then all bids
      for that project made prior to the update will be automatically cancelled and the bidding process will restart.
      <br>
      <br>
      Modifications and Interruption to Site. Drones 4 Hire, LLC reserves the right to modify or discontinue the Site
      with or without notice to the User. Drones 4 Hire, LLC will not be liable to User or any third party should Drones
      4 Hire, LLC choose to exercise its right to modify or discontinue the Site. User acknowledges and accepts that
      Drones 4 Hire, LLC does not guarantee continuous, uninterrupted or secure access to its website and operation of
      its website may be interfered with or adversely affected by numerous factors or circumstances outside of its
      control. User acknowledges and accepts that Drones 4 Hire, LLC does interrupt access briefly on a regular basis to
      perform site maintenance on operations.
      <br>
      <br>
      Third-Party Sites. <a class="terms__link">www.drones4hire.com</a> may include links to other sites on the Internet
      that are owned and operated by third parties. User acknowledges that Drones 4 Hire, LLC is not responsible for the
      availability of, or the content located on or through, any third-party site. User should contact the site
      administrator or webmaster for those third-party sites if User has any concerns regarding such links or the
      content located on such sites. User’s use of those third-party sites is subject to the terms of use and privacy
      policies of each site, and Drones 4 Hire, LLC is not responsible therein. Drones 4 Hire, LLC encourages all Users
      to review said privacy policies of third-parties’ sites.
      <br>
      <br>
      Compliance with Laws. User assumes all knowledge of applicable law and is responsible for compliance with any such
      laws. User may not use the Service in any way that violates applicable state, federal, or international laws,
      regulations or other government requirements. User further agrees not to transmit any material that encourages
      conduct that could constitute a criminal offense, give rise to civil liability or otherwise violate any applicable
      local, state, national, or international law or regulation.
      <br>
      <br>
      Content Upload Restrictions. User content uploaded to the website is published on a time delay and is not
      available for immediate viewing. All uploaded content is subject to review for appropriateness and consistency
      with the commercial purposes of the website. Drones 4 Hire, LLC is not required to, but may at its discretion,
      monitor any content uploaded to the website and expressly disclaims any and all liability in connection with
      uploaded content. Further, Drones 4 Hire, LLC, may remove ANY content deemed in its sole discretion to be
      unsuitable to the purpose of the website. You agree, through your use of <a class="terms__link">www.drones4hire.com</a>
      and related services offered by Drones 4 Hire, LLC, that you will not post any material which is false, libelous,
      defamatory, inaccurate, abusive, vulgar, hate-inciting, harassing, obscene, profane, pornographic, sexually
      oriented, threatening, invasive of a person's privacy, or otherwise illegal under any ordinance, regulation or
      statute. Legal action can be taken against you. You also agree not to post or upload any copyrighted material
      unless the copyright is owned by you. Spam, flooding, advertisements, chain letters, pyramid schemes, and
      solicitations are not permitted on this website.
      <br>
      <br>
      User is solely responsible for all content and material uploaded to the website. By uploading content and material
      to www.drones4hire.com, User affirms, represents, and warrants that User has all rights, consents, and licenses
      necessary to upload such submissions. Unless otherwise agreed with us, you must not advertise an external website,
      product or service on the Website.
      <br>
      <br>
      Drones 4 Hire, LLC may publicly display advertisements and other information adjacent to or included with User
      content. You are not entitled to any compensation for such advertisements. The manner, mode and extent of such
      advertising are subject to change without specific notice to you. User may not modify, reproduce, distribute,
      create derivative works or adaptations of, publicly display third party content in any way. Furthermore, you
      acknowledge and agree that content of third party advertisements or promotions is protected by copyrights,
      trademarks, service marks, patents or other intellectual property or proprietary rights and laws. User will not
      upload any content or material that violates or infringes on any copyright or trademark. User will not transmit
      any data containing code or programming for any virus, worm, ‘Trojan horse’ or any other data which can cause
      disruption or malfunction to the Service.
      <br>
      <br>
      Ownership. User represents that User is at least 18 years of age (or the age of majority in User’s place of
      residence). User grants to Drones 4 Hire, LLC, a perpetual, worldwide, nonexclusive, irrevocable, royalty-free,
      fully sub-licensable, and transferable, right and license to the unlimited use of its uploaded content throughout
      the universe in and in connection with or relation to the development, marketing, advertisement, order
      fulfillment, licensing, sale, distribution, and promotion of any services, products, or brands of Drones 4 Hire,
      LLC. User agrees to waive all moral rights to content uploaded to the website. User agrees that Drones 4 Hire, LLC
      shall have the right to transform, edit, alter, distort, modify, add to, subtract from, enhance, broadcast,
      telecast, duplicate, distribute, or otherwise exhibit the content worldwide in all forms of media and forms of
      exploitation, now known or hereafter created including, but not limited to, websites, film, television, radio, and
      print. User agrees they will have no right to approve any use of the content. User agrees that no third party has
      or shall have any right of approval over the use of the content or will be due any amounts from the use of the
      content. User agrees that this grant of right and license is binding on its heirs, executors, legal
      representatives, administrators and assigns.
      <br>
      <br>
      User releases Drones 4 Hire, LLC from any and all claims and demands that the User may have now or at any time
      arising from the use of the content, including but not limited to, claims for personal injury, invasion of
      privacy, defamation, libel, right of publicity, infliction of emotional distress, or additional payment.
      <br>
      <br>
      Except as discussed elsewhere in these terms and conditions, all right, title and interest in and to all,
      trademarks, logos, trade secrets, proprietary information and other intellectual property that now exists or is
      created or acquired in the future that are used or developed in connection with any services offered by <a
      class="terms__link">www.drones4hire.com</a> are the sole property of Drones 4 Hire, LLC. User acknowledges those
      rights and claims no ownership or title in such property.
      <br>
      <br>
      Copyright and Trademark Information. All content included or available on this site, excepting content uploaded by
      User as discussed elsewhere in these Terms, including site design, text, graphics, videos, interfaces, and the
      selection and arrangements thereof is ©2016 Drones 4 Hire, LLC, with all rights reserved. Any use of materials on
      the website, including reproduction for purposes other than those noted above, modification, distribution, or
      replication, any form of data extraction or data mining, or other commercial exploitation of any kind, without
      prior written permission of an authorized officer of Drones 4 Hire, LLC is strictly prohibited. Users agree that
      they will not use any robot, spider, or other automatic device, or manual process to monitor or copy Drones 4
      Hire, LLC’s web pages or the content contained therein without prior written permission of an authorized officer
      of Drones 4 Hire, LLC.
      <br>
      <br>
      Notification of Claimed Copyright Infringement. Pursuant to Section 512(c) of the Copyright Revision Act, as
      enacted through the Digital Millennium Copyright Act, <a class="terms__link">www.drones4hire.com</a> designates
      the following individual as its agent for receipt of notifications of claimed copyright infringement.
      <br>
      <br>
      <b>By Mail </b>:
      <br>
      Drones 4 Hire, LLC
      <br>
      923 NE Woods Chapel Rd., Ste. 358
      <br>
      Lee’s Summit, Missouri, 64064.
      <br>
      <br>
      <b>By Email</b>:
      <br>
      admin@drones4hire.com
      <br>
      <br>
      Acceptable Use and Content. User warrants that no content posted by User violates any copyright, trademark or
      intellectual property laws or protections. User agrees that Drones 4 Hire, LLC has no authority or control over
      content found on the Internet. User accepts full responsibility for content uploaded in connection with User’s
      accounts with www.drones4hire.com. User agrees that Drones 4 Hire, LLC has no liability to User or visitors to
      User’s content for any preventative or corrective action that may be taken by Drones 4 Hire, LLC to remove any
      content deemed inappropriate under these terms and conditions.
      <br>
      <br>
      Truthfulness in Disclosures. User must provide only truthful information in registration and account creation.
      Violation of either policy is grounds for immediate termination of User’s account. User agrees to keep all contact
      information complete and up to date. User is solely responsible for any content uploaded through User’s account.
      Drones 4 Hire, LLC must be notified immediately of any breach of password security or unauthorized use of User’s
      account.
      <br>
      <br>
      <b>Prohibited Conduct. No User is permitted to engage in any of the following acts:</b>
      <br>
      <b>(a)</b> fail to deliver payment for services delivered to you, unless the Provider has materially changed the Service
      provided from the bid or a clear typographical error is made;
      <br>
      <b>(b)</b> fail to deliver services purchased from you, unless the Customer fails to meet the terms, materially alters
      the terms of the Seller Services from the listing;
      <br>
      <b>(d)</b> take any action that may undermine the feedback or reputation systems (such as displaying, importing or
      exporting feedback information or using it for purposes unrelated to the Drones 4 Hire Website);
      <br>
      <b>(e)</b> transfer your Drones 4 Hire account (including feedback) and Username to another party without our consent;
      <br>
      <b>(f)</b> download and aggregate listings from our website for display with listings from other websites without our
      express written permission, "frame", "mirror" or otherwise incorporate any part of the Website into any other
      website without our prior written authorization;
      <br>
      <b>(g)</b> harvest or otherwise collect information about Users, including email addresses, without their consent.
      <br>
      <b>(h)</b> threaten, stalk, harm, or harass others, or promote bigotry or discrimination;
      <br>
      <b>(i)</b> use the Website’s messaging system to contact a User for any purposes not directly related to the purchase of
      services;
      <br>
      <b>(j)</b> conduct your business in a manner that results in or may result in complaints, reversals, chargebacks, fees,
      fines, or penalties.
      <br>
      <br>
      Assignment of Rights and Commercial Use. User may not assign any rights under these terms and conditions. User may
      only use <a class="terms__link">www.drones4hire.com</a> and related services for the purpose of locating and
      contracting with businesses providing UAV/drone services unless otherwise provided for under these terms and
      conditions.
      <br>
      <br>
      Privacy. We respect your privacy and are committed to protecting it. Our privacy policy, <a class="terms__link">www.drones4hire.com</a>
      governs the processing of all personal data collected from you in connection with your purchase of services
      through the Site.
      <br>
      <br>
      Force Majeure. We will not be liable or responsible to you, nor be deemed to have defaulted or breached these
      Terms, for any failure or delay in our performance under these Terms when and to the extent such failure or delay
      is caused by or results from acts or circumstances beyond our reasonable control, including, without limitation,
      acts of God, flood, fire, earthquake, explosion, governmental actions, war, invasion or hostilities (whether war
      is declared or not), terrorist threats or acts, riot or other civil unrest, national emergency, revolution,
      insurrection, epidemic, lockouts, strikes or other labor disputes or materials or telecommunication breakdown or
      power outage.
      <br>
      <br>
      Governing Law and Jurisdiction. All matters arising out of or relating to these Terms are governed by and
      construed in accordance with the internal laws of the State of Missouri without giving effect to any choice or
      conflict of law provision or rule (whether of the State of Missouri or any other jurisdiction) that would cause
      the application of the laws of any jurisdiction other than those of the State of Missouri.
      <br>
      <br>
      <b>Dispute Resolution and Binding Arbitration.</b>
      <br>
      <b>(a)</b> YOU AND DRONES 4 HIRE, LLC ARE AGREEING TO GIVE UP ANY RIGHTS TO LITIGATE CLAIMS IN A COURT OR BEFORE A JURY,
      OR TO PARTICIPATE IN A CLASS ACTION OR REPRESENTATIVE ACTION WITH RESPECT TO A CLAIM. OTHER RIGHTS THAT YOU WOULD
      HAVE IF YOU WENT TO COURT MAY ALSO BE UNAVAILABLE OR MAY BE LIMITED IN ARBITRATION.
      <br>
      ANY CLAIM, DISPUTE OR CONTROVERSY (WHETHER IN CONTRACT, TORT OR OTHERWISE, WHETHER PRE-EXISTING, PRESENT OR
      FUTURE, AND INCLUDING STATUTORY, CONSUMER PROTECTION, COMMON LAW, INTENTIONAL TORT, INJUNCTIVE AND EQUITABLE
      CLAIMS) BETWEEN YOU AND US ARISING FROM OR RELATING IN ANY WAY TO YOUR PURCHASE OF SERVICES THROUGH THE SITE, WILL
      BE RESOLVED EXCLUSIVELY AND FINALLY BY BINDING ARBITRATION.
      <br>
      <b>(b)</b> The arbitration will be administered by the American Arbitration Association (”AAA”) in accordance with the
      Consumer Arbitration Rules (the “AAA Rules”) then in effect, except as modified by this Section. (The AAA Rules
      are available at www.adr.org/arb_medor by calling the AAA at 1-800-778-7879.) The Federal Arbitration Act will
      govern the interpretation and enforcement of this section.
      <br>
      The arbitrator will have exclusive authority to resolve any dispute relating to arbitrability and/or
      enforceability of this arbitration provision, including any unconscionability challenge or any other challenge
      that the arbitration provision or the Agreement is void, voidable or otherwise invalid. The arbitrator will be
      empowered to grant whatever relief would be available in court under law or in equity. Any award of the
      arbitrator(s) will be final and binding on each of the parties, and may be entered as a judgment in any court of
      competent jurisdiction.
      <br>
      We will be responsible for paying any individual consumer’s arbitration/arbitrator fees in a dispute with Drones 4
      Hire, LLC. We will not pay any arbitration/arbitrator fees for disputes between Buyers and Providers.
      <br>
      <b>(c)</b> You agree to an arbitration on an individual basis. In any dispute, NEITHER YOU NOR DRONES 4 HIRE, LLC WILL BE
      ENTITLED TO JOIN OR CONSOLIDATE CLAIMS BY OR AGAINST OTHER CUSTOMERS IN COURT OR IN ARBITRATION OR OTHERWISE
      PARTICIPATE IN ANY CLAIM AS A CLASS REPRESENTATIVE, CLASS MEMBER OR IN A PRIVATE ATTORNEY GENERAL CAPACITY. The
      arbitral tribunal may not consolidate more than one person’s claims, and may not otherwise preside over any form
      of a representative or class proceeding. The arbitral tribunal has no power to consider the enforceability of this
      class arbitration waiver and any challenge to the class arbitration waiver may only be raised in a court of
      competent jurisdiction.
      <br>
      If any provision of this arbitration agreement is found unenforceable, the unenforceable provision will be severed
      and the remaining arbitration terms will be enforced.
      <br>
      <br>
      <b>Liquidated Damages</b>
      <br>
      <b>(a)</b> All parties agree that if a User were to breach this agreement, it would be difficult to determine actual
      damages;
      <br>
    <b>(b)</b> Based on what information is presently available to the parties, they agree that $5,000.00 is a reasonable
      estimate of the damages that would accrue if a breach occurred in the future; and
      <br>
    <b>(c)</b> All parties agree that the amount of liquidated damages is fair and reasonable and would not act as a penalty
      to the breaching party.
      <br>
      <br>
      Assignment. You will not assign any of your rights or delegate any of your obligations under these Terms without
      our prior written consent. Any purported assignment or delegation in violation of this Section is null and void.
      No assignment or delegation relieves you of any of your obligations under these Terms.
      <br>
      <br>
      No Waivers. The failure by us to enforce any right or provision of these Terms will not constitute a waiver of
      future enforcement of that right or provision. The waiver of any right or provision will be effective only if in
      writing and signed by a duly authorized representative of Drones 4 Hire, LLC.
      <br>
      <br>
      No Third Party Beneficiaries. These Terms do not and are not intended to confer any rights or remedies upon any
      person other than you.
      <br>
      <br>
    <b>Notices.</b>
      <br>
    <b>(a)</b> To You. We may provide any notice to you under these Terms by: (i) sending a message to the e-mail address you
      provide or (ii) by posting to the Site. Notices sent by e-mail will be effective when we send the e-mail and
      notices we provide by posting will be effective upon posting. It is your responsibility to keep your e-mail
      address current.
      <br>
    <b>(b)</b> To Us. To give us notice under these Terms, you must contact us as follows: by personal delivery, overnight
      courier or registered or certified mail to
      <br>
      <br>
      <b>Drones 4 Hire, LLC</b>
      <br>
      <b>923 NE Woods Chapel Rd., Ste. 358</b>
      <br>
      <b>Lee’s Summit, Missouri, 64064.</b>
      <br>
      <br>
      We may update the address for notices to us by posting a notice on the Site. Notices provided by personal delivery
      will be effective immediately. Notices provided by overnight courier will be effective one business day after they
      are sent. Notices provided by registered or certified mail will be effective three business days after they are
      sent. Any questions about this User Agreement or to report breaches of this User Agreement may contact use at
      admin@drones4hire.com.
      <br>
      Refunds. Refunds are solely at the discretion of Drones 4 Hire, LLC. You may request refunds by emailing
      refunds@drones4hire.com
      <br>
      Account Closure and Refusal of Service. Drones 4 Hire, LLC reserves the right to terminate User’s account or deny
      service to a User for any reason without notice. User must immediately cease using all services provided under
      account upon termination. Drones 4 Hire, LLC has the sole right to determine if a User has breached these terms
      and conditions. Further, Drones 4 Hire, LLC may use any means necessary, including legal action, to terminate
      User’s access to <a class="terms__link">www.drones4hire.com</a> and any related services. User may also request
      account closure at any time, however an account will not be closed until all outstanding fees have been paid and
      all service issues resolved.
      <br>
      Severability. If any provision of these Terms are invalid, illegal, void or unenforceable, then that provision
      will be deemed severed from these Terms and will not affect the validity or enforceability of the remaining
      provisions of these Terms.
      <br>
      Entire Agreement. User agrees that terms and conditions and policies found elsewhere on <a class="terms__link">www.drones4hire.com</a>
      represent the entire agreement between User and Drones 4 Hire, LLC.
      <br>
      <br>
      <b>THIS CONTRACT CONTAINS A BINDING ARBITRATION PROVISION WHICH MAY BE ENFORCED BY THE PARTIES.</b>
    </p>
  </div>
</div>
