.f-project-files
  margin-bottom 20px

  &__row
    display flex
    margin 0 -15px

  &__col
    margin 0 15px
    &:first-child
      padding-left 10px
      flex-basis 40%
    &:last-child
      flex-basis 60%

  &__controls
    margin-top 15px
    display flex
    justify-content flex-end
    button
      margin-bottom 0

  &__message
    padding 5px 10px
    font-size 1.6rem
    &._error
      color red

  @media screen and (max-width: 768px)
    &__row
      display block
      margin 0

    &__col
      flex-basis 100%
      width 100%
      margin 0
      & + &
        margin-top 10px
