<form class="f-default f-project-files"
      novalidate
      #filesForm="ngForm"
      (submit)="addFile($event, filesForm)">
  <div class="f-project-files__row">
    <div class="f-project-files__col">
      <label class="f-default__label">
        <input type="text"
               placeholder="Title*"
               required
               name="title"
               [(ngModel)]="title"
               #titleRef="ngModel"
               [ngClass]="{'_error': submitted && titleRef.errors?.required}"
               class="f-default__field">
      </label>
    </div>
    <div class="f-project-files__col">
      <div class="f-default__filedrop"
           ng2FileDrop
           [ngClass]="{'_file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader">
        <div class="f-default__filedrop-dropzone">
          <div class="f-default__filedrop-dropzone-text">Upload your Photo</div>
          <div class="f-default__filedrop-dropzone-text">Drag & Drop file here</div>
        </div>
        <div class="f-default__filedrop-or">or</div>
        <button type="button"
                (click)="triggerFileClick()"
                class="f-default__filedrop-button">Choose a file to upload</button>
        <input type="file"
               name="projectFile"
               ng2FileSelect
               #file
               [uploader]="uploader"
               class="f-default__field _file">
      </div>
      <div class="f-project-files__messages">
        <div class="f-project-files__message _error" *ngIf="fileNameLengthLimitError">
          Name of the file is too long
        </div>
        <div class="f-project-files__message _error" *ngIf="submitted && (fileName === '')">
          No file chosen
        </div>
        <div class="f-project-files__message" *ngIf="(fileName !== '') && fileURL">
          Chosen file: {{ fileName }}
        </div>
      </div>
    </div>
  </div>
  <div class="f-project-files__controls">
    <button class="f-default__button">Save file</button>
  </div>
</form>
