.b-project-description
  margin-bottom: 25px
  &__title
    text-transform: uppercase
    font-size 2.8rem
    color #414141
    letter-spacing .35em
    margin-bottom: 5px;
    line-height: 39px;
  &__text
    p
      font-size 1.8rem
      color #8a8a8a
      line-height: 28px
      letter-spacing .05em
      &:first-letter
        text-transform: uppercase
