.b-project-description
  margin-bottom: 85px
  &__title
    text-transform: uppercase
    font-size 3.6rem
    color #414141
    margin-bottom: 45px;
  &__text
    p
      font-size 1.8rem
      color #8a8a8a
      line-height: 28px
