<table class="t-dashboard _client" *ngIf="isClient">
  <tr>
    <th class="t-dashboard__th">Project Name</th>
    <th class="t-dashboard__th">Project Bid placed</th>
    <th class="t-dashboard__th">Project awarded</th>
    <th class="t-dashboard__th">Payment created</th>
    <th class="t-dashboard__th">STATUS</th>
    <th class="t-dashboard__th">Payment released</th>
  </tr>
  <tr *ngIf="!projects || !projects.length">
    <td class="t-dashboard__td" colspan="6">No results</td>
  </tr>
  <tr *ngFor="let project of projects">
    <td class="t-dashboard__td _name">
      <a class="t-dashboard__link-name" href="#" [routerLink]="project.status === 'CANCELLED' ? [] : ['/project', project.id, 'description']">
        <span class="t-dashboard__project-name">{{project.name}}</span>
      </a>
    </td>

    <td class="t-dashboard__td">
      <a class="t-dashboard__link" *ngIf="project.status !== 'CANCELLED' && project.bidsCount > 0 && !project.pilotId" href="#" [routerLink]="['/project', project.id, 'description']">
        Review Bids
      </a>
      <span *ngIf="project.pilotId">{{project.bidPlaced | date:'M/d/yy'}}</span>
    </td>

    <td class="t-dashboard__td">
      <span *ngIf="project.awardedDate && project.status !== 'CANCELLED'">
        {{ project.awardedDate | date:'M/d/yy' }}
      </span>
      <span *ngIf="project.status === 'CANCELLED'">
        Cancel
      </span>
    </td>
    <td class="t-dashboard__td">
      <span *ngIf="project.status === 'PENDING'">
        Pending
      </span>
      <span *ngIf="project.status === 'IN_PROGRESS' && !project.attachmentLength">
        PAYMENT RESERVED
      </span>
      <span *ngIf="project.attachmentLength">{{ project.awardedDate | date:'M/d/yy' }}</span>
    </td>
    <td class="t-dashboard__td">
      <a class="t-dashboard__link" *ngIf="project.attachmentLength || project.paymentReleased" [routerLink]="['/project/', project.id, 'files']">
        View files
      </a>
    </td>
    <td class="t-dashboard__td">
      <a class="t-dashboard__link"
         href="#"
         [ngClass]="{ _inactive: !project.attachmentLength || project.status === 'COMPLETED' }"
         (click)="release(project, !!project.attachmentLength && project.status !== 'COMPLETED', $event)">
        {{project.status !== 'COMPLETED' ? 'RELEASE PAYMENT': 'PROJECT COMPLETED'}}
      </a>
    </td>
  </tr>
</table>

<table class="t-dashboard _pilot" *ngIf="isPilot">
  <tr>
    <th class="t-dashboard__th">Job Name</th>
    <th class="t-dashboard__th">Project Bid placed</th>
    <th class="t-dashboard__th">Project awarded</th>
    <th class="t-dashboard__th">Payment created</th>
    <th class="t-dashboard__th">Action</th>
    <th class="t-dashboard__th">Payment released</th>
    <th class="t-dashboard__th">Amount paid</th>
  </tr>
  <tr *ngIf="!projects || !projects.length">
    <td class="t-dashboard__td" colspan="7">No results</td>
  </tr>
  <tr *ngFor="let item of projects">
    <td class="t-dashboard__td _name">
      <a class="t-dashboard__link-name"
         [ngClass]="{ _inactive: item.status === 'CANCELLED' || item.status === 'EXPIRED' || item.pilotId && item.currentPilotId !== item.pilotId }"
         [routerLink]="(item.status === 'CANCELLED' || item.status === 'EXPIRED' || item.pilotId && item.currentPilotId !== item.pilotId) ? [] : ['/project', item.id, 'description']">
        <span class="t-dashboard__project-name _blue">{{item.name}}</span>
      </a>
    </td>
    <td class="t-dashboard__td">
      <span>{{item.bidPlaced | date:'M/d/yy'}}</span>
    </td>
    <td class="t-dashboard__td">
      <span *ngIf="item.status !== 'CANCELLED' && item.currentPilotId === item.pilotId">{{item.awardedDate | date:'M/d/yy'}}</span>
      <span *ngIf="!!item.pilotId && item.currentPilotId !== item.pilotId && item.status !== 'CANCELLED'">Other pilot<br>hired</span>
      <span *ngIf="item.status === 'CANCELLED'">Cancelled</span>
      <span *ngIf="item.status === 'EXPIRED'">Expired</span>
    </td>
    <td class="t-dashboard__td">
      <span *ngIf="item.currentPilotId === item.pilotId && (item.status === 'IN_PROGRESS' || item.status === 'COMPLETED')">
        {{item.paymentCreated | date:'M/d/yy'}}
      </span>
    </td>
    <td class="t-dashboard__td">
      <div class="t-dashboard__action"
           *ngIf="item.currentPilotId === item.pilotId && (item.status === 'IN_PROGRESS' || item.status === 'COMPLETED')">
        <div class="t-dashboard__action-text"
             *ngIf="!item.finished && !item.attachments">OK to Fly</div>
        <button class="t-dashboard__action-btn"
           *ngIf="!item.finished && !item.attachments"
           (click)="item.finished = true">
          Finish job
        </button>
        <a class="t-dashboard__action-link"
           *ngIf="item.finished || item.attachments"
           [routerLink]="item.status !== 'IN_PROGRESS' && item.status !== 'COMPLETED' || item.pilotId !== item.currentPilotId || !item.paymentCreated ? [] : ['/project/', item.id, 'files']">
          UPLOAD<br>IMAGES/DATA
        </a>
      </div>
      <div class="t-dashboard__action"
           *ngIf="item.currentPilotId === item.pilotId && item.status === 'PENDING'">
        <button class="t-dashboard__action-btn"
                (click)="acceptFromPilot(item)">Accept job</button>
        <div class="t-dashboard__action-text">or</div>
        <button class="t-dashboard__action-btn"
                (click)="rejectFromPilot(item)">Reject job</button>
      </div>
    </td>
    <td class="t-dashboard__td">
      <span *ngIf="item.pilotId === item.currentPilotId">
        {{item.paymentReleased | date:'M/d/yy'}}
      </span>
    </td>
    <td class="t-dashboard__td">
      <span *ngIf="item.status !== 'NEW' && item.status !== 'CANCELLED' && item.status !== 'PENDING' && item.currentPilotId === item.pilotId">${{item.amountPaid}}</span>
    </td>
  </tr>
</table>
