<table class="t-dashboard _client" *ngIf="isClient">
  <tr>
    <th class="t-dashboard__th">Project Name</th>
    <th class="t-dashboard__th">Project Bid placed</th>
    <th class="t-dashboard__th">Project awarded</th>
    <th class="t-dashboard__th">Payment created</th>
    <th class="t-dashboard__th">STATUS</th>
    <th class="t-dashboard__th">Payment released</th>
  </tr>
  <tr *ngFor="let project of projects">
    <td class="t-dashboard__td _name">
      <a class="t-dashboard__link-name" href="#" [routerLink]="project.status === 'CANCELLED' ? [] : ['/project/', project.id]">
        <span class="t-dashboard__project-name">{{project.name}}</span>
      </a>
    </td>

    <td class="t-dashboard__td">
      <a class="t-dashboard__link" *ngIf="project.status !== 'CANCELLED' && project.bidsCount > 0 && !project.pilotId" href="#" [routerLink]="['/project/', project.id]">
        Review Bids
      </a>
      <span *ngIf="project.pilotId">{{project.bidPlaced | date:'d/M/yy'}}</span>
    </td>

    <td class="t-dashboard__td">
      <span *ngIf="project.awardedDate && project.status !== 'CANCELLED'">
        {{ project.awardedDate | date:'d/M/yy' }}
      </span>
      <span *ngIf="project.status === 'CANCELLED'">
        Cancel
      </span>
    </td>
    <td class="t-dashboard__td">
      <span *ngIf="project.status === 'IN_PROGRESS' && !project.attachmentLength">
        PAYMENT RESERVED
      </span>
      <span *ngIf="project.attachmentLength">{{ project.awardedDate | date:'d/M/yy' }}</span>
    </td>
    <td class="t-dashboard__td">
      <a class="t-dashboard__link" *ngIf="project.attachmentLength || project.paymentReleased" [routerLink]="['/project/', project.id, 'files']">
        View files
      </a>
    </td>
    <td class="t-dashboard__td">
      <a class="t-dashboard__link"
         href="#"
         [ngClass]="{ _inactive: !project.attachmentLength || project.paymentReleased }"
         (click)="release(project, !!project.attachmentLength || !project.paymentReleased, $event)">
        RELEASE PAYMENT
      </a>
    </td>
  </tr>
</table>

<table class="t-dashboard _pilot" *ngIf="isPilot">
  <tr>
    <th class="t-dashboard__th">Project Name <br>& Client name</th>
    <th class="t-dashboard__th">Project Bid placed</th>
    <th class="t-dashboard__th">Project awarded</th>
    <th class="t-dashboard__th">Payment created</th>
    <th class="t-dashboard__th">Action</th>
    <th class="t-dashboard__th">Payment released</th>
    <th class="t-dashboard__th">Amount paid</th>
  </tr>
  <tr *ngFor="let item of projects">
    <td class="t-dashboard__td _name">
      <a class="t-dashboard__link-name"
         [ngClass]="{ _inactive: item.status === 'CANCELLED' || item.currentPilotId !== item.pilotId }"
         [routerLink]="(item.status === 'CANCELLED' || item.currentPilotId !== item.pilotId) ? [] : ['/project/', item.id]">
        <span class="t-dashboard__project-name">{{item.name}} /</span>
        <span class="t-dashboard__project-name">{{item.fullName}}</span>
      </a>
    </td>
    <td class="t-dashboard__td">
      <span>{{item.bidPlaced | date:'d/M/yy'}}</span>
    </td>
    <td class="t-dashboard__td">
      <span *ngIf="item.status !== 'CANCELLED' && item.currentPilotId === item.pilotId">{{item.awardedDate | date:'d/M/yy'}}</span>
      <span *ngIf="!!item.pilotId && item.currentPilotId !== item.pilotId && item.status !== 'CANCELLED'">Other pilot<br>hired</span>
      <span *ngIf="item.status === 'CANCELLED'">Cancel</span>
    </td>
    <td class="t-dashboard__td">
      <span *ngIf="item.currentPilotId === item.pilotId && (item.status === 'IN_PROGRESS' || item.status === 'COMPLETED')">
        {{item.paymentCreated | date:'d/M/yy'}}
      </span>
    </td>
    <td class="t-dashboard__td">
      <a class="t-dashboard__link"
         *ngIf="item.currentPilotId === item.pilotId"
         [ngClass]="{ _inactive: item.status !== 'IN_PROGRESS' && item.status !== 'COMPLETED' || item.pilotId !== item.currentPilotId || !item.paymentCreated }"
         [routerLink]="item.status !== 'IN_PROGRESS' && item.status !== 'COMPLETED' || item.pilotId !== item.currentPilotId || !item.paymentCreated ? [] : ['/project/', item.id, 'files']">
        UPLOAD<br>IMAGES/DATA
      </a>
    </td>
    <td class="t-dashboard__td">
      <span *ngIf="item.pilotId === item.currentPilotId">
        {{item.paymentReleased | date:'d/M/yy'}}
      </span>
    </td>
    <td class="t-dashboard__td">
      <span *ngIf="item.status !== 'NEW' && item.status !== 'CANCELLED' && item.status !== 'PENDING' && item.currentPilotId === item.pilotId">${{item.amountPaid}}</span>
    </td>
  </tr>
</table>
