@import '../../../styles/settings/mixin.styl'

.t-dashboard
  width: 100%
  color #1f2532
  font-size 1.6rem
  text-transform: uppercase
  text-align: center
  tr:first-of-type
    th.t-dashboard__th:first-child
      background #1f2532
    .t-dashboard__th:nth-child(2n)
      background #3fb6c0
    .t-dashboard__th:nth-child(2n+1)
      background #159aa5
  tr
    td:first-child
      ._client &
        width: 33.333%
    .t-dashboard__td:nth-child(2n)
      background #f6f6f6
    ._pilot &
      td:last-child
        width: 9%
  &__th
    color #fff
    font-weight 400
    letter-spacing .1em
    vertical-align: middle
    padding: 27px 10px 25px
  &__td
    display table-cell
    text-align: center
    padding: 25px 10px
    font-size 1.6rem
    letter-spacing .2em
    width: 15%
    vertical-align: middle
    text-transform: uppercase
    border-bottom 1px solid #b7b7b7
    color: #1f2532
    border-bottom: 1px solid #d3d3d3
    &._name
      word-break: break-all
      width: 25%
      font-weight 600
    .t-dashboard._pilot &
      width: 11%
      &._name
        width: 34%
  &__link
    color: #1d90e0
    &._inactive
      cursor: default
      color: #1f2532
    &-name
      color #1f2532
      display: inline-block
      font-weight 600
      &._inactive
        cursor: default
    ._client &
      &-review
        color #397eb9
    &:hover:not(._inactive)
      color #62bbf9
  ._client &
    &__wrapper
      display: flex
      justify-content: space-between
      align-items: center
  &__project-name
    &._blue
      color #0e8def
