@import '../../../styles/settings/variables.styl'
@import '../../../styles/settings/mixin.styl'

.t-dashboard
  width: 100%
  color $gray1f
  font-size 1.6rem
  text-transform: uppercase
  text-align: center
  tr:first-of-type
    th.t-dashboard__th:first-child
      background $gray1f
    .t-dashboard__th:nth-child(2n)
      background $blueC0
    .t-dashboard__th:nth-child(2n+1)
      background $blueA5
  tr
    td:first-child
      ._client &
        width: 33.333%
    .t-dashboard__td:nth-child(2n)
      background $grayF8
    ._pilot &
      td:last-child
        width: 9%
  &__th
    color #fff
    font-weight 400
    letter-spacing .1em
    vertical-align: middle
    padding: 27px 10px 25px
  &__td
    display table-cell
    text-align: center
    padding: 25px 10px
    font-size 1.6rem
    letter-spacing .2em
    width: 15%
    vertical-align: middle
    text-transform: uppercase
    border-bottom 1px solid #b7b7b7
    color: $gray1f
    border-bottom: 1px solid #d3d3d3
    &._name
      word-break: break-all
      width: 25%
      font-weight 600
    .t-dashboard._pilot &
      width: 11%
      &._name
        width: 34%
  &__link
    color: $blueE0
    &._inactive
      cursor: default
      color: $gray1f
    &-name
      display: inline-block
      font-weight 600
      color #32afff
      &._inactive
        cursor: default
    ._client &
      &-review
        color #397eb9
    &:hover:not(._inactive)
      color #62bbf9
  ._client &
    &__wrapper
      display: flex
      justify-content: space-between
      align-items: center
  &__project-name
    &._blue
      color #0e8def

  &__empty
    text-align center
    padding 1rem
    font-size 1.8rem

  &__action
    font-size: 1.4rem
    &-link
    &-btn
      color: $blueE0
      text-transform uppercase
      font-size: 1.4rem
      letter-spacing: 0.1em
    &-text
      font-size: 1.4rem

