<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drones4hire.dronesapp.dbaccess.dao.mysql.BidMapper">

	<insert id="createBid" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
		INSERT
		INTO 
			drones.BIDS (AMOUNT, CURRENCY, COMMENT, PROJECT_ID, USER_ID)
		VALUES 
			(
			#{amount},
			#{currency},
			#{comment},
			#{projectId},
			#{user.id}
		    )
        ]]>
    </insert>
    

    <sql id="getBid">
        <![CDATA[
          SELECT
			B.ID AS BID_ID,
			B.AMOUNT AS BID_AMOUNT,
			B.CURRENCY AS BID_CURRENCY,
			B.COMMENT AS BID_COMMENT,
			B.PROJECT_ID AS BID_PROJECT_ID,
			B.USER_ID AS BID_USER_ID,
			B.MODIFIED_AT AS BID_MODIFIED_AT,
			B.CREATED_AT AS BID_CREATED_AT,
			
			U.ID AS USER_ID,
			U.USERNAME AS USER_USERNAME,
			U.EMAIL AS USER_EMAIL,
			U.FIRST_NAME AS USER_FIRST_NAME,
			U.LAST_NAME AS USER_LAST_NAME,
			U.PHOTO_URL AS USER_PHOTO_URL,
			U.INTRODUCTION AS USER_INTRODUCTION,
			U.SUMMARY AS USER_SUMMARY,
			U.RATING AS USER_RATING,
			U.MODIFIED_AT AS USER_MODIFIED_AT,
			U.CREATED_AT AS USER_CREATED_AT
          FROM
			drones.BIDS B
		  LEFT JOIN 
	        drones.USERS U 
	      ON 
	      	U.ID = B.USER_ID
        ]]>
    </sql>

    <select id="getBidById" resultMap="BidResultMap">
        <include refid="getBid"/>
        <![CDATA[
          WHERE
			B.ID = #{id}
        ]]>
    </select>

    <select id="getBidsByProjectIdAndPilotId" resultMap="BidResultMap">
        <include refid="getBid"/>
        <![CDATA[
          WHERE
			B.PROJECT_ID = #{projectId}
		]]>
        <if test="null != pilotId">
        <![CDATA[
               AND B.USER_ID = #{pilotId}
            ]]>
        </if>
        <![CDATA[
       	  ORDER BY B.CREATED_AT DESC
        ]]>
    </select>

    <select id="getBidByProjectIdAndUserId" resultMap="BidResultMap">
        <include refid="getBid"/>
        <![CDATA[
          WHERE
			B.PROJECT_ID = #{projectId}
          AND
            B.USER_ID = #{userId}
        ]]>
    </select>

    <select id="getBidInfo" resultMap="BidInfoResultMap">
        <![CDATA[
          SELECT
            B.PROJECT_ID AS BID_PROJECT_ID,
            ANY_VALUE(B.CURRENCY) AS BID_CURRENCY,
            COUNT(B.ID) AS BID_COUNT,
            AVG(B.AMOUNT) AS BID_AVG,
            MAX(B.AMOUNT) AS BID_MAX
          FROM
            drones.BIDS B
          WHERE
            B.PROJECT_ID = #{projectId}
       ]]>
    </select>

    <update id="updateBid">
        <![CDATA[
          UPDATE
			drones.BIDS
          SET
          	AMOUNT = #{amount},
          	CURRENCY = #{currency},
          	COMMENT = #{comment}
          WHERE
		  		ID = #{id} 
        ]]>
    </update>

    <delete id="deleteBid">
        <![CDATA[
          DELETE
          FROM 
          		drones.BIDS
          WHERE
          		ID = #{id}
        ]]>
    </delete>

    <resultMap id="BidResultMap" type="com.drones4hire.dronesapp.models.db.projects.Bid" autoMapping="false">
        <id column="BID_ID" property="id"/>
        <result column="BID_AMOUNT" property="amount" />
        <result column="BID_CURRENCY" property="currency" />
        <result column="BID_COMMENT" property="comment" />
        <result column="BID_PROJECT_ID" property="projectId" />
        <result column="BID_MODIFIED_AT" property="modifiedAt" />
		<result column="BID_CREATED_AT" property="createdAt" />
		 <association property="user" resultMap="com.drones4hire.dronesapp.dbaccess.dao.mysql.UserMapper.UserResultMap" />
    </resultMap>

    <resultMap id="BidInfoResultMap" type="com.drones4hire.dronesapp.models.db.projects.BidInfo" autoMapping="false">
        <result column="BID_PROJECT_ID" property="projectId" />
        <result column="BID_CURRENCY" property="currency" />
        <result column="BID_COUNT" property="bidsCount" />
        <result column="BID_AVG" property="bidsAvg" />
        <result column="BID_MAX" property="bidsMax" />
    </resultMap>

</mapper>