<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drones4hire.dronesapp.dbaccess.dao.mysql.CommentMapper">

	<insert id="createComment" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
		INSERT
		INTO 
			drones.COMMENTS (USER_ID, PROJECT_ID, COMMENT)
		VALUES 
			(
			#{user.id},
			#{projectId},
			#{comment}
		    )
        ]]>
    </insert>
    

    <sql id="getComment">
        <![CDATA[
          SELECT
			C.ID AS COMMENT_ID,
			C.USER_ID AS COMMENT_USER_ID,
			C.PROJECT_ID AS COMMENT_PROJECT_ID,
			C.COMMENT AS COMMENT_COMMENT,
			C.MODIFIED_AT AS COMMENT_MODIFIED_AT,
			C.CREATED_AT AS COMMENT_CREATED_AT,
			
			U.ID AS USER_ID,
			U.USERNAME AS USER_USERNAME,
			U.EMAIL AS USER_EMAIL,
			U.FIRST_NAME AS USER_FIRST_NAME,
			U.LAST_NAME AS USER_LAST_NAME,
			U.PHOTO_URL AS USER_PHOTO_URL,
			U.INTRODUCTION AS USER_INTRODUCTION,
			U.SUMMARY AS USER_SUMMARY,
			U.MODIFIED_AT AS USER_MODIFIED_AT,
			U.CREATED_AT AS USER_CREATED_AT,
			 
			G.ID AS GROUP_ID,
		    G.NAME AS GROUP_NAME,
		    G.ROLE AS GROUP_ROLE,
		    G.MODIFIED_AT AS GROUP_MODIFIED_AT,
		    G.CREATED_AT AS GROUP_CREATED_AT
          FROM
			drones.COMMENTS C
		  LEFT JOIN 
	        	drones.USERS U 
	        ON 
	        	U.ID = C.USER_ID
	       LEFT JOIN
            	drones.USER_GROUPS UG
            ON
            	UG.USER_ID = U.ID
            LEFT JOIN
	        	drones.GROUPS G
	        ON
	        	G.ID = UG.GROUP_ID
        ]]>
    </sql>

    <select id="getCommentById" resultMap="CommentResultMap">
        <include refid="getComment"/>
        <![CDATA[
          WHERE
			C.ID = #{id}
        ]]>
    </select>

    <select id="getCommentsByProjectId" resultMap="CommentResultMap">
        <include refid="getComment"/>
        <![CDATA[
          WHERE
			C.PROJECT_ID = #{projectId}
       	  ORDER BY C.CREATED_AT ASC
        ]]>
    </select>

    <update id="updateComment">
        <![CDATA[
          UPDATE
			drones.COMMENTS
          SET
          		COMMENT = #{comment}
          WHERE
		  		ID = #{id}
        ]]>
    </update>

    <delete id="deleteComment">
        <![CDATA[
          DELETE
          FROM 
          		drones.COMMENTS
          WHERE
          		ID = #{id}
        ]]>
    </delete>

    <resultMap id="CommentResultMap" type="com.drones4hire.dronesapp.models.db.projects.Comment" autoMapping="false">
        <id column="COMMENT_ID" property="id"/>
        <result column="COMMENT_COMMENT" property="comment" />
        <result column="COMMENT_PROJECT_ID" property="projectId" />
        <result column="COMMENT_MODIFIED_AT" property="modifiedAt" />
		<result column="COMMENT_CREATED_AT" property="createdAt" />
		<association property="user" resultMap="com.drones4hire.dronesapp.dbaccess.dao.mysql.UserMapper.UserResultMap" />
    </resultMap>

</mapper>