<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drones4hire.dronesapp.dbaccess.dao.mysql.CountryMapper">

    <insert id="createCountry" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
          INSERT INTO
            drones.COUNTRIES (NAME)
          VALUES
          (
            #{name}
          )
        ]]>
    </insert>

    <sql id="getCountries">
        <![CDATA[
          SELECT
	        C.ID AS COUNTRY_ID,
	        C.NAME AS COUNTRY_NAME,
	        C.MODIFIED_AT AS COUNTRY_MODIFIED_AT,
	        C.CREATED_AT AS COUNTRY_CREATED_AT
          FROM
	        drones.COUNTRIES C
        ]]>
    </sql>

    <select id="getCountryById" resultMap="CountryResultMap">
        <include refid="getCountries"/>
        <![CDATA[
          WHERE
            C.ID = #{id}
        ]]>
    </select>

    <select id="getAllCountries" resultMap="CountryResultMap">
        <include refid="getCountries"/>
    </select>

    <update id="updateCountry">
        <![CDATA[
          UPDATE
         	drones.COUNTRIES
          SET
          	NAME = #{name}
          WHERE
			ID = #{id}
        ]]>
    </update>

    <delete id="deleteCountry">
        <![CDATA[
          DELETE
          FROM
            drones.COUNTRIES
          WHERE
            ID = #{id}
        ]]>
    </delete>

    <resultMap id="CountryResultMap" type="com.drones4hire.dronesapp.models.db.commons.Country" autoMapping="false">
        <id column="COUNTRY_ID" property="id"/>
        <result column="COUNTRY_NAME" property="name"/>
        <result column="COUNTRY_MODIFIED_AT" property="modifiedAt"/>
        <result column="COUNTRY_CREATED_AT" property="createdAt"/>
    </resultMap>

</mapper>