<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drones4hire.dronesapp.dbaccess.dao.mysql.ProjectMapper">

	<insert id="createProject" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
          INSERT
          		INTO zafira.PROJECTS (TITLE, SUMMARY, CLIENT_ID, PILOT_ID, SERVICE_ID, DURATION_ID, LOCATION_ID, BUDGET_ID, IMAGE_URL, POST_PRODUCTION_REQUIRED, STATUS, START_DATE, FINISH_DATE)
          VALUES 
	           (
	            #{title},
	            #{summary},
	            #{clientId},
	            #{pilotId},
	            #{service.id},
	            #{duration.id},
	            #{location.id},
	            #{budget.id},
	            #{imageURL},
	            #{postProductionRequired},
	            #{status},
	            #{startDate},
	            #{finishDate}
	           )
        ]]>
	</insert>


	<sql id="getProject">
        <![CDATA[
          SELECT
	      		P.ID AS PROJECT_ID,
	        	P.SUMMARY AS PROJECT_SUMMARY,
	        	P.CLIENT_ID AS PROJECT_CLIENT_ID,
	        	P.PILOT_ID AS PROJECT_PILOT_ID,
	        	P.SERVICE_ID AS PROJECT_SERVICE_ID,
	        	P.DURATION_ID AS PROJECT_DURATION_ID,
	        	P.LOCATION_ID AS PROJECT_LOCATION_ID,
	        	P.BUDGET_ID AS PROJECT_BUDGET_ID,
	        	P.IMAGE_URL AS PROJECT_IMAGE_URL,
	        	P.POST_PRODUCTION_REQUIRED AS PROJECT_POST_PRODUCTION_REQUIRED,
	        	P.STATUS AS PROJECT_STATUS,
	        	P.START_DATE AS PROJECT_START_DATE,
	        	P.FINISH_DATE AS PROJECT_FINISH_DATE,
	        	
	        	PO.ID AS PAID_OPTION_ID,
		        PO.TITLE AS PAID_OPTION_TITLE,
		        PO.DESCRIPTION AS PAID_OPTION_DESCRIPTION,
		        PO.PRICE AS PAID_OPTION_PRICE,
		        PO.CURRENCY AS PAID_OPTION_CURRENCY,
		        PO.MODIFIED_AT AS PAID_OPTION_MODIFIED_AT,
		        PO.CREATED_AT AS PAID_OPTION_CREATED_AT
          FROM
	      		drones.PROJECTS P
	      LEFT JOIN
	      		drones.PROJECTS_PAID_OPTIONS PPO		
	      ON
          		P.ID = PPO.PROJECT_ID		
	      LEFT JOIN
	      		drones.PAID_OPTIONS PO
	      ON
          		PPO.PAID_OTION_ID = PO.ID
        ]]>
	</sql>

	<select id="getProjectById" resultMap="ProjectResultMap">
		<include refid="getProject" />
        <![CDATA[
          WHERE
          		P.ID = #{id}
        ]]>
	</select>

	<select id="getAllProjects" resultMap="ProjectResultMap">
		<include refid="getProject" />
	</select>

	<update id="updateProject">
        <![CDATA[
          UPDATE
          		drones.PROJECTS
          SET
          		NAME = #{name},
          	 	PROJECT_ID = #{project.id}
          WHERE
			 	ID = #{id}
        ]]>
	</update>

	<delete id="deleteProjectById">
        <![CDATA[
          DELETE
          		FROM drones.PROJECTS
          WHERE
          		ID = #{id}
        ]]>
	</delete>


	<resultMap id="ProjectResultMap"
		type="com.drones4hire.dronesapp.models.db.projects.Project"
		autoMapping="false">
		<id column="PROJECT_ID" property="id" />
		<result column="PROJECT_TITLE" property="title" />
		<result column="PROJECT_SUMMARY" property="summary" />
		<result column="PROJECT_CLIENT_ID" property="clientId" />
		<result column="PROJECT_PILOT_ID" property="pilotId" />
		<result column="PROJECT_SERVICE_ID" property="service.id" />
		<result column="PROJECT_DURATION_ID" property="duration.id" />
		<result column="PROJECT_LOCATION_ID" property="location.id" />
		<result column="PROJECT_BUDGET_ID" property="budget.id" />
		<result column="PROJECT_IMAGE_URL" property="imageURL" />
		<result column="PROJECT_POST_PRODUCTION_REQUIRED" property="postProductionRequired" />
		<result column="PROJECT_STATUS" property="status" />
		<result column="PROJECT_START_DATE" property="startDate" />
		<result column="PROJECT_FINISH_DATE" property="finishDate" />
		<result column="PROJECT_MODIFIED_AT" property="modifiedAt" />
		<result column="PROJECT_CREATED_AT" property="createdAt" />
		<collection property="paidOptions"
			ofType="com.drones4hire.dronesapp.models.db.projects.PaidOption"
			resultMap="com.drones4hire.dronesapp.dbaccess.dao.mysql.PaidOptionMapper.PaidOptionResultMap" />
	</resultMap>

</mapper>