<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drones4hire.dronesapp.dbaccess.dao.mysql.ProjectMapper">

    <insert id="createProject" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
          INSERT
          	INTO zafira.PROJECTS (TITLE, SUMMARY, CLIENT_ID, PILOT_ID, SERVICE_ID, DURATION_ID, LOCATION_ID, BUDGET_ID, IMAGE_URL, POST_PRODUCTION_REQUIRED, STATUS, START_DATE, FINISH_DATE)
          VALUES 
          (
            #{title},
            #{summary},
            #{clientId},
            #{pilotId},
            #{service.id},
            #{duration.id},
            #{location.id},
            #{budget.id},
            #{imageURL},
            #{postProductionRequired},
            #{status},
            #{startDate},
            #{finishDate}
          )
        ]]>
    </insert>
    

    <sql id="getProject">
        <![CDATA[
          SELECT
	          V.ID AS PROJECT_ID,
	          V.NAME AS PROJECT_NAME,
	          P.ID AS PROJECT_ID,
	          P.NAME AS PROJECT_NAME,
	          P.DESCRIPTION AS PROJECT_DESCRIPTION,
	          P.MODIFIED_AT AS PROJECT_MODIFIED_AT,
	          P.CREATED_AT AS PROJECT_CREATED_AT,
	          V.MODIFIED_AT AS PROJECT_MODIFIED_AT,
	          V.CREATED_AT AS PROJECT_CREATED_AT
          FROM
	          zafira.VIEWS V
	      LEFT JOIN
	          zafira.PROJECTS P
	      ON
          	V.PROJECT_ID = P.ID
        ]]>
    </sql>

    <select id="getProjectById" resultMap="ProjectResultMap">
        <include refid="getProject"/>
        <![CDATA[
          WHERE
          V.ID = #{id}
        ]]>
    </select>

    <select id="getAllProjects" resultMap="ProjectResultMap">
        <include refid="getProject"/>
    </select>

    <update id="updateProject">
        <![CDATA[
          UPDATE
         	 zafira.VIEWS
          SET
          	 NAME = #{name},
          	 PROJECT_ID = #{project.id}
          WHERE
			 ID = #{id}
        ]]>
    </update>

    <delete id="deleteProjectById">
        <![CDATA[
          DELETE
          FROM zafira.VIEWS
          WHERE
          ID = #{id}
        ]]>
    </delete>

    <resultMap id="ProjectResultMap" type="com.drones4hire.dronesapp.models.db.projects.Project" autoMapping="false">
        <id property="id" column="PROJECT_ID"/>
        <result property="name" column="PROJECT_NAME"/>
        <result column="PROJECT_MODIFIED_AT" property="modifiedAt" />
		<result column="PROJECT_CREATED_AT" property="createdAt" />
    </resultMap>

</mapper>