<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drones4hire.dronesapp.dbaccess.dao.mappers.ServiceCategoryMapper">

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
          INSERT
          INTO Drones4Hire.SERVICE_CATEGORIES (NAME, ORDER)
          VALUES (
            #{name},
            #{order}
          )
        ]]>
    </insert>

    <sql id="getServiceCategories">
        <![CDATA[
          SELECT
	          SC.ID AS SERVICE_CATEGORY_ID,
	          SC.NAME AS SERVICE_CATEGORY_NAME,
	          SC.ORDER AS SERVICE_CATEGORY_ORDER,
	          SC.MODIFIED_AT AS SERVICE_CATEGORY_MODIFIED_AT,
	          SC.CREATED_AT AS SERVICE_CATEGORY_CREATED_AT
          FROM
	          Drones4Hire.SERVICE_CATEGORIES SC
        ]]>
    </sql>

    <select id="getServiceCategoryById" resultMap="ServiceCategoryResultMap">
        <include refid="getServiceCategories"/>
        <![CDATA[
          WHERE
          SC.ID = #{id}
        ]]>
    </select>

    <select id="getAllServiceCategories" resultMap="ServiceCategoryResultMap">
        <include refid="getServiceCategories"/>
    </select>

    <update id="updateServiceCategory">
        <![CDATA[
          UPDATE
         	 Drones4Hire.SERVICE_CATEGORIES
          SET
          	 NAME = #{name},
          	 ORDER = #{order}
          WHERE
			 ID = #{id}
        ]]>
    </update>

    <delete id="deleteServiceCategory">
        <![CDATA[
          DELETE
          FROM Drones4Hire.SERVICE_CATEGORIES
          WHERE
          ID = #{id}
        ]]>
    </delete>

    <resultMap id="ServiceCategoryResultMap" type="com.drones4hire.dronesapp.models.db.services.ServiceCategory" autoMapping="false">
        <id property="id" column="SERVICE_CATEGORY_ID"/>
        <result property="name" column="SERVICE_CATEGORY_NAME"/>
        <result property="order" column="SERVICE_CATEGORY_ORDER"/>
        <result property="modifiedAt" column="SERVICE_CATEGORY_MODIFIED_AT" />
        <result property="createdAt" column="SERVICE_CATEGORY_CREATED_AT" />
    </resultMap>

</mapper>