<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drones4hire.dronesapp.dbaccess.dao.mysql.ServiceCategoryMapper">

    <insert id="createServiceCategory" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
          INSERT INTO
            drones.SERVICE_CATEGORIES (NAME, SORT_ORDER)
          VALUES
          (
            #{name},
            #{order}
          )
        ]]>
    </insert>

    <sql id="getServiceCategories">
        <![CDATA[
          SELECT
	        SC.ID AS SERVICE_CATEGORY_ID,
	        SC.NAME AS SERVICE_CATEGORY_NAME,
	        SC.SORT_ORDER AS SERVICE_CATEGORY_SORT_ORDER,
	        SC.MODIFIED_AT AS SERVICE_CATEGORY_MODIFIED_AT,
	        SC.CREATED_AT AS SERVICE_CATEGORY_CREATED_AT
          FROM
	        drones.SERVICE_CATEGORIES SC
        ]]>
    </sql>

    <select id="getServiceCategoryById" resultMap="ServiceCategoryResultMap">
        <include refid="getServiceCategories"/>
        <![CDATA[
          WHERE
            SC.ID = #{id}
        ]]>
    </select>

    <select id="getAllServiceCategories" resultMap="ServiceCategoryResultMap">
        <include refid="getServiceCategories"/>
    </select>

    <update id="updateServiceCategory">
        <![CDATA[
          UPDATE
         	drones.SERVICE_CATEGORIES
          SET
          	NAME = #{name},
          	SORT_ORDER = #{order}
          WHERE
			ID = #{id}
        ]]>
    </update>

    <delete id="deleteServiceCategory">
        <![CDATA[
          DELETE
          FROM
            drones.SERVICE_CATEGORIES
          WHERE
            ID = #{id}
        ]]>
    </delete>

    <resultMap id="ServiceCategoryResultMap" type="com.drones4hire.dronesapp.models.db.services.ServiceCategory" autoMapping="false">
        <id column="SERVICE_CATEGORY_ID" property="id"/>
        <result column="SERVICE_CATEGORY_NAME" property="name"/>
        <result column="SERVICE_CATEGORY_SORT_ORDER" property="order"/>
        <result column="SERVICE_CATEGORY_MODIFIED_AT" property="modifiedAt"/>
        <result column="SERVICE_CATEGORY_CREATED_AT" property="createdAt"/>
    </resultMap>

</mapper>