<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drones4hire.dronesapp.dbaccess.dao.mysql.ServiceMapper">

    <insert id="createService" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
          INSERT INTO
            drones.SERVICES (NAME, SERVICE_CATEGORY_ID)
          VALUES
          (
            #{name},
            #{category.id}
          )
        ]]>
    </insert>

    <insert id="createUserServices" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        	INSERT INTO
        	  drones.USER_SERVICES (USER_ID, SERVICE_ID)
            VALUES
        ]]>
        <foreach collection="serviceIds" item="serviceId" index="index" open="" separator="," close=";">
            (
            #{userId},
            #{serviceId}
            )
        </foreach>
    </insert>

    <sql id="getServices">
        <![CDATA[
          SELECT
            S.ID AS SERVICE_ID,
            S.NAME AS SERVICE_NAME,
            S.MODIFIED_AT AS SERVICE_MODIFIED_AT,
            S.CREATED_AT AS SERVICE_CREATED_AT,

            SC.ID AS SERVICE_CATEGORY_ID,
            SC.NAME AS SERVICE_CATEGORY_NAME,
            SC.SORT_ORDER AS SERVICE_CATEGORY_SORT_ORDER,
            SC.MODIFIED_AT AS SERVICE_CATEGORY_MODIFIED_AT,
            SC.CREATED_AT AS SERVICE_CATEGORY_CREATED_AT
          FROM
	        drones.SERVICES S
          LEFT JOIN
            drones.SERVICE_CATEGORIES SC
          ON
            S.SERVICE_CATEGORY_ID = SC.ID
        ]]>
    </sql>

    <select id="getServiceById" resultMap="ServiceResultMap">
        <include refid="getServices"/>
        <![CDATA[
          WHERE
            S.ID = #{id}
        ]]>
    </select>

    <select id="getAllServices" resultMap="ServiceResultMap">
        <include refid="getServices"/>
    </select>

    <select id="getServicesByUserId" resultMap="ServiceResultMap">
        <include refid="getServices"/>
        <![CDATA[
          INNER JOIN
            drones.USER_SERVICES US
          ON
            US.SERVICE_ID = S.ID
          WHERE 
          	US.USER_ID = #{userId}
        ]]>
    </select>

    <update id="updateService">
        <![CDATA[
          UPDATE
         	drones.SERVICES
          SET
          	NAME = #{name},
          	SERVICE_CATEGORY_ID = #{category.id}
          WHERE
		    ID = #{id}
        ]]>
    </update>

    <delete id="deleteService">
        <![CDATA[
          DELETE FROM
            drones.SERVICES
          WHERE
            ID = #{id}
        ]]>
    </delete>

    <delete id="deleteUserServices">
        <![CDATA[
          DELETE FROM
            drones.USER_SERVICES
          WHERE
            USER_ID = #{userId}
        ]]>
    </delete>

    <delete id="deleteServicesByCategoryId">
        <![CDATA[
          DELETE FROM
            drones.SERVICES
          WHERE
            SERVICE_CATEGORY_ID = #{categoryId}
        ]]>
    </delete>

    <resultMap id="ServiceResultMap" type="com.drones4hire.dronesapp.models.db.services.Service" autoMapping="false">
        <id column="SERVICE_ID" property="id"/>
        <result column="SERVICE_NAME" property="name"/>
        <result column="SERVICE_MODIFIED_AT" property="modifiedAt"/>
        <result column="SERVICE_CREATED_AT" property="createdAt"/>
        <association property="category" resultMap="com.drones4hire.dronesapp.dbaccess.dao.mysql.ServiceCategoryMapper.ServiceCategoryResultMap"/>
    </resultMap>

</mapper>