<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drones4hire.dronesapp.dbaccess.dao.mysql.StateMapper">

    <insert id="createState" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
          INSERT INTO
            drones.STATES (NAME, CODE)
          VALUES
          (
            #{name},
            #{code}
          )
        ]]>
    </insert>

    <sql id="getStates">
        <![CDATA[
          SELECT
	        S.ID AS STATE_ID,
	        S.NAME AS STATE_NAME,
	        S.CODE AS STATE_CODE,
	        S.MODIFIED_AT AS STATE_MODIFIED_AT,
	        S.CREATED_AT AS STATE_CREATED_AT
          FROM
	        drones.STATES S
        ]]>
    </sql>

    <select id="getStateById" resultMap="StateResultMap">
        <include refid="getStates"/>
        <![CDATA[
          WHERE
            S.ID = #{id}
        ]]>
    </select>

    <select id="getAllStates" resultMap="StateResultMap">
        <include refid="getStates"/>
    </select>

    <update id="updateState">
        <![CDATA[
          UPDATE
         	drones.STATES
          SET
          	NAME = #{name},
          	CODE = #{code}
          WHERE
			ID = #{id}
        ]]>
    </update>

    <delete id="deleteState">
        <![CDATA[
          DELETE
          FROM
            drones.STATES
          WHERE
            ID = #{id}
        ]]>
    </delete>

    <resultMap id="StateResultMap" type="com.drones4hire.dronesapp.models.db.commons.State" autoMapping="false">
        <id column="STATE_ID" property="id"/>
        <result column="STATE_NAME" property="name"/>
        <result column="STATE_CODE" property="code"/>
        <result column="STATE_MODIFIED_AT" property="modifiedAt"/>
        <result column="STATE_CREATED_AT" property="createdAt"/>
    </resultMap>

</mapper>