<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drones4hire.dronesapp.dbaccess.dao.mysql.UserMapper">

	<insert id="createUser" useGeneratedKeys="true" keyProperty="id">
    	<![CDATA[
        	INSERT
          		INTO drones.USERS (USERNAME, EMAIL, PASSWORD, FIRST_NAME, LAST_NAME, PHOTO_URL, INTRODUCTION, SUMMARY, LOCATION_ID, ENABLED, CONFIRMED)
          	VALUES 
            (
          		#{username},
            	#{email},
            	#{password},
            	#{firstName},
            	#{lastName},
            	#{photoURL},
            	#{introduction},
            	#{summary},
            	#{location.id},
            	#{enabled},
            	#{confirmed}
          	)
        ]]>
    </insert>
    
    <insert id="createUserGroup">
    	<![CDATA[
        	INSERT
          		INTO drones.USER_GROUPS (USER_ID, GROUP_ID)
          	VALUES 
            (
          		#{user.id},
            	#{group.id}
          	)
        ]]>
    </insert>
    

	<sql id="getUser">
    	<![CDATA[
        	SELECT
	      		U.ID AS USER_ID,
				U.USERNAME AS USER_USERNAME,
				U.EMAIL AS USER_EMAIL,
				U.PASSWORD AS USER_PASSWORD,
				U.FIRST_NAME AS USER_FIRST_NAME,
				U.LAST_NAME AS USER_LAST_NAME,
				U.PHOTO_URL AS USER_PHOTO_URL,
				U.INTRODUCTION AS USER_INTRODUCTION,
				U.SUMMARY AS USER_SUMMARY,
				U.ENABLED AS USER_ENABLED,
				U.CONFIRMED AS USER_CONFIRMED,
				U.MODIFIED_AT AS USER_MODIFIED_AT,
				U.CREATED_AT AS USER_CREATED_AT,
				 
				L.ID AS LOCATION_ID,
				L.ADDRESS AS LOCATION_ADDRESS,
	        	X(L.COORDINATES) AS LOCATION_X_COORDINATE,
	        	Y(L.COORDINATES) AS LOCATION_Y_COORDINATE,
	        	L.CITY AS LOCATION_CITY,
	        	L.POSTCODE AS LOCATION_POSTCODE,
	        	L.MODIFIED_AT AS LOCATION_MODIFIED_AT,
	        	L.CREATED_AT AS LOCATION_CREATED_AT,
	        	
	        	G.ID AS GROUP_ID,
		        G.NAME AS GROUP_NAME,
		        G.ROLE AS GROUP_ROLE,
		        G.MODIFIED_AT AS GROUP_MODIFIED_AT,
		        G.CREATED_AT AS GROUP_CREATED_AT,
	        	
	        	C.ID AS COUNTRY_ID,
	        	C.NAME AS COUNTRY_NAME,
	        	C.MODIFIED_AT AS COUNTRY_MODIFIED_AT,
	        	C.CREATED_AT AS COUNTRY_CREATED_AT,
	        	
	        	S.ID AS STATE_ID,
	        	S.NAME AS STATE_NAME,
	        	S.CODE AS STATE_CODE,
	        	S.MODIFIED_AT AS STATE_MODIFIED_AT,
	        	S.CREATED_AT AS STATE_CREATED_AT
          	FROM
	          	drones.USERS U
	        LEFT JOIN 
	        	drones.LOCATIONS L 
	        ON 
	        	U.LOCATION_ID = L.ID
	        LEFT JOIN
            	drones.COUNTRIES C
          	ON
            	L.COUNTRY_ID = C.ID
          	LEFT JOIN
            	drones.STATES S
          	ON
            	L.STATE_ID = S.ID
            LEFT JOIN
            	drones.USER_GROUPS UG
            ON
            	UG.USER_ID = U.ID
            LEFT JOIN
	        	drones.GROUPS G
	        ON
	        	G.ID = UG.GROUP_ID
        ]]>
    </sql>

	<select id="searchUsers" resultMap="UserResultMap">
		<include refid="getUser" />
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="null != lastName">
				<![CDATA[
				   AND LOWER(U.LAST_NAME) LIKE LOWER(CONCAT('%', #{lastName}, '%'))
				]]>
			</if>
			<if test="null != firstName">
				<![CDATA[
				    AND LOWER(U.FIRST_NAME) LIKE LOWER(CONCAT('%', #{firstName}, '%'))
				]]>
			</if>
			<if test="null != email">
				<![CDATA[
				    AND LOWER(U.EMAIL) LIKE LOWER(CONCAT('%', #{email}, '%'))
				]]>
			</if>
			<if test="null != username">
				<![CDATA[
					AND LOWER(U.USERNAME) LIKE LOWER(CONCAT('%', #{username}, '%'))
				]]>
			</if>
			<if test="null != confirmed">
				<![CDATA[
				   AND U.CONFIRMED = #{confirmed}
				]]>
			</if>
			<if test="null != enabled">
				<![CDATA[
				   AND U.ENABLED = #{enabled}
				]]>
			</if>
		</trim>
		<if test="sortOrder.toString() == 'ASC'">
				<![CDATA[
				ORDER BY U.ID ASC
			]]>
			</if>
			<if test="sortOrder.toString() == 'DESC'">
				<![CDATA[
				ORDER BY U.ID DESC
			]]>
			</if>
		<![CDATA[
			LIMIT #{pageSize} OFFSET #{page}
		]]>
	</select>

    <select id="getUserById" resultMap="UserResultMap">
        <include refid="getUser"/>
        <![CDATA[
        	WHERE
          		U.ID = #{id}
        ]]>
    </select>
    
     <select id="getUserByUsername" resultMap="UserResultMap">
        <include refid="getUser"/>
        <![CDATA[
        	WHERE
          		U.USERNAME = #{username}
        ]]>
    </select>
    
     <select id="getUserByEmail" resultMap="UserResultMap">
        <include refid="getUser"/>
        <![CDATA[
        	WHERE
          		U.EMAIL = #{email}
        ]]>
    </select>
    
    <select id="getAllUsers" resultMap="UserResultMap">
        <include refid="getUser"/>
    </select>

    <update id="updateUser">
        <![CDATA[
        	UPDATE
        		drones.USERS
          	SET
          		USERNAME = #{username}, 
          		EMAIL = #{email}, 
          		PASSWORD = #{password}, 
          		FIRST_NAME = #{firstName},
          		LAST_NAME = #{lastName},
          		PHOTO_URL = #{photoURL},
          		INTRODUCTION = #{introduction},
          		SUMMARY = #{summary},
          		ENABLED = #{enabled},
          		CONFIRMED = #{confirmed},
          		LOCATION_ID = #{location.id}
          	WHERE
			 	ID = #{id}
        ]]>
    </update>

	<delete id="deleteUserGroup">
        <![CDATA[
        	DELETE
          	FROM 
          		drones.USER_GROUPS
          	WHERE
          		USER_ID = #{userId}
          	AND 
          		GROUP_ID = #{groupId}
        ]]>
    </delete>

    <delete id="deleteUser">
        <![CDATA[
        	DELETE
          	FROM 
          		drones.USERS
          	WHERE
          		ID = #{id}
        ]]>
    </delete>

    <resultMap id="UserResultMap" type="com.drones4hire.dronesapp.models.db.users.User" autoMapping="false">
        <id column="USER_ID" property="id"/>
        <result column="USER_USERNAME" property="username" />
        <result column="USER_EMAIL" property="email" />
        <result column="USER_PASSWORD" property="password" />
        <result column="USER_FIRST_NAME" property="firstName" />
        <result column="USER_LAST_NAME" property="lastName" />
        <result column="USER_PHOTO_URL" property="photoURL" />
        <result column="USER_INTRODUCTION" property="introduction" />
        <result column="USER_SUMMARY" property="summary" />
        <result column="USER_ENABLED" property="enabled" />
        <result column="USER_CONFIRMED" property="confirmed" />
		<result column="USER_MODIFIED_AT" property="modifiedAt" />
		<result column="USER_CREATED_AT" property="createdAt" />
		<association property="location" resultMap="com.drones4hire.dronesapp.dbaccess.dao.mysql.LocationMapper.LocationResultMap" />
		<collection property="groups" ofType="com.drones4hire.dronesapp.models.db.users.Group" 
			resultMap="com.drones4hire.dronesapp.dbaccess.dao.mysql.GroupMapper.GroupResultMap"/>
    </resultMap>

</mapper>