<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drones4hire.dronesapp.dbaccess.dao.mysql.WithdrawRequestMapper">

    <insert id="createWithdrawRequest" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
          INSERT INTO
            drones.WITHDRAW_REQUESTS (TRANSACTION_ID, USER_ID, AMOUNT, CURRENCY, COMMENT, STATUS)
          VALUES
          (
            #{transactionId},
            #{userId},
            #{amount},
            #{currency},
            #{comment},
            #{status}
          )
        ]]>
    </insert>

    <sql id="getWithdrawRequests">
        <![CDATA[
          SELECT
	        WR.ID AS WITHDRAW_REQUEST_ID,
	        WR.TRANSACTION_ID AS WITHDRAW_REQUEST_TRANSACTION_ID,
	        WR.USER_ID AS WITHDRAW_REQUEST_USER_ID,
	        WR.AMOUNT AS WITHDRAW_REQUEST_AMOUNT,
	        WR.CURRENCY AS WITHDRAW_REQUEST_CURRENCY,
	        WR.COMMENT AS WITHDRAW_REQUEST_COMMENT,
	        WR.STATUS AS WITHDRAW_REQUEST_STATUS,
	        WR.MODIFIED_AT AS WITHDRAW_REQUEST_MODIFIED_AT,
	        WR.CREATED_AT AS WITHDRAW_REQUEST_CREATED_AT
          FROM
	        drones.WITHDRAW_REQUESTS WR
        ]]>
    </sql>

    <select id="getWithdrawRequestById" resultMap="WithdrawRequestResultMap">
        <include refid="getWithdrawRequests"/>
        <![CDATA[
          WHERE
            WR.ID = #{id}
        ]]>
    </select>

    <select id="getAllWithdrawRequests" resultMap="WithdrawRequestResultMap">
        <include refid="getWithdrawRequests"/>
    </select>

    <update id="updateWithdrawRequest">
        <![CDATA[
          UPDATE
         	drones.WITHDRAW_REQUESTS
          SET
          	TRANSACTION_ID = #{transactionId},
            USER_ID = #{userId},
            AMOUNT = #{amount},
            CURRENCY = #{currency},
            COMMENT = #{comment},
            STATUS = #{status}
          WHERE
			ID = #{id}
        ]]>
    </update>

    <delete id="deleteWithdrawRequest">
        <![CDATA[
          DELETE
          FROM
            drones.WITHDRAW_REQUESTS
          WHERE
            ID = #{id}
        ]]>
    </delete>

    <resultMap id="WithdrawRequestResultMap" type="com.drones4hire.dronesapp.models.db.payments.WithdrawRequest" autoMapping="false">
        <id column="WITHDRAW_REQUEST_ID" property="id"/>
        <result column="WITHDRAW_REQUEST_TRANSACTION_ID" property="transactionId"/>
        <result column="WITHDRAW_REQUEST_USER_ID" property="userId"/>
        <result column="WITHDRAW_REQUEST_AMOUNT" property="amount"/>
        <result column="WITHDRAW_REQUEST_CURRENCY" property="currency"/>
        <result column="WITHDRAW_REQUEST_COMMENT" property="comment"/>
        <result column="WITHDRAW_REQUEST_STATUS" property="status"/>
        <result column="WITHDRAW_REQUEST_MODIFIED_AT" property="modifiedAt"/>
        <result column="WITHDRAW_REQUEST_CREATED_AT" property="createdAt"/>
    </resultMap>

</mapper>