<div class="t-search">
  <div class="t-search__row _head">
    <div class="t-search__cell">Job name</div>
    <div class="t-search__cell">Type</div>
    <div class="t-search__cell">location</div>
    <div class="t-search__cell">Budget</div>
    <div class="t-search__cell">Posted</div>
    <div class="t-search__cell">Highest bid</div>
    <div class="t-search__cell"># PROPOSALS</div>
  </div>
  <div *ngFor="let item of projects" class="t-search__row">
    <div class="t-search__cell _title">
      <a href="#" class="t-search__link _title" [routerLink]="['/project/', item.id]">
        <span class="t-search__title">{{item.name}}</span>
      </a>
      <span *ngFor="let paidOption of item.paidOptions" class="t-search__color" [ngStyle]="{'background-color': paidOption.color}">
        {{ paidOption.title }}
      </span>
    </div>
    <div class="t-search__cell">{{item.type}}</div>
    <div class="t-search__cell">{{item.distance}}</div>
    <div class="t-search__cell">{{item.budget}}</div>
    <div class="t-search__cell">{{item.posted | date:'M/d/yy'}}</div>
    <div class="t-search__cell">{{item.proposals > 0 ? item.highestBid : '-'}}</div>
    <div class="t-search__cell">{{item.proposals}}</div>
  </div>
</div>
<div class="t-search__empty" *ngIf="!projects || !projects.length">No results</div>
