.b-project-search
  font-size 1.6rem
  &__row
    display flex
  &__column
    width 20%
    min-height 90px
    display flex
    align-items center
    padding-left 15px
  &__select-wrapper
    display inline-block
    position relative
    margin-left 10px
    &:after
      content '\25bc'
      font-size .9rem
      display block
      position absolute
      width 5px
      height 5px
      top 35%
      left 80%
      pointer-events none
  &__select
    background-color transparent
    padding 6px 65px 6px 5px
    border 1px solid #8a8a8a
    border-radius 5px
    appearance: none
  &__name
    color: deepskyblue

