<div class="b-project-search">
  <div class="b-project-search__row">
    <div class="b-project-search__column"><a href="" class="b-project-search__name">{{project.name}}</a></div>
    <div class="b-project-search__column">{{project.bids}}</div>
    <div class="b-project-search__column">{{project.avgBids}}</div>
    <div class="b-project-search__column">{{project.bidEndDate}}</div>
    <div class="b-project-search__column">
      <div class="b-project-search__select-wrapper">
        <select name="" id="" class="b-project-search__select">
          <option value="">Select</option>
          <option value="">Select</option>
          <option value="">Select</option>
          <option value="">Select</option>
          <option value="">Select</option>
        </select>
      </div>
    </div>
  </div>
</div>
