<div class="b-project-search">
  <div class="b-project-search__row">
    <div class="b-project-search__column"><a href="" class="b-project-search__name">{{project.title}}</a></div>
    <div class="b-project-search__column">0</div>
    <div class="b-project-search__column">0.0</div>
    <div class="b-project-search__column">2017-06-09</div>
    <div class="b-project-search__column">
      <div class="b-project-search__select-wrapper">
        <select name="" id="" class="b-project-search__select">
          <option value="">Select</option>
          <option value="">View</option>
          <option value="">Edit</option>
          <option value="">Close</option>
        </select>
      </div>
    </div>
  </div>
</div>
