<ul class="l-services">
  <li class="l-services__item">
    <img class="l-services__img" src="./assets/img/estate.jpg">
    <div class="l-services__info">Real estate</div>
  </li>
  <li class="l-services__item">
    <img class="l-services__img" src="./assets/img/rings.jpg">
    <div class="l-services__info">Inspections</div>
  </li>
  <li class="l-services__item">
    <img class="l-services__img" src="./assets/img/kino.jpg">
    <div class="l-services__info">Construction</div>
  </li>
  <li class="l-services__item">
    <img class="l-services__img" src="./assets/img/agro.jpg">
    <div class="l-services__info">Agriculture</div>
  </li>
  <li class="l-services__item">
    <img class="l-services__img" src="./assets/img/estate.jpg">
    <div class="l-services__info">Oil/Gas/Solar Energy</div>
  </li>
</ul>
