<ul class="l-services">
  <li class="l-services__item">
    <svg-use name="building"></svg-use>
    <div class="l-services__info">Real estate</div>
  </li>
  <li class="l-services__item">
    <svg-use name="inspection"></svg-use>
    <div class="l-services__info">Inspections</div>
  </li>
  <li class="l-services__item">
    <svg-use name="engineer"></svg-use>
    <div class="l-services__info">Construction</div>
  </li>
  <li class="l-services__item">
    <svg-use name="tractor"></svg-use>
    <div class="l-services__info">Agriculture</div>
  </li>
  <li class="l-services__item">
    <svg-use name="electric-tower"></svg-use>
    <div class="l-services__info">Oil/Gas/Solar Energy</div>
  </li>
</ul>
