<div class="b-portfolio" (click)="click()" [ngClass]="{ '_active': toggleClass}">
  <div class="b-portfolio__wrapper">
    <div class="b-portfolio__title">{{item.title}}</div>

    <div class="b-portfolio__description">
      <div class="b-portfolio__subtitle">Type</div>
      <div class="b-portfolio__text">{{item.type}}</div>
    </div>
    <div class="b-portfolio__description">
      <div class="b-portfolio__subtitle">Location</div>
      <div class="b-portfolio__text">{{item.location}}</div>
    </div>
    <div class="b-portfolio__description">
      <div class="b-portfolio__subtitle">Budget</div>
      <div class="b-portfolio__text">{{item.budget}}</div>
    </div>
    <div class="b-portfolio__description">
      <div class="b-portfolio__subtitle">Date Posted</div>
      <div class="b-portfolio__text">{{item.date}}</div>
    </div>
  </div>
  <div class="b-portfolio__img-wrapper">
    <img [src]="item.src" class="b-portfolio__img"/>
  </div>
</div>
