<div class="pr-bid">
  <ng-content select="bid-head"></ng-content>
  <div class="pr-bid__wrapper">
    <div class="pr-bid__left">
      <div class="pr-bid__user">
        <a href="#">
          <!-- todo wait to API implements img -->
          <div class="pr-bid__photo" *ngIf="bid.photoURL; else elseBlock">
            <img class="pr-bid__photo-img" [src]="bid.photoURL" alt="user icon">
          </div>
          <ng-template #elseBlock>
            <div *ngIf="!bid.photoURL">
              <svg-use name="usericon"></svg-use>
            </div>
          </ng-template>
        </a>

      </div>
      <div class="pr-bid__propolsal">
        <div class="pr-bid__top">
          <a href="#">
            <p class="pr-bid__name">{{ bid.firstName }} {{ bid.lastName }}</p>
          </a>
        </div>
        <p>Proposal:</p>
        <p>{{ bid.comment }}</p>
      </div>
    </div>
    <div class="pr-bid__right">
      <div class="pr-bid__amount">Bid Amount:
        <span class="pr-bid__count">${{bid.amount|number:'1.2'}}</span>
      </div>
      <!-- todo wait to API implements date-->
      <div class="pr-bid__age">Bid Age: {{ diff }} day(s)</div>
      <ng-content select="bid-buttons"></ng-content>
    </div>
  </div>
  <hr class="pr-bid__line">
</div>
