<div class="pr-bid">
  <div class="pr-bid__wrapper">
    <div class="pr-bid__left">
      <div class="pr-bid__user">
        <!-- todo wait to API implements img -->
        <div *ngIf="bid.img; else elseBlock">
          <img src="{{bid.img}}" alt="user icon">
        </div>
        <ng-template #elseBlock>
          <div *ngIf="!bid.img">
            <svg-use name="usericon"></svg-use>
          </div>
        </ng-template>
      </div>
      <!-- todo wait to API implements name-->
      <div class="pr-bid__name">Full name</div>
      <div class="pr-bid__propolsal">
        <p>Proposal:</p>
        <p>{{bid.comment}}</p>
      </div>
    </div>
    <div class="pr-bid__right">
      <div class="pr-bid__amount">Bid Amount:
        <span class="pr-bid__count">${{bid.amount}}</span>
      </div>
      <!-- todo wait to API implements date-->
      <div class="pr-bid__age">Bid Age: 0 days</div>
      <ng-content select="bid-buttons"></ng-content>
    </div>
  </div>
  <hr class="pr-bid__line">
</div>
