.pr-bid
  font-size 1.6rem
  line-height 14px
  letter-spacing .5px
  color rgb(51,51,51)
  &__wrapper
    display flex
    justify-content space-between
  &__right
    text-align right
  &__left
    display flex
  &__user
    text-align center
    cursor pointer
  &__name
    margin-top 15px
    font-size 1.4rem
  &__propolsal
    margin-left 20px
    p
      &:first-child
        margin-bottom 15px
  &__age
    margin-bottom 15px
  &__btn
    display block
    min-width 160px
    min-height 31px
    background #fff
    color #3ebcc7
    font-size 1.8rem
    margin-bottom 6px
    border:1px solid #3ebcc7
    &._fill
      background #3ebcc7
      color #fff
  &__amount
    margin-bottom 15px
  &__count
    font-weight 600
    color #000000
  &__line
    height 1px
    width 100%
    background-color #8a8a8a
    margin 25px 0

.svg-usericon
  width 100px
  height 100px


