<form class="f-public f-default"
      novalidate
      #publicForm="ngForm"
      (ngSubmit)="changeSettings($event, publicForm)">

  <div class="f-default__inner">
    <div class="f-default__col">
      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">Tagline:</span>
          <input class="f-default__field"
                 type="text"
                 placeholder="Tagline (max. 100 characters)"
                 name="tagLine"
                 [ngModel]="accountService.profile?.tagline"
                 (ngModelChange)="accountService.profile.tagline = $event"
                 required
                 maxlength="100"
                 #tagLineRef="ngModel"
                 [ngClass]="{'_error': submitted && tagLineRef.errors?.required}"/>
          <span class="f-default__error" *ngIf="submitted && tagLineRef.errors?.required">This field is required</span>
        </label>
      </div>

      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">Bio:</span>
          <textarea class="f-default__field _area"
                    type="text"
                    name="bio"
                    placeholder="Bio"
                    [ngModel]="accountService.profile?.bio"
                    (ngModelChange)="accountService.profile.bio = $event"
                    required
                    #bioRef="ngModel"
                    [ngClass]="{'_error': submitted && bioRef.errors?.required}"></textarea>
          <span class="f-default__error" *ngIf="submitted && bioRef.errors?.required">This field is required</span>
        </label>
      </div>

      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">Website URL:</span>
          <input class="f-default__field"
                 type="text"
                 name="url"
                 placeholder="Website URL"
                 [ngModel]="accountService.profile?.webURL"
                 (ngModelChange)="accountService.profile.webURL = $event"
                 required
                 #urlRef="ngModel"
                 [ngClass]="{'_error': submitted && urlRef.errors?.required}"/>
          <span class="f-default__error" *ngIf="submitted && urlRef.errors?.required">This field is required</span>
        </label>
      </div>

      <div class="f-default__row">
        <label class="f-default__label _top">
          <span class="f-default__text">Upload Your Company Logo:</span>
          <input class="f-default__field _file"
                 type="file"
                 accept="image/jpeg,image/jpg,image/png"
                 name="companyLogo"
                 ng2FileSelect
                 [uploader]="uploader"
                 (change)="handlePhotoUpload('company_logo')">
        </label>
      </div>

      <div class="f-default__row" *ngIf="accountService.profile?.companyLogoURL">
        <div class="f-default__avatar">
          <img src="{{accountService.profile.companyLogoURL}}" alt="companyLogo">
        </div>
      </div>

      <div class="f-default__row">
        <label class="f-default__label _top">
          <span class="f-default__text">Upload Your Cover Photo:</span>
          <input class="f-default__field _file"
                 type="file"
                 accept="image/jpeg,image/jpg,image/png"
                 name="coverPhoto"
                 ng2FileSelect
                 [uploader]="uploader"
                 (change)="handlePhotoUpload('cover_photo')">
        </label>
      </div>

      <div class="f-default__row" *ngIf="accountService.profile?.coverPhotoURL">
        <div class="f-default__avatar">
          <img src="{{accountService.profile.coverPhotoURL}}" alt="coverPhoto">
        </div>
      </div>
    </div>
  </div>

  <button class="f-default__button"
          [disabled]="submitted && !publicForm.form.valid">Save
  </button>
</form>
