<form class="f-email f-default"
      novalidate
      #passwordForm="ngForm"
      (ngSubmit)="changePassword($event, passwordForm)">

  <div class="f-default__inner">
    <div class="f-default__col">

      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">Current Password:</span>
          <input class="f-default__field"
                 type="password"
                 name="confirmPassword"
                 [(ngModel)]="confirmPassword"
                 required
                 #confirmPasswordRef="ngModel"
                 [ngClass]="{'_error': submitted && confirmPasswordRef.errors?.required}"/>
          <span class="f-default__error"
                *ngIf="submitted && confirmPasswordRef.errors?.required">This field is required</span>
        </label>
      </div>

      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">New Password:</span>
          <input class="f-default__field"
                 type="password"
                 required
                 [(ngModel)]="password"
                 name="password"
                 #passwordRef="ngModel"
                 validateEqual="repassword"
                 reverse="true"
                 [ngClass]="{'_error': submitted && passwordRef.errors?.required}"/>
          <span class="f-default__error" *ngIf="submitted && passwordRef.errors?.required">This field is required</span>
        </label>
      </div>

      <div class="f-default__row">
        <label class="f-default__label">
          <span class="f-default__text _req">Re-Enter Password:</span>
          <input class="f-default__field"
                 type="password"
                 name="repassword"
                 [(ngModel)]="repassword"
                 required
                 validateEqual="password"
                 reverse="false"
                 #repasswordRef="ngModel"
                 [ngClass]="{'_error': submitted && (repasswordRef.errors?.required || !repasswordRef.valid)}"/>
          <span class="f-default__error"
                *ngIf="submitted && repasswordRef.errors?.required">This field is required</span>
          <span class="f-default__error"
                *ngIf="submitted && !repasswordRef.valid">Passwords mismatch</span>
        </label>
      </div>
    </div>
  </div>

  <button class="f-default__button"
          [disabled]="submitted && !passwordForm.form.valid">Change Password
  </button>
</form>
