<form class="f-reset-password f-default"
      novalidate
      #passwordForm="ngForm"
      (ngSubmit)="resetPassword($event, passwordForm)">

  <h2 class="f-reset-password__header">
    Reset Password
  </h2>

  <div class="f-reset-password__content">
    <div class="f-default__row">
      <label class="f-default__label">
        <input class="f-default__field"
               type="password"
               placeholder="New password*"
               required
               [(ngModel)]="password"
               name="password"
               #passwordRef="ngModel"
               validateEqual="confirmPassword"
               reverse="true"
               [ngClass]="{'_error': submitted && passwordRef.errors?.required}"/>
      </label>
    </div>

    <div class="f-default__row">
      <label class="f-default__label">
        <input class="f-default__field"
               type="password"
               name="confirmPassword"
               placeholder="Repeat new password*"
               [(ngModel)]="confirmPassword"
               required
               validateEqual="password"
               reverse="false"
               #repasswordRef="ngModel"
               [ngClass]="{'_error': submitted && (repasswordRef.errors?.required || !repasswordRef.valid)}"/>
      </label>
    </div>

    <div class="f-default__row _controls">
      <button class="f-default__button"
              [disabled]="submitted && !passwordForm.form.valid">Reset Password
      </button>
    </div>
  </div>
</form>
