@import '../../../styles/settings/variables.styl'
@import '../../../styles/settings/mixin.styl'

.modal-confirmation
  max-width 800px
  width 100%
  margin: 0 auto
  display flex
  flex-direction column
  max-height 300px
  min-height 150px
  text-align left
  position relative
  background-color #fff
  min-width: 450px

  &__header
    min-height: 3.5rem
    display: flex
    align-items: center
    background: #1f2431
    font-size 2.3rem
    font-weight 600
    color #fff
    padding 0.5rem 1rem

  &__content
    padding: 20px 25px
    font-size: 1.8rem
  &__footer
    margin-top auto
    padding: 25px
    display flex
    justify-content flex-end
  &__button
    min-width: auto
    margin-bottom: 0
    padding: 0 25px
    font-size: 1.6rem
    &._negative
      background: #d6d6d6
    & + &
      margin-left 10px
