@import "../../../styles/settings/variables.styl"

.a-project
  display: block;
  max-width 250px
  margin: 0 auto
  font-size 1.8rem
  font-weight 700
  letter-spacing .15em
  line-height: 4.7rem
  text-transform: uppercase;
  text-align: center
  color: white;
  background: #3ebcc7;
  position: relative
  z-index: 1
  box-shadow: 0 3px 7px rgba(0,0,0,0.35);
