@import '../../../styles/settings/variables.styl'
@import '../../../styles/settings/mixin.styl'

.modal-information
  max-width 800px
  width 100%
  margin: 0 auto
  display flex
  flex-direction column
  max-height 300px
  min-height 150px
  text-align left
  position relative
  background-color #fff
  min-width: 450px

  &__header
    min-height: 34px
    display: flex
    align-items: center
    background: #1f2431
    font-size 2.3rem
    font-weight 600
    position: relative
    color #fff
    padding 0.5rem 0.2rem 0.5rem 1rem
    &-title
      margin-right 1em

  &__content
    padding: 20px 25px
    font-size: 1.8rem
  &__close
    width: 3.4rem
    height: 3.4rem
    position: relative
    cursor: pointer
    margin-left auto
    &:after
    &:before
      width: 50%
      height: 2px
      hv()
      background: #ffffff
    &:after
      transform: rotate(45deg)
    &:before
      transform: rotate(-45deg)
