.l-howit
  display: flex
  justify-content: space-between
  margin 0 -30px
  &__item
    padding 0 30px
    max-width 33.333333%
    flex-basis 33.333333%
  &__img
    width: 80%
    height: 80%
    display: block
    object-fit contain
    object-position center
    margin: 0 auto
  &__info
    margin-top: 30px
    color #fff
    text-align: center
  &__title
    font-size 1.8rem
    font-weight: 700
    margin-bottom: 20px
  &__text
    font-size 1.8rem
    font-weight: 400
