<ul class="l-howit">
  <li class="l-howit__item">
    <div class="l-howit__img-wrap">
      <img class="l-howit__img" src="./assets/img/human-1.png">
    </div>
    <div class="l-howit__info">
      <h4 class="l-howit__title">Post a Project</h4>
      <p>
        Describe your project along with preferred dates, times, and special requirements. It’s always FREE to post!
      </p>
    </div>
  </li>
  <li class="l-howit__item">
    <div class="l-howit__img-wrap">
      <img class="l-howit__img" src="./assets/img/human-2.png">
    </div>
    <div class="l-howit__info">
      <h4 class="l-howit__title">Receive bids</h4>
      <p>
        Review and compare bid proposals from licensed commercial drone pilots.
      </p>
    </div>
  </li>
  <li class="l-howit__item">
    <div class="l-howit__img-wrap">
      <img class="l-howit__img" src="./assets/img/human-3.png">
    </div>
    <div class="l-howit__info">
      <h4 class="l-howit__title">Hire a pilot & pay</h4>
      <p>
        Hire the pilot that’s right for you and use our platform to safely pay, collaborate, and securely receive your images and videos.
      </p>
    </div>

</ul>
