<ul class="l-howit">
  <li class="l-howit__item">
    <div class="l-howit__img-wrap">
      <img class="l-howit__img" src="../assets/img/human-1.png">
    </div>
    <div class="l-howit__info">
      <h4 class="l-howit__title">Post a Project</h4>
      <p>
        It's always FREE to Post. Describe the details of your project along with any special requirements.
      </p>
    </div>
  </li>
  <li class="l-howit__item">
    <div class="l-howit__img-wrap">
      <img class="l-howit__img" src="../assets/img/human-2.png">
    </div>
    <div class="l-howit__info">
      <h4 class="l-howit__title">Receive bids</h4>
      <p>
        You will receive bids from drone pilot based on your project details.
      </p>
    </div>
  </li>
  <li class="l-howit__item">
    <div class="l-howit__img-wrap">
      <img class="l-howit__img" src="../assets/img/human-3.png">
    </div>
    <div class="l-howit__info">
      <h4 class="l-howit__title">Hire pilot</h4>
      <p>
        Review and hire the best pilot for your project. Once your project is complete, safely pay for your project with our secured pay system.
      </p>
    </div>

</ul>
