<div class="b-transactions-search">
  <div class="s-transaction-search__top">
    <f-transactions-search></f-transactions-search>
    <b-pagination [currentPage]="_transactionService.currentPage" [pagesCount]="_transactionService.pagesCount" (newPage)="setNewPage($event)"></b-pagination>
  </div>
  <div class="b-transaction-search__bottom">
    <div class="b-transactions-search__title">All transactions</div>
    <div class="b-transactions-search__head">
      <div class="b-transactions-search__item _down"
           [ngClass]="{'_up': local.sortBy === 'date' && local.sortDirection,
                        '_down': local.sortBy === 'date' && !local.sortDirection}"
           (click)="sortBy('date')">Date</div>
      <div class="b-transactions-search__item"
           [ngClass]="{'_up': local.sortBy === 'username' && local.sortDirection,
                        '_down': local.sortBy === 'username' && !local.sortDirection}"
           (click)="sortBy('username')">User Name</div>
      <div class="b-transactions-search__item"
           [ngClass]="{'_up': local.sortBy === 'purpose' && local.sortDirection,
                        '_down': local.sortBy === 'purpose' && !local.sortDirection}"
           (click)="sortBy('purpose')">Transaction Purpose</div>
      <div class="b-transactions-search__item"
           [ngClass]="{'_up': local.sortBy === 'type' && local.sortDirection,
                        '_down': local.sortBy === 'type' && !local.sortDirection}"
           (click)="sortBy('type')">Type</div>
      <div class="b-transactions-search__item"
           [ngClass]="{'_up': local.sortBy === 'amount' && local.sortDirection,
                        '_down': local.sortBy === 'amount' && !local.sortDirection}"
           (click)="sortBy('amount')">Amount</div>
    </div>
    <l-transactions-search [transactions]="local.transactions" [orderBy]="local.sortBy" [orderDirection]="local.sortDirection"></l-transactions-search>
  </div>
</div>
