<ul role="list" class="l-social">
  <li class="l-social__item">
    <a href="#" class="l-social__link">
      <svg-use name="facebook"></svg-use>
    </a>
  </li>
  <li class="l-social__item">
    <a href="#"  class="l-social__link">
      <svg-use name="google"></svg-use>
    </a>
  </li>
  <li class="l-social__item">
    <a href="#"  class="l-social__link">
      <svg-use name="instagram"></svg-use>
    </a>
  </li>
  <li class="l-social__item">
    <a href="#"  class="l-social__link">
      <svg-use name="twitter"></svg-use>
    </a>
  </li>
  <li class="l-social__item">
    <a href="#"  class="l-social__link">
      <svg-use name="linkedin"></svg-use>
    </a>
  </li>
</ul>
