<ul role="list" class="l-social">
  <li class="l-social__item">
    <a href="#" class="l-social__link">

    </a>
  </li>
  <li class="l-social__item">
    <a href="#"  class="l-social__link">

    </a>
  </li>
  <li class="l-social__item">
    <a href="#"  class="l-social__link">

    </a>
  </li>
  <li class="l-social__item">
    <a href="#"  class="l-social__link">

    </a>
  </li>
  <li class="l-social__item">
    <a href="#"  class="l-social__link">

    </a>
  </li>
  <li class="l-social__item">
    <a href="#"  class="l-social__link">

    </a>
  </li>
</ul>
