<section class="s-pilot-project">
  <div class="container">
    <h1 class="s-pilot-project__title">Project Name here</h1>
    <div class="s-pilot-project__wrapper">
      <div class="s-pilot-project__left">
        <b-project-details></b-project-details>
        <b-photos></b-photos>
      </div>
      <div class="s-pilot-project__right">
        <b-project-description></b-project-description>
        <b-bid-info></b-bid-info>
        <f-bid></f-bid>
        <b-comments></b-comments>
      </div>
    </div>
    <s-similar></s-similar>
  </div>
</section>
