.s-preview
  background-position center center
  background-repeat no-repeat
  background-size cover
  padding 90px 0 0

  &__content
    display flex
    justify-content center
    align-items center

  &__info
    display flex
    padding 90px 0
    margin 0 -20px
    justify-content center

  &__left
  &__right
    position relative
    flex 1 1 auto
    width 35%
    background rgba(#fff, .95)
    padding 65px 20px 20px
    margin 0 20px

  &__left
    &._no-description
      flex 0 1 auto
      width 500px

  &__right
    width 65%

  &__link
    font-size 1.8rem
    color #fff
    line-height 46px
    width 200px
    display block
    position absolute
    bottom -70px
    left 0
    right 0
    margin 0 auto
    background #3ebcc7
    text-transform uppercase
    text-align center
  .container
    width 100%

  @media screen and (max-width: 1024px)
    &__info
      padding 60px 0
      flex-wrap wrap

    &__left
      flex initial
      width 500px
    &__ridht
      flex auto

    &__left
      margin-bottom 30px
      &._can-edit
        margin-bottom 90px

  @media screen and (max-width: 768px)
    &__info
      padding 30px 0
