@import '../../../styles/settings/mixin.styl'

.s-project-edit
  padding: 150px 0 100px
  .container
    max-width 1600px
    padding 0 30px
  &__title
    font-size 4.8rem
    margin-bottom 70px
    osans(400)
    padding-top: 2px;
    letter-spacing: .03em;
