// TODO: refactoring
.f-default
  &__title
    font-size 30px
    margin-bottom 50px
    line-height: 6rem
    position: relative
    ._number
      position: absolute
      width: 60px
      height: 60px
      border-radius 50%
      left: -95px
      top: 0
      display: block
      text-align: center
      background #3ebcc7
      font-size 3.5rem
      color #fff
    ._small
      display: block
      font-size 20px
      margin-top -24px
  &__inner
    display: flex
    margin 0 -30px 40px
  &__col
    max-width 45%
    flex-basis: 45%
    padding 0 30px
    &._flex
      display: flex
      flex-direction column
      justify-content flex-end
    &-inner
      display: flex
      justify-content: space-between
    &._featured
      .f-default__chk
        color: #1440be
    &._urgent
      .f-default__chk
        color: #de3c3c
    &._sealed
      .f-default__chk
        color: #ff8a00
    &._private
      .f-default__chk
        color: #4cb741
  &__row
    &._flex
      display: flex
      margin: 0 -30px
      .f-default__col
        max-width 50%
        flex-basis: 50%
      &._wrap
        flex-wrap wrap
        .f-default__col
          padding 30px
    &+&
      margin-top 20px
  &__label
    display: block
    width: 100%
    position: relative
    &._chk
      margin-bottom: 20px
    &._top
      align-items flex-start
    &._checkbox
      justify-content flex-start
      [type="checkbox"]
        display none
        &:checked + .f-default__chk-span:after
          content '\2713'
          position absolute
          top: 50%;
          left: 50%;
          transform translate(-50%, -50%);
  &__field
    display: block
    width: 100%
    max-width 400px
    flex-basis: 400px
    height: 5rem
    background #eee
    border-radius 5px
    padding 0 15px
    font-size 1.8rem
    font-weight: 400
    color #4d4d4f
    &::placeholder
      color #4d4d4f
    &._area
      height 200px
      padding 10px 15px
    &._file
      background none
    &.ng-invalid.ng-touched
      +.f-profile__error
        opacity 1
    &._submit.ng-invalid
      +.f-profile__error
        opacity 1
    &._error
      &+.f-default
        &__error
          opacity: 1
  &__error
    position: absolute
    font-size 1.2rem
    color red
    bottom: 0
    left: 0
    opacity 0
  &__text
    font-size 1.8rem
    font-weight: 400
    color #4d4d4f
    &._req
      &:after
        content '*'
        display: inline-block
        color red
        font-size 1.8rem
        font-weight: 400
    &._req-l
      &:before
        content '*'
        display: inline-block
        color red
        font-size 1.8rem
        font-weight: 400
    &._lh
      line-height 5rem
    &._center
      text-align center
      max-width 470px
  &__chk-span
    display inline-block
    width 13px
    height 13px
    border-radius 3px
    background-color #eee
    border 1px solid darken(#eee, 25%)
    position relative
    margin-right .5rem
  &__button
    display: inline-block
    border-radius 5px
    font-size 1.4rem
    font-weight: 400
    color #fff
    text-transform: uppercase
    min-width 150px
    height: 4rem
    background #3ebcc7
    margin-bottom: 30px
  &__chk
    font-size 2.6rem
    line-height: 36px
    padding-left 40px
    &:before
      ps()
      left: 0
      top: 0
      width: 34px
      height: 34px
      border-radius 50%
      border 1px solid #bbb
    &:after
      ps()
      left: 15px
      top: -12px
      width: 16px
      height: 34px
      border-bottom 4px solid #3ebcc7
      border-right 4px solid #3ebcc7
      transform rotate(50deg) skew(15deg)
      display: none
    &-input
      &:checked + .f-default__chk:after
        display: block
  &__price
    font-size 2rem
    font-weight: 700
  &__avatar
    width: 100px
    height: 100px
    img
      width: 100%
      height: 100%
      max-height 100%
      max-width 100%
      object-fit cover
  &__check
    display: flex
    align-items: center
    justify-content: space-between
  &__checkbox
    position: relative
    padding-right: 50px
    cursor: pointer
  &__toggle
    position: absolute
    top: 50%
    left: 10px
    z-index -1
    font-weight: 300
    font-size: 20px
    transform: translate(0, -50%)
    cursor: pointer
    transition: transform .3s
    &._on
      color: #3ebcc7
    &._off
      transform: translate(70px , -50%)
  &__slider
    position: relative
    display: block
    width: 70px
    height: 40px
    border-radius: 25px
    background-color: #000
    transition: background-color .3s
    &:before
      content ''
      position: absolute
      top: 50%
      left: 3px
      width: 35px
      height: 35px
      border-radius: 50%
      transform: translateY(-50%)
      cursor: pointer
      background-color: white
      transition: transform .3s
  &__input
    display: none
    &:checked
      & ~ .f-default
        &__slider
          background-color: #3ebcc7
          &:before
            transform: translate(29px , -50%)
      & ~ .f-default
        &__toggle
          &._on
            transform: translate(70px , -50%)
          &._off
            transform: translate(10px , -50%)
  &__radio
    &._invert
      .f-default
        &__radio
          &-text
            color: #000000
            &:before
              background: #000
            &:after
              background: #fff
    &+&
      margin-left 15px
    &-text
      font-size: 14px;
      font-weight: 400
      line-height: 16px
      color: #fff;
      padding-left 25px
      position: relative
      &:before
        ps()
        width: 16px
        height: 16px
        left: 0
        top: 0
        border-radius 50%
        background #fff
      &:after
        ps()
        display none
        left: 4px
        top: 4px
        border-radius 50%
        width: 8px
        height: 8px
        background #000
    &-input
      &._error
        & + .f-default
          &__radio-text
            &:before
              border: 2px solid rgb(252, 16, 16);
              background-color: rgb(250, 197, 197);
      &:checked
        & + .f-default
          &__radio-text
            &:after
              display: block
