@font-face {
  font-family: 'myraidproregular';
  src: url('assets/fonts/myriadproregular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'myraidprobold';
  src: url('/assets/fonts/myraidprobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
