.f-contact-us
  &__row
    display: flex
    justify-content space-between
    margin-bottom: 12px
  &__col
    width: calc(50% - 5px)
  &__field
    flex-basis: 100%
  &__button._big
    margin-top: 9px
    max-width: 100%
    width: 100%
    font-family: inherit
    font-size: 2.3rem
  &__area
    flex-basis: 100%
    height: 236px
