.l-similar
  display: flex
  margin: 0 -20px;
  &__item
    flex-basis: 33.333%;
    max-width: 33.333%;
    padding: 0 20px;
    margin-bottom: 38px;
    .b-similar
      &__wrapper
        padding: 35px 10px;
      &__title
        font-size 2.4rem
      &__subtitle
      &__text
        font-size 1.8rem
