<div class="s-search">
  <div class="container">
    <h2 class="s-search__title">Find your next Project</h2>
    <f-search></f-search>
    <ul class="s-search__description">
      <li class="s-search__item _sealed">Sealed project</li>
      <li class="s-search__item _urgent">Urgent project</li>
      <li class="s-search__item _private">Private project</li>
      <li class="s-search__item _featured">Featured project</li>
      <li class="s-search__item _favorited">Favorited project</li>
    </ul>
    <t-search></t-search>
  </div>
</div>
