@import '../../../styles/settings/mixin.styl'
.s-search
  padding 255px 0 100px
  &__title
    text-align: center
    font-size 4rem
    font-weight: 400
    color #000
    margin-bottom: 50px
    text-transform: uppercase
  &__description
    display: flex
    justify-content: space-between
    margin-bottom: 40px
  &__item
    padding: 0 20px
    font-size 1.6rem
    font-weight: 400
    color #454545
    position: relative
    text-transform: uppercase
    &:before
      v()
      width: 13px
      height: 13px
      border-radius 50%
      left: 0
    &._sealed
      &:before
        background #0000ff
    &._urgent
      &:before
        background #000
    &._private
      &:before
        background #959595
    &._featured
      &:before
        background #3ebcc7
    &._favorited
      &:before
        background #f7941d


