<!DOCTYPE html>
<html lang="en" ng-app="DronesApp" ng-controller="PaymentController">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="resources/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="resources/alertify.min.css" rel="stylesheet" type="text/css" />
    <script src="resources/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="resources/bootstrap.min.js" type="text/javascript"></script>
    <script src="resources/alertify.min.js" type="text/javascript"></script>
    <script src="resources/angular/angular.min.js" type="text/javascript"></script>
    <script src="resources/angular/angular-aria.min.js" type="text/javascript"></script>
    <script src="resources/angular/angular-animate.min.js" type="text/javascript"></script>
    <script src="resources/angular/angular-messages.min.js" type="text/javascript"></script>
    <script src="resources/angular/angular-route.min.js" type="text/javascript"></script>
    <script src="resources/angular/angular-cookies.min.js" type="text/javascript"></script>
    <script src="resources/angular/angular-modal.js" type="text/javascript"></script>
    <script src="resources/angular/angular-timer-all.min.js" type="text/javascript"></script>
    <script src="resources/angular/angular-timer.js" type="text/javascript"></script>
    <script src="resources/angular/angular-moment.min.js" type="text/javascript"></script>
    <script src="resources/index.js" type="text/javascript"></script>
</head>
<body>

<h1>{{ title }}</h1>

<!--<form id="checkout" method="post" action="http://localhost:8080/drones-api/api/v1/payment/checkout">
    <div id="payment-form"></div>
    <input type="submit" value="Pay $10">
</form>-->
<!--<form id="checkout">
    <div class="row">
        <div class="col-lg-12" style="align-content: center">
            <div class="col-lg-12">
                <div>Card number</div>
                <input data-braintree-name="number" value="4111111111111111">
            </div>
            <div class="col-lg-12">
                <div>CVV</div>
                <input data-braintree-name="cvv" value="100">
            </div>
            <div class="col-lg-12">
                <div>Experation date</div>
                <input data-braintree-name="expiration_date" value="10/20">
            </div>
            <div class="col-lg-12">
                <div>Postal code</div>
                <input data-braintree-name="postal_code" value="94107">
            </div>
            <div class="col-lg-12">
                <div>Cardholder name</div>
                <input data-braintree-name="cardholder_name" value="John Smith">
            </div>
            <div class="col-lg-12">
                <input class="btn btn-primary" type="submit" id="submit" value="Pay">
            </div>
        </div>
    </div>
</form>-->

<div class="row" data-ng-repeat="existsCard in creditCards">
    <div class="col-lg-12" style="align-content: center">
        <div class="col-lg-12">
            <div>Card number</div>
            <input data-ng-model="existsCard.last4">
            <span data-ng-if="existsCard.default" style="background-color: greenyellow">Default card</span>
        </div>
        <div class="col-lg-12">
            <div>Expiration date</div>
            <input data-ng-model="existsCard.expirationMonth"> /
            <input data-ng-model="existsCard.expirationYear">
            <img data-ng-src="{{ existsCard.imageUrl }}" alt="img">
        </div>
        <div class="col-lg-12">
            <div>Cardholder name</div>
            <input data-ng-model="existsCard.cardholderName">
        </div>
        <div class="col-lg-12" data-ng-if="existsCard.newTransaction">
            <div>Amount</div>
            <input data-ng-model="existsCard.amount"> $
            <input class="btn btn-primary" type="submit" data-ng-click="sale(existsCard.token, existsCard.amount)" value="Pay">
            <input class="btn" type="submit" data-ng-click="changeGetCardStatus(existsCard)" value="Close">
        </div>
        <div class="col-lg-12">
            <input class="btn btn-primary" type="submit" id="submit" data-ng-disabled="newTransaction" data-ng-click="changeGetCardStatus(existsCard)" value="Pay with this card">
            <input class="btn btn-danger" type="submit" id="delete" data-ng-click="deleteCard(existsCard.token)" value="Delete card">
            <input class="btn btn-warning" type="submit" id="update" data-ng-click="updateCard(existsCard)" value="Update card">
        </div>
    </div>
    <br/>
    <br/>
</div>

<br/>
<input class="btn btn-block btn-primary" type="submit" value="Add new card"  data-ng-show="!newCard" data-ng-click="changeNewCardStatus()">
<input class="btn btn-block btn-primary" type="submit" value="Close New Card form"  data-ng-show="newCard" data-ng-click="changeNewCardStatus()">

<div class="row" data-ng-if="newCard">
    <div class="col-lg-12" style="align-content: center">
        <div class="col-lg-12">
            <div>Card number</div>
            <input data-ng-model="card.number">
        </div>
        <div class="col-lg-12">
            <div>CVV</div>
            <input data-ng-model="card.cvv">
        </div>
        <div class="col-lg-12">
            <div>Experation date</div>
            <input data-ng-model="card.expirationMonth"> /
            <input data-ng-model="card.expirationYear">
        </div>
        <div class="col-lg-12">
            <div>Cardholder name</div>
            <input data-ng-model="card.cardholderName">
        </div>
        <div class="col-lg-12">
            <input class="btn btn-primary" type="submit" id="submit1" data-ng-click="createCard(card)" value="Create">
        </div>
    </div>
</div>
<br/>
<h1>Projects</h1>
<span style="background-color: yellow">Create new project</span>
<div class="row" class="col-lg-12" style="align-content: center; margin-left: 10px">
    <textarea cols="100" rows="20" data-ng-model="projectToJson" width="100px"></textarea><br/>
    <input class="btn btn-primary" type="submit" data-ng-click="createProject(projectToJson)" value="Create new project">
</div>
<div class="row" data-ng-repeat="project in projects | orderBy: '-id'">
    <div class="col-lg-12" style="align-content: center">
        <span>ID: {{ project.id}} </span>
        <span>Title: {{ project.title}} </span>
        <input class="btn btn-danger" type="submit" data-ng-click="deleteProject(project.id)" value="Delete project">
    </div>
</div>

<script src="https://js.braintreegateway.com/js/braintree-2.32.0.min.js"></script>
<script>
    // We generated a client token for you so you can test out this code
    // immediately. In a production-ready integration, you will need to
    // generate a client token on your server (see section below).

   /* braintree.setup(clientToken, "dropin", {
        container: "payment-form"
    });*/
</script>
</body>
</html>