.l-abilities
  display flex
  margin 0 -2rem
  flex-wrap wrap

  &__title
    font-size 3.6rem
    text-transform: uppercase
    color #414141
    margin-bottom: 2.5rem

  &__item
    font-size 1.6rem
    color #2f2f2f
    margin-bottom: 1.5rem

  &__block
    margin: 0 2rem 3rem
    width calc(50% - 4rem)
    text-align center

  &__text
    font-size 1.6rem
    color #2f2f2f
