.l-abilities
  &__title
    font-size 3.6rem
    text-transform: uppercase
    color #414141
    margin-bottom: 25px;
  &__item
    font-size 1.6rem
    color #2f2f2f
    margin-bottom: 15px
  &__block
    margin-bottom: 30px
