.l-comments
  &__item
    padding 25px 0
    border-bottom 1px solid #000
  &__top
    display flex
    margin-bottom 5px
  &__name
  &__date
    font-size 1.8rem
    text-transform uppercase
    color #3d3d3d
  &__date
    margin-left 25px
  .l-rating
    margin-left 55px
    margin-top -4px
  .svg-star
  .svg-halfstar
  .svg-emptystar
    width 22px
    height 21px
  &__bottom
    p
      color #8a8a8a
      font-size 1.8rem
      line-height 28px
