@import '../../../styles/settings/variables.styl'

.l-comments
  &__item
    padding 28px 0
    border-bottom 1px solid #000
    display: flex
    justify-content flex-start
  &__left
    min-width: 110px
    flex-basis: 110px
    width: 110px
    display flex
    justify-content center
    align-items: flex-start
    padding-top: 6px
  &__link-img
    width: 66px
    height: 66px
    position: relative
    cursor: pointer
    &._user
      pointer-events: none
      cursor: default
  &__photo
    width: 100%
    height: 100%
    &-img
      width: 100%
      height: 100%
      border-radius: 50%
  &__top
    display flex
    margin-bottom 5px
  &__name
  &__date
    font-size 1.8rem
    text-transform uppercase
    color #3d3d3d
    letter-spacing: .05em
  &__name
    &._user
      cursor: default
  &__date
    margin-left 25px
  .l-rating
    margin-left 55px
    margin-top -4px
  .svg-star
  .svg-halfstar
  .svg-emptystar
    width 22px
    height 21px
  &__bottom
    p
      color $gray8A
      font-size 1.8rem
      line-height 28px
      letter-spacing: .05em
  .svg-usericon
    width 63px
    height 63px
