<div class="l-cards">
  <h3 class="l-cards__title">List of existing accounts</h3>
  <div class="l-cards__table">
    <div class="l-cards__row _header">
      <div class="l-cards__col _number">Card number</div>
      <div class="l-cards__col _card">Main card</div>
      <div class="l-cards__col _remove"></div>
    </div>
    <div class="l-cards__row">
      <div class="l-cards__col _number">
        <span class="l-cards__circle-group">
          <span></span>
          <span></span>
          <span></span>
          <span></span>

          <span></span>
          <span></span>
          <span></span>
          <span></span>

          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
        <span>4366</span>
      </div>
      <div class="l-cards__col _card">
        <label class="f-default__label l-cards__label _checkbox">
          <input class="f-default__chk"
                 type="checkbox"/>
          <span class="f-default__chk-span l-cards__chk-span"></span>
        </label>
      </div>
      <div class="l-cards__col _remove">
        <svg-use class="l-cards__trash" name="trash"></svg-use>
      </div>
    </div>
    <div class="l-cards__row">
      <div class="l-cards__col _number">
        <span class="l-cards__circle-group">
          <span></span>
          <span></span>
          <span></span>
          <span></span>

          <span></span>
          <span></span>
          <span></span>
          <span></span>

          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
        <span>5999</span>
      </div>
      <div class="l-cards__col _card">
        <label class="f-default__label l-cards__label _checkbox">
          <input class="f-default__chk"
                 type="checkbox"/>
          <span class="f-default__chk-span l-cards__chk-span"></span>
        </label>
      </div>
      <div class="l-cards__col _remove">
        <svg-use class="l-cards__trash" name="trash"></svg-use>
      </div>
    </div>
  </div>
</div>
