<div class="sl-saying">
  <div class="sl-saying__item">
    <h4 class="sl-saying__title">Pilot</h4>
    <span class="sl-saying__name">John Smith, Atlanta</span>
    <p class="sl-saying__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione. voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="sl-saying__item">
    <h4 class="sl-saying__title">Pilot</h4>
    <span class="sl-saying__name">Smith John, Nevada</span>
    <p class="sl-saying__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione. voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="sl-saying__item">
    <h4 class="sl-saying__title">Pilot</h4>
    <span class="sl-saying__name">Nicolas Braun, Alaska</span>
    <p class="sl-saying__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione. voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem. </p>
  </div>
</div>
