<div class="sl-saying">
  <div class="sl-saying__item">
    <h4 class="sl-saying__title">Client</h4>
    <span class="sl-saying__name">Steve in California</span>
    <p class="sl-saying__text">We needed video and images captured for a high profile insurance inspection. Our photos and video footage needed to be received immediately after the roof inspection. Drones4Hire delivered and exceeded all of our expectations. They offer excellent service with great communication and outstanding results.</p>
  </div>
  <div class="sl-saying__item">
    <h4 class="sl-saying__title">Pilot</h4>
    <span class="sl-saying__name">John in Ohio</span>
    <p class="sl-saying__text">Drones4Hire provided outstanding communication and updates throughout the job process. They were very easy to work with and very clear on the job details and timeframe required. We received payment for our work in full within 30 minutes of data transfer.</p>
  </div>
  <div class="sl-saying__item">
    <h4 class="sl-saying__title">Client</h4>
    <span class="sl-saying__name">Dana in Missouri</span>
    <p class="sl-saying__text">We were looking for someone to provide a marketing video to help us sell our home and land. Drones4Hire quickly located a pilot and had them on our property to capture awesome video footage for us. They did a FANTASTIC job. I would highly recommend them!</p>
  </div>
</div>
