<div class="sl-saying">
  <div class="sl-saying__item">
    <h4 class="sl-saying__title">Client</h4>
    <span class="sl-saying__name">Steve, California</span>
    <p class="sl-saying__text">We needed video and images immediately after this high profile commercial inspection. Drones4Hire delivered and exceeded our expectations. They offer an excellent service, process, speed, and results.</p>
  </div>
  <div class="sl-saying__item">
    <h4 class="sl-saying__title">Pilot</h4>
    <span class="sl-saying__name">John,  Ohio</span>
    <p class="sl-saying__text">Drones4Hire had outstanding communication from start to finish. They were very easy to work with and very clear on job details and timeframes. We received payment in full within 30 minutes of data transfer.</p>
  </div>
</div>
