modal-default
  position: relative
  z-index: 2
.modal-default
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  font-size: 0
  pointer-events: auto
  padding: 20px
  text-align: center
  z-index: 999
  background-color: rgba(0,0,0,0.8)
  overflow: hidden
  &:after
    content: ''
    display: inline-block
    vertical-align: middle
    width: 0
    height: 100%
  &__content
    font-size: 16px
    display: inline-block
    vertical-align: middle
    max-width: 800px
    overflow-y: auto
